=begin
#PayZu Pix API

#REST API for Pix operations on the PayZu platform, deposits, withdrawals, internal transfers, infractions, reports, and callback inspection. All amounts are in BRL (reais) unless explicitly noted. Authentication uses a Bearer token issued during onboarding.  ## SDKs oficiais  - Node.js: `npm install payzu-pix` - Python: `pip install payzu-pix` - PHP: `composer require payzu/pix` - Ruby: `gem install payzu-pix` - Java: `br.com.payzu:payzu-pix` (Maven Central) - Go: `go get github.com/PayZuAI/payzu-sdks/go`  Repo: https://github.com/PayZuAI/payzu-sdks 

The version of the OpenAPI document: 1.8.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module PayZuPix
  class CallbacksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create callback secret
    # Creates the account callback secret, used to sign deliveries sent to the transaction callbackUrl. The secret is returned once and cannot be read again.
    # @param [Hash] opts the optional parameters
    # @return [CallbackSecretResponse]
    def create_user_callback_secret(opts = {})
      data, _status_code, _headers = create_user_callback_secret_with_http_info(opts)
      data
    end

    # Create callback secret
    # Creates the account callback secret, used to sign deliveries sent to the transaction callbackUrl. The secret is returned once and cannot be read again.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallbackSecretResponse, Integer, Hash)>] CallbackSecretResponse data, response status code and response headers
    def create_user_callback_secret_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallbacksApi.create_user_callback_secret ...'
      end
      # resource path
      local_var_path = '/user/callbacks/secret'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallbackSecretResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallbacksApi.create_user_callback_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallbacksApi#create_user_callback_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Callback
    # Returns the details of a specific callback log.
    # @param id [String] Unique callback ID
    # @param [Hash] opts the optional parameters
    # @return [CallbackDetail]
    def get_user_callback_by_id(id, opts = {})
      data, _status_code, _headers = get_user_callback_by_id_with_http_info(id, opts)
      data
    end

    # Get Callback
    # Returns the details of a specific callback log.
    # @param id [String] Unique callback ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallbackDetail, Integer, Hash)>] CallbackDetail data, response status code and response headers
    def get_user_callback_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallbacksApi.get_user_callback_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CallbacksApi.get_user_callback_by_id"
      end
      # resource path
      local_var_path = '/user/callbacks/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallbackDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallbacksApi.get_user_callback_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallbacksApi#get_user_callback_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Callbacks
    # Returns a paginated list of webhook callback logs for the user's transactions.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number. (default to 1)
    # @option opts [Integer] :limit Items per page. (default to 10)
    # @option opts [String] :sort_by Sort field. (default to 'createdAt')
    # @option opts [String] :sort_direction Sort direction. (default to 'desc')
    # @option opts [String] :id Filter by callback ID
    # @option opts [String] :url Filter by callback URL
    # @option opts [Integer] :status HTTP status code
    # @option opts [String] :transaction_id Transaction ID.
    # @option opts [Boolean] :has_error Filter callbacks that errored
    # @option opts [Time] :created_at_from Start of the creation date range.
    # @option opts [Time] :created_at_to End of the creation date range.
    # @option opts [String] :webhook_id Webhook id.
    # @option opts [WebhookEventType] :event_type Webhook event type.
    # @return [CallbackListResponse]
    def get_user_callbacks(opts = {})
      data, _status_code, _headers = get_user_callbacks_with_http_info(opts)
      data
    end

    # List Callbacks
    # Returns a paginated list of webhook callback logs for the user&#39;s transactions.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number. (default to 1)
    # @option opts [Integer] :limit Items per page. (default to 10)
    # @option opts [String] :sort_by Sort field. (default to 'createdAt')
    # @option opts [String] :sort_direction Sort direction. (default to 'desc')
    # @option opts [String] :id Filter by callback ID
    # @option opts [String] :url Filter by callback URL
    # @option opts [Integer] :status HTTP status code
    # @option opts [String] :transaction_id Transaction ID.
    # @option opts [Boolean] :has_error Filter callbacks that errored
    # @option opts [Time] :created_at_from Start of the creation date range.
    # @option opts [Time] :created_at_to End of the creation date range.
    # @option opts [String] :webhook_id Webhook id.
    # @option opts [WebhookEventType] :event_type Webhook event type.
    # @return [Array<(CallbackListResponse, Integer, Hash)>] CallbackListResponse data, response status code and response headers
    def get_user_callbacks_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallbacksApi.get_user_callbacks ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling CallbacksApi.get_user_callbacks, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CallbacksApi.get_user_callbacks, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CallbacksApi.get_user_callbacks, must be greater than or equal to 1.'
      end

      allowable_values = ["createdAt", "status"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_direction'] && !allowable_values.include?(opts[:'sort_direction'])
        fail ArgumentError, "invalid value for \"sort_direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/user/callbacks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sortDirection'] = opts[:'sort_direction'] if !opts[:'sort_direction'].nil?
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'transactionId'] = opts[:'transaction_id'] if !opts[:'transaction_id'].nil?
      query_params[:'hasError'] = opts[:'has_error'] if !opts[:'has_error'].nil?
      query_params[:'createdAtFrom'] = opts[:'created_at_from'] if !opts[:'created_at_from'].nil?
      query_params[:'createdAtTo'] = opts[:'created_at_to'] if !opts[:'created_at_to'].nil?
      query_params[:'webhookId'] = opts[:'webhook_id'] if !opts[:'webhook_id'].nil?
      query_params[:'eventType'] = opts[:'event_type'] if !opts[:'event_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallbackListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallbacksApi.get_user_callbacks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallbacksApi#get_user_callbacks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Re-send callback (single)
    # Resend the callback of a single transaction.
    # @param transaction_id [String] Transaction ID.
    # @param [Hash] opts the optional parameters
    # @return [ResendUserCallbackSingle200Response]
    def resend_user_callback_single(transaction_id, opts = {})
      data, _status_code, _headers = resend_user_callback_single_with_http_info(transaction_id, opts)
      data
    end

    # Re-send callback (single)
    # Resend the callback of a single transaction.
    # @param transaction_id [String] Transaction ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResendUserCallbackSingle200Response, Integer, Hash)>] ResendUserCallbackSingle200Response data, response status code and response headers
    def resend_user_callback_single_with_http_info(transaction_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallbacksApi.resend_user_callback_single ...'
      end
      # verify the required parameter 'transaction_id' is set
      if @api_client.config.client_side_validation && transaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_id' when calling CallbacksApi.resend_user_callback_single"
      end
      # resource path
      local_var_path = '/user/callbacks/resend/{transactionId}'.sub('{transactionId}', CGI.escape(transaction_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResendUserCallbackSingle200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallbacksApi.resend_user_callback_single",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallbacksApi#resend_user_callback_single\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Re-send callbacks (bulk)
    # Resend callbacks in bulk for transactions matching the given filters.
    # @param resend_user_callbacks_request [ResendUserCallbacksRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ResendUserCallbacks200Response]
    def resend_user_callbacks(resend_user_callbacks_request, opts = {})
      data, _status_code, _headers = resend_user_callbacks_with_http_info(resend_user_callbacks_request, opts)
      data
    end

    # Re-send callbacks (bulk)
    # Resend callbacks in bulk for transactions matching the given filters.
    # @param resend_user_callbacks_request [ResendUserCallbacksRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResendUserCallbacks200Response, Integer, Hash)>] ResendUserCallbacks200Response data, response status code and response headers
    def resend_user_callbacks_with_http_info(resend_user_callbacks_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallbacksApi.resend_user_callbacks ...'
      end
      # verify the required parameter 'resend_user_callbacks_request' is set
      if @api_client.config.client_side_validation && resend_user_callbacks_request.nil?
        fail ArgumentError, "Missing the required parameter 'resend_user_callbacks_request' when calling CallbacksApi.resend_user_callbacks"
      end
      # resource path
      local_var_path = '/user/callbacks/resend'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(resend_user_callbacks_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResendUserCallbacks200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallbacksApi.resend_user_callbacks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallbacksApi#resend_user_callbacks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resend callbacks by webhook
    # Queues a bulk resend of the failed callbacks of a given webhook.
    # @param webhook_id [String] Webhook id.
    # @param [Hash] opts the optional parameters
    # @return [EnqueuedCallback]
    def resend_user_callbacks_webhook(webhook_id, opts = {})
      data, _status_code, _headers = resend_user_callbacks_webhook_with_http_info(webhook_id, opts)
      data
    end

    # Resend callbacks by webhook
    # Queues a bulk resend of the failed callbacks of a given webhook.
    # @param webhook_id [String] Webhook id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnqueuedCallback, Integer, Hash)>] EnqueuedCallback data, response status code and response headers
    def resend_user_callbacks_webhook_with_http_info(webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallbacksApi.resend_user_callbacks_webhook ...'
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling CallbacksApi.resend_user_callbacks_webhook"
      end
      # resource path
      local_var_path = '/user/callbacks/resend/webhook/{webhookId}'.sub('{webhookId}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EnqueuedCallback'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallbacksApi.resend_user_callbacks_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallbacksApi#resend_user_callbacks_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resend webhook callbacks by filters
    # Queues the resend of failed webhook deliveries in a period. For each webhook, transaction and event, only the last delivery attempt in the period counts, and it is resent only when it failed. The filters apply to the transactions of those deliveries.
    # @param resend_webhook_callbacks_request [ResendWebhookCallbacksRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EnqueuedCallback]
    def resend_user_callbacks_webhooks(resend_webhook_callbacks_request, opts = {})
      data, _status_code, _headers = resend_user_callbacks_webhooks_with_http_info(resend_webhook_callbacks_request, opts)
      data
    end

    # Resend webhook callbacks by filters
    # Queues the resend of failed webhook deliveries in a period. For each webhook, transaction and event, only the last delivery attempt in the period counts, and it is resent only when it failed. The filters apply to the transactions of those deliveries.
    # @param resend_webhook_callbacks_request [ResendWebhookCallbacksRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnqueuedCallback, Integer, Hash)>] EnqueuedCallback data, response status code and response headers
    def resend_user_callbacks_webhooks_with_http_info(resend_webhook_callbacks_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallbacksApi.resend_user_callbacks_webhooks ...'
      end
      # verify the required parameter 'resend_webhook_callbacks_request' is set
      if @api_client.config.client_side_validation && resend_webhook_callbacks_request.nil?
        fail ArgumentError, "Missing the required parameter 'resend_webhook_callbacks_request' when calling CallbacksApi.resend_user_callbacks_webhooks"
      end
      # resource path
      local_var_path = '/user/callbacks/resend/webhook'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(resend_webhook_callbacks_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EnqueuedCallback'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallbacksApi.resend_user_callbacks_webhooks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallbacksApi#resend_user_callbacks_webhooks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate callback secret
    # Replaces the account callback secret. Deliveries start being signed with the new secret right away.
    # @param [Hash] opts the optional parameters
    # @return [RotateCallbackSecretResponse]
    def rotate_user_callback_secret(opts = {})
      data, _status_code, _headers = rotate_user_callback_secret_with_http_info(opts)
      data
    end

    # Rotate callback secret
    # Replaces the account callback secret. Deliveries start being signed with the new secret right away.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RotateCallbackSecretResponse, Integer, Hash)>] RotateCallbackSecretResponse data, response status code and response headers
    def rotate_user_callback_secret_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallbacksApi.rotate_user_callback_secret ...'
      end
      # resource path
      local_var_path = '/user/callbacks/secret/rotate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RotateCallbackSecretResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallbacksApi.rotate_user_callback_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallbacksApi#rotate_user_callback_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
