=begin
#PayZu Pix API

#REST API for Pix operations on the PayZu platform, deposits, withdrawals, internal transfers, infractions, reports, and callback inspection. All amounts are in BRL (reais) unless explicitly noted. Authentication uses a Bearer token issued during onboarding.  ## SDKs oficiais  - Node.js: `npm install payzu-pix` - Python: `pip install payzu-pix` - PHP: `composer require payzu/pix` - Ruby: `gem install payzu-pix` - Java: `br.com.payzu:payzu-pix` (Maven Central) - Go: `go get github.com/PayZuAI/payzu-sdks/go`  Repo: https://github.com/PayZuAI/payzu-sdks 

The version of the OpenAPI document: 1.8.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module PayZuPix
  class InfractionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List Infractions
    # List all infractions for the authenticated user with pagination and filters.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number. (default to 1)
    # @option opts [Integer] :limit Items per page. (default to 10)
    # @option opts [String] :status Comma-separated InfractionStatus (WAITING_PSP,CLOSED,OPEN,CANCELLED,ACKNOWLEDGED,DEFENDED,ANSWERED,WAITING_ADJUSTMENTS)
    # @option opts [String] :type Comma-separated InfractionType (REFUND_REQUEST,FRAUD,REFUND_CANCELLED)
    # @option opts [String] :end_to_end_id End-to-end ID of the Pix.
    # @option opts [String] :transaction_id Transaction ID.
    # @option opts [Float] :amount_min Minimum amount.
    # @option opts [Float] :amount_max Maximum amount.
    # @option opts [String] :analysis_result Comma-separated AnalysisResult: AGREED, DISAGREED.
    # @option opts [String] :reported_by Comma-separated ReportedType (DEBITED_PARTICIPANT,CREDITED_PARTICIPANT)
    # @option opts [String] :participant_document CPF or CNPJ of the participant.
    # @option opts [String] :participant_name Name of the participant.
    # @option opts [String] :sort_by Sort field. (default to 'createdAt')
    # @option opts [String] :sort_direction Sort direction. (default to 'desc')
    # @option opts [Time] :reported_at_from Filter: reportedAt from.
    # @option opts [Time] :reported_at_to Filter: reportedAt up to.
    # @option opts [Time] :created_at_from Filter: createdAt from.
    # @option opts [Time] :created_at_to Filter: createdAt up to.
    # @option opts [Time] :expires_at_from Filter: expiresAt from.
    # @option opts [Time] :expires_at_to Filter: expiresAt up to.
    # @option opts [Time] :updated_at_from Filter: updatedAt from.
    # @option opts [Time] :updated_at_to Filter: updatedAt up to.
    # @option opts [String] :id Filter by infraction ID.
    # @option opts [String] :protocol Filter by protocol.
    # @return [InfractionListResponse]
    def get_infractions(opts = {})
      data, _status_code, _headers = get_infractions_with_http_info(opts)
      data
    end

    # List Infractions
    # List all infractions for the authenticated user with pagination and filters.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number. (default to 1)
    # @option opts [Integer] :limit Items per page. (default to 10)
    # @option opts [String] :status Comma-separated InfractionStatus (WAITING_PSP,CLOSED,OPEN,CANCELLED,ACKNOWLEDGED,DEFENDED,ANSWERED,WAITING_ADJUSTMENTS)
    # @option opts [String] :type Comma-separated InfractionType (REFUND_REQUEST,FRAUD,REFUND_CANCELLED)
    # @option opts [String] :end_to_end_id End-to-end ID of the Pix.
    # @option opts [String] :transaction_id Transaction ID.
    # @option opts [Float] :amount_min Minimum amount.
    # @option opts [Float] :amount_max Maximum amount.
    # @option opts [String] :analysis_result Comma-separated AnalysisResult: AGREED, DISAGREED.
    # @option opts [String] :reported_by Comma-separated ReportedType (DEBITED_PARTICIPANT,CREDITED_PARTICIPANT)
    # @option opts [String] :participant_document CPF or CNPJ of the participant.
    # @option opts [String] :participant_name Name of the participant.
    # @option opts [String] :sort_by Sort field. (default to 'createdAt')
    # @option opts [String] :sort_direction Sort direction. (default to 'desc')
    # @option opts [Time] :reported_at_from Filter: reportedAt from.
    # @option opts [Time] :reported_at_to Filter: reportedAt up to.
    # @option opts [Time] :created_at_from Filter: createdAt from.
    # @option opts [Time] :created_at_to Filter: createdAt up to.
    # @option opts [Time] :expires_at_from Filter: expiresAt from.
    # @option opts [Time] :expires_at_to Filter: expiresAt up to.
    # @option opts [Time] :updated_at_from Filter: updatedAt from.
    # @option opts [Time] :updated_at_to Filter: updatedAt up to.
    # @option opts [String] :id Filter by infraction ID.
    # @option opts [String] :protocol Filter by protocol.
    # @return [Array<(InfractionListResponse, Integer, Hash)>] InfractionListResponse data, response status code and response headers
    def get_infractions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfractionsApi.get_infractions ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling InfractionsApi.get_infractions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InfractionsApi.get_infractions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InfractionsApi.get_infractions, must be greater than or equal to 1.'
      end

      allowable_values = ["createdAt", "updatedAt"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_direction'] && !allowable_values.include?(opts[:'sort_direction'])
        fail ArgumentError, "invalid value for \"sort_direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/user/infractions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'endToEndId'] = opts[:'end_to_end_id'] if !opts[:'end_to_end_id'].nil?
      query_params[:'transactionId'] = opts[:'transaction_id'] if !opts[:'transaction_id'].nil?
      query_params[:'amountMin'] = opts[:'amount_min'] if !opts[:'amount_min'].nil?
      query_params[:'amountMax'] = opts[:'amount_max'] if !opts[:'amount_max'].nil?
      query_params[:'analysisResult'] = opts[:'analysis_result'] if !opts[:'analysis_result'].nil?
      query_params[:'reportedBy'] = opts[:'reported_by'] if !opts[:'reported_by'].nil?
      query_params[:'participantDocument'] = opts[:'participant_document'] if !opts[:'participant_document'].nil?
      query_params[:'participantName'] = opts[:'participant_name'] if !opts[:'participant_name'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sortDirection'] = opts[:'sort_direction'] if !opts[:'sort_direction'].nil?
      query_params[:'reportedAtFrom'] = opts[:'reported_at_from'] if !opts[:'reported_at_from'].nil?
      query_params[:'reportedAtTo'] = opts[:'reported_at_to'] if !opts[:'reported_at_to'].nil?
      query_params[:'createdAtFrom'] = opts[:'created_at_from'] if !opts[:'created_at_from'].nil?
      query_params[:'createdAtTo'] = opts[:'created_at_to'] if !opts[:'created_at_to'].nil?
      query_params[:'expiresAtFrom'] = opts[:'expires_at_from'] if !opts[:'expires_at_from'].nil?
      query_params[:'expiresAtTo'] = opts[:'expires_at_to'] if !opts[:'expires_at_to'].nil?
      query_params[:'updatedAtFrom'] = opts[:'updated_at_from'] if !opts[:'updated_at_from'].nil?
      query_params[:'updatedAtTo'] = opts[:'updated_at_to'] if !opts[:'updated_at_to'].nil?
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'protocol'] = opts[:'protocol'] if !opts[:'protocol'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InfractionListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"InfractionsApi.get_infractions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfractionsApi#get_infractions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Infraction
    # Get a specific infraction by ID.
    # @param id [String] Infraction ID
    # @param [Hash] opts the optional parameters
    # @return [InfractionDetail]
    def get_infractions_by_id(id, opts = {})
      data, _status_code, _headers = get_infractions_by_id_with_http_info(id, opts)
      data
    end

    # Get Infraction
    # Get a specific infraction by ID.
    # @param id [String] Infraction ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(InfractionDetail, Integer, Hash)>] InfractionDetail data, response status code and response headers
    def get_infractions_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfractionsApi.get_infractions_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InfractionsApi.get_infractions_by_id"
      end
      # resource path
      local_var_path = '/user/infractions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InfractionDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"InfractionsApi.get_infractions_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfractionsApi#get_infractions_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Defense
    # Get a specific defense for an infraction.
    # @param infraction_id [String] Infraction ID
    # @param defense_id [String] Defense ID
    # @param [Hash] opts the optional parameters
    # @return [Defense]
    def get_infractions_defense_by_id(infraction_id, defense_id, opts = {})
      data, _status_code, _headers = get_infractions_defense_by_id_with_http_info(infraction_id, defense_id, opts)
      data
    end

    # Get Defense
    # Get a specific defense for an infraction.
    # @param infraction_id [String] Infraction ID
    # @param defense_id [String] Defense ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Defense, Integer, Hash)>] Defense data, response status code and response headers
    def get_infractions_defense_by_id_with_http_info(infraction_id, defense_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfractionsApi.get_infractions_defense_by_id ...'
      end
      # verify the required parameter 'infraction_id' is set
      if @api_client.config.client_side_validation && infraction_id.nil?
        fail ArgumentError, "Missing the required parameter 'infraction_id' when calling InfractionsApi.get_infractions_defense_by_id"
      end
      # verify the required parameter 'defense_id' is set
      if @api_client.config.client_side_validation && defense_id.nil?
        fail ArgumentError, "Missing the required parameter 'defense_id' when calling InfractionsApi.get_infractions_defense_by_id"
      end
      # resource path
      local_var_path = '/user/infractions/{infractionId}/defenses/{defenseId}'.sub('{infractionId}', CGI.escape(infraction_id.to_s)).sub('{defenseId}', CGI.escape(defense_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Defense'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"InfractionsApi.get_infractions_defense_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfractionsApi#get_infractions_defense_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Defenses
    # List all defenses for a specific infraction.
    # @param id [String] Infraction ID
    # @param [Hash] opts the optional parameters
    # @return [Array<Defense>]
    def get_infractions_defenses(id, opts = {})
      data, _status_code, _headers = get_infractions_defenses_with_http_info(id, opts)
      data
    end

    # List Defenses
    # List all defenses for a specific infraction.
    # @param id [String] Infraction ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Defense>, Integer, Hash)>] Array<Defense> data, response status code and response headers
    def get_infractions_defenses_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfractionsApi.get_infractions_defenses ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InfractionsApi.get_infractions_defenses"
      end
      # resource path
      local_var_path = '/user/infractions/{id}/defenses'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Defense>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"InfractionsApi.get_infractions_defenses",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfractionsApi#get_infractions_defenses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Defense
    # Create a defense for a specific infraction.
    # @param id [String] Infraction ID
    # @param defense [String] Defense text (max: 1000 characters)
    # @param [Hash] opts the optional parameters
    # @option opts [Array<File>] :files Evidence files: up to 5 files, 10 MB each and 10 MB in total. Files .exe, .msi, .bat, .sh and .cmd are rejected.
    # @return [Defense]
    def post_infractions_defense(id, defense, opts = {})
      data, _status_code, _headers = post_infractions_defense_with_http_info(id, defense, opts)
      data
    end

    # Create Defense
    # Create a defense for a specific infraction.
    # @param id [String] Infraction ID
    # @param defense [String] Defense text (max: 1000 characters)
    # @param [Hash] opts the optional parameters
    # @option opts [Array<File>] :files Evidence files: up to 5 files, 10 MB each and 10 MB in total. Files .exe, .msi, .bat, .sh and .cmd are rejected.
    # @return [Array<(Defense, Integer, Hash)>] Defense data, response status code and response headers
    def post_infractions_defense_with_http_info(id, defense, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InfractionsApi.post_infractions_defense ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InfractionsApi.post_infractions_defense"
      end
      # verify the required parameter 'defense' is set
      if @api_client.config.client_side_validation && defense.nil?
        fail ArgumentError, "Missing the required parameter 'defense' when calling InfractionsApi.post_infractions_defense"
      end
      if @api_client.config.client_side_validation && defense.to_s.length > 1000
        fail ArgumentError, 'invalid value for "defense" when calling InfractionsApi.post_infractions_defense, the character length must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && defense.to_s.length < 1
        fail ArgumentError, 'invalid value for "defense" when calling InfractionsApi.post_infractions_defense, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/user/infractions/{id}/defenses'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['defense'] = defense
      form_params['files'] = @api_client.build_collection_param(opts[:'files'], :csv) if !opts[:'files'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Defense'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"InfractionsApi.post_infractions_defense",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InfractionsApi#post_infractions_defense\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
