=begin
#PayZu Pix API

#REST API for Pix operations on the PayZu platform, deposits, withdrawals, internal transfers, infractions, reports, and callback inspection. All amounts are in BRL (reais) unless explicitly noted. Authentication uses a Bearer token issued during onboarding.  ## SDKs oficiais  - Node.js: `npm install payzu-pix` - Python: `pip install payzu-pix` - PHP: `composer require payzu/pix` - Ruby: `gem install payzu-pix` - Java: `br.com.payzu:payzu-pix` (Maven Central) - Go: `go get github.com/PayZuAI/payzu-sdks/go/v2`  Repo: https://github.com/PayZuAI/payzu-sdks 

The version of the OpenAPI document: 1.8.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module PayZuPix
  class PixOperationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve Charge
    # Get the latest status and details of a transaction of the account. Provide at least one of `id`, `clientReference`, or `endToEndId` (`virtualAccount` is also accepted). When more than one parameter is provided, they are combined as filters (AND).  Token permission: `DEPOSIT`.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Transaction ID.
    # @option opts [String] :client_reference External reference provided when creating the charge.
    # @option opts [String] :end_to_end_id Pix end-to-end ID.
    # @option opts [String] :virtual_account Virtual sub-account (up to 50 characters) used at creation. Accepted as an alternative lookup key.
    # @return [Transaction]
    def get_pix(opts = {})
      data, _status_code, _headers = get_pix_with_http_info(opts)
      data
    end

    # Retrieve Charge
    # Get the latest status and details of a transaction of the account. Provide at least one of &#x60;id&#x60;, &#x60;clientReference&#x60;, or &#x60;endToEndId&#x60; (&#x60;virtualAccount&#x60; is also accepted). When more than one parameter is provided, they are combined as filters (AND).  Token permission: &#x60;DEPOSIT&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Transaction ID.
    # @option opts [String] :client_reference External reference provided when creating the charge.
    # @option opts [String] :end_to_end_id Pix end-to-end ID.
    # @option opts [String] :virtual_account Virtual sub-account (up to 50 characters) used at creation. Accepted as an alternative lookup key.
    # @return [Array<(Transaction, Integer, Hash)>] Transaction data, response status code and response headers
    def get_pix_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PixOperationsApi.get_pix ...'
      end
      if @api_client.config.client_side_validation && !opts[:'client_reference'].nil? && opts[:'client_reference'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"client_reference"]" when calling PixOperationsApi.get_pix, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && !opts[:'virtual_account'].nil? && opts[:'virtual_account'].to_s.length > 50
        fail ArgumentError, 'invalid value for "opts[:"virtual_account"]" when calling PixOperationsApi.get_pix, the character length must be smaller than or equal to 50.'
      end

      # resource path
      local_var_path = '/pix'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'clientReference'] = opts[:'client_reference'] if !opts[:'client_reference'].nil?
      query_params[:'endToEndId'] = opts[:'end_to_end_id'] if !opts[:'end_to_end_id'].nil?
      query_params[:'virtualAccount'] = opts[:'virtual_account'] if !opts[:'virtual_account'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Transaction'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PixOperationsApi.get_pix",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PixOperationsApi#get_pix\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Render Pix QR code (PNG)
    # Render the Pix QR Code of a deposit as a binary PNG image  Token permission: `DEPOSIT`.
    # @param transaction_id [String] Transaction ID.
    # @param [Hash] opts the optional parameters
    # @return [File]
    def get_pix_qrcode(transaction_id, opts = {})
      data, _status_code, _headers = get_pix_qrcode_with_http_info(transaction_id, opts)
      data
    end

    # Render Pix QR code (PNG)
    # Render the Pix QR Code of a deposit as a binary PNG image  Token permission: &#x60;DEPOSIT&#x60;.
    # @param transaction_id [String] Transaction ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def get_pix_qrcode_with_http_info(transaction_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PixOperationsApi.get_pix_qrcode ...'
      end
      # verify the required parameter 'transaction_id' is set
      if @api_client.config.client_side_validation && transaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_id' when calling PixOperationsApi.get_pix_qrcode"
      end
      # resource path
      local_var_path = '/pix/qr-code/{transactionId}'.sub('{transactionId}', CGI.escape(transaction_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['image/png', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PixOperationsApi.get_pix_qrcode",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PixOperationsApi#get_pix_qrcode\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Transaction Receipt
    # Returns the transaction receipt. By default (`type=pdf`) the response is the PDF file; with `type=base64` it is JSON with the `base64` field, the PDF as a data URI.
    # @param id [String] Transaction ID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type Return format. (default to 'pdf')
    # @return [ProofResponse]
    def get_proof(id, opts = {})
      data, _status_code, _headers = get_proof_with_http_info(id, opts)
      data
    end

    # Get Transaction Receipt
    # Returns the transaction receipt. By default (&#x60;type&#x3D;pdf&#x60;) the response is the PDF file; with &#x60;type&#x3D;base64&#x60; it is JSON with the &#x60;base64&#x60; field, the PDF as a data URI.
    # @param id [String] Transaction ID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type Return format. (default to 'pdf')
    # @return [Array<(ProofResponse, Integer, Hash)>] ProofResponse data, response status code and response headers
    def get_proof_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PixOperationsApi.get_proof ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PixOperationsApi.get_proof"
      end
      allowable_values = ["pdf", "base64"]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/proof/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/pdf']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProofResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PixOperationsApi.get_proof",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PixOperationsApi#get_proof\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Charge (Pix deposit)
    # Create a new Pix **deposit** (charge). Returns QR Code and transaction details.  Token permission: `DEPOSIT`.
    # @param post_pix_request [PostPixRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Transaction]
    def post_pix(post_pix_request, opts = {})
      data, _status_code, _headers = post_pix_with_http_info(post_pix_request, opts)
      data
    end

    # Create Charge (Pix deposit)
    # Create a new Pix **deposit** (charge). Returns QR Code and transaction details.  Token permission: &#x60;DEPOSIT&#x60;.
    # @param post_pix_request [PostPixRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Transaction, Integer, Hash)>] Transaction data, response status code and response headers
    def post_pix_with_http_info(post_pix_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PixOperationsApi.post_pix ...'
      end
      # verify the required parameter 'post_pix_request' is set
      if @api_client.config.client_side_validation && post_pix_request.nil?
        fail ArgumentError, "Missing the required parameter 'post_pix_request' when calling PixOperationsApi.post_pix"
      end
      # resource path
      local_var_path = '/pix'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(post_pix_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Transaction'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PixOperationsApi.post_pix",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PixOperationsApi#post_pix\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
