=begin
#PayZu Pix API

#REST API for Pix operations on the PayZu platform, deposits, withdrawals, internal transfers, infractions, reports, and callback inspection. All amounts are in BRL (reais) unless explicitly noted. Authentication uses a Bearer token issued during onboarding.  ## SDKs oficiais  - Node.js: `npm install payzu-pix` - Python: `pip install payzu-pix` - PHP: `composer require payzu/pix` - Ruby: `gem install payzu-pix` - Java: `br.com.payzu:payzu-pix` (Maven Central) - Go: `go get github.com/PayZuAI/payzu-sdks/go/v2`  Repo: https://github.com/PayZuAI/payzu-sdks 

The version of the OpenAPI document: 1.8.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module PayZuPix
  class ReportsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Download report
    # Returns a short-lived signed URL to download the CSV file.
    # @param id [String] Report ID.
    # @param [Hash] opts the optional parameters
    # @return [DownloadUserReport200Response]
    def download_user_report(id, opts = {})
      data, _status_code, _headers = download_user_report_with_http_info(id, opts)
      data
    end

    # Download report
    # Returns a short-lived signed URL to download the CSV file.
    # @param id [String] Report ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DownloadUserReport200Response, Integer, Hash)>] DownloadUserReport200Response data, response status code and response headers
    def download_user_report_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.download_user_report ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ReportsApi.download_user_report"
      end
      # resource path
      local_var_path = '/user/report/{id}/download'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DownloadUserReport200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ReportsApi.download_user_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#download_user_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get bank statement
    # Returns a single statement entry.
    # @param id [String] Statement entry id.
    # @param [Hash] opts the optional parameters
    # @return [BankStatement]
    def get_user_bank_statement(id, opts = {})
      data, _status_code, _headers = get_user_bank_statement_with_http_info(id, opts)
      data
    end

    # Get bank statement
    # Returns a single statement entry.
    # @param id [String] Statement entry id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BankStatement, Integer, Hash)>] BankStatement data, response status code and response headers
    def get_user_bank_statement_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.get_user_bank_statement ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ReportsApi.get_user_bank_statement"
      end
      # resource path
      local_var_path = '/user/bank-statements/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BankStatement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ReportsApi.get_user_bank_statement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#get_user_bank_statement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List bank statements
    # Lists the account statement entries. `createdAtFrom` and `createdAtTo` are required.
    # @param created_at_from [Time] Start date (required).
    # @param created_at_to [Time] End date (required).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Entry ID.
    # @option opts [String] :operation Operation type.  &#x60;INCREMENT&#x60; &#x60;DECREMENT&#x60;
    # @option opts [String] :reason Reason for the entry.
    # @option opts [String] :transaction_id Transaction ID.
    # @option opts [Float] :amount_from Minimum amount.
    # @option opts [Float] :amount_to Maximum amount.
    # @option opts [Integer] :page Page number. (default to 1)
    # @option opts [Integer] :limit Items per page. (default to 10)
    # @option opts [String] :sort_by Sort field. (default to 'createdAt')
    # @option opts [String] :sort_direction Sort direction. (default to 'desc')
    # @return [BankStatementListResponse]
    def get_user_bank_statements(created_at_from, created_at_to, opts = {})
      data, _status_code, _headers = get_user_bank_statements_with_http_info(created_at_from, created_at_to, opts)
      data
    end

    # List bank statements
    # Lists the account statement entries. &#x60;createdAtFrom&#x60; and &#x60;createdAtTo&#x60; are required.
    # @param created_at_from [Time] Start date (required).
    # @param created_at_to [Time] End date (required).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Entry ID.
    # @option opts [String] :operation Operation type.  &#x60;INCREMENT&#x60; &#x60;DECREMENT&#x60;
    # @option opts [String] :reason Reason for the entry.
    # @option opts [String] :transaction_id Transaction ID.
    # @option opts [Float] :amount_from Minimum amount.
    # @option opts [Float] :amount_to Maximum amount.
    # @option opts [Integer] :page Page number. (default to 1)
    # @option opts [Integer] :limit Items per page. (default to 10)
    # @option opts [String] :sort_by Sort field. (default to 'createdAt')
    # @option opts [String] :sort_direction Sort direction. (default to 'desc')
    # @return [Array<(BankStatementListResponse, Integer, Hash)>] BankStatementListResponse data, response status code and response headers
    def get_user_bank_statements_with_http_info(created_at_from, created_at_to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.get_user_bank_statements ...'
      end
      # verify the required parameter 'created_at_from' is set
      if @api_client.config.client_side_validation && created_at_from.nil?
        fail ArgumentError, "Missing the required parameter 'created_at_from' when calling ReportsApi.get_user_bank_statements"
      end
      # verify the required parameter 'created_at_to' is set
      if @api_client.config.client_side_validation && created_at_to.nil?
        fail ArgumentError, "Missing the required parameter 'created_at_to' when calling ReportsApi.get_user_bank_statements"
      end
      allowable_values = ["INCREMENT", "DECREMENT"]
      if @api_client.config.client_side_validation && opts[:'operation'] && !allowable_values.include?(opts[:'operation'])
        fail ArgumentError, "invalid value for \"operation\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReportsApi.get_user_bank_statements, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ReportsApi.get_user_bank_statements, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ReportsApi.get_user_bank_statements, must be greater than or equal to 1.'
      end

      allowable_values = ["createdAt", "amount"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_direction'] && !allowable_values.include?(opts[:'sort_direction'])
        fail ArgumentError, "invalid value for \"sort_direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/user/bank-statements'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'createdAtFrom'] = created_at_from
      query_params[:'createdAtTo'] = created_at_to
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'operation'] = opts[:'operation'] if !opts[:'operation'].nil?
      query_params[:'reason'] = opts[:'reason'] if !opts[:'reason'].nil?
      query_params[:'transactionId'] = opts[:'transaction_id'] if !opts[:'transaction_id'].nil?
      query_params[:'amountFrom'] = opts[:'amount_from'] if !opts[:'amount_from'].nil?
      query_params[:'amountTo'] = opts[:'amount_to'] if !opts[:'amount_to'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sortDirection'] = opts[:'sort_direction'] if !opts[:'sort_direction'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BankStatementListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ReportsApi.get_user_bank_statements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#get_user_bank_statements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List pending deposits
    # Lists deposits that are pending / not yet reconciled.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Comma-separated statuses: PENDING, APPROVED, REJECTED, EXPIRED, COMPLETED.
    # @option opts [String] :document CPF or CNPJ, digits only.
    # @option opts [String] :name Name of the payer or receiver.
    # @option opts [String] :end_to_end_id End-to-end ID of the Pix.
    # @option opts [Float] :amount_min Minimum amount.
    # @option opts [Float] :amount_max Maximum amount.
    # @option opts [Time] :created_at_from Start of the creation date range.
    # @option opts [Time] :created_at_to End of the creation date range.
    # @option opts [Integer] :page Page number. (default to 1)
    # @option opts [Integer] :limit Items per page. (default to 20)
    # @return [DepositPendingListResponse]
    def get_user_deposit_pending(opts = {})
      data, _status_code, _headers = get_user_deposit_pending_with_http_info(opts)
      data
    end

    # List pending deposits
    # Lists deposits that are pending / not yet reconciled.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Comma-separated statuses: PENDING, APPROVED, REJECTED, EXPIRED, COMPLETED.
    # @option opts [String] :document CPF or CNPJ, digits only.
    # @option opts [String] :name Name of the payer or receiver.
    # @option opts [String] :end_to_end_id End-to-end ID of the Pix.
    # @option opts [Float] :amount_min Minimum amount.
    # @option opts [Float] :amount_max Maximum amount.
    # @option opts [Time] :created_at_from Start of the creation date range.
    # @option opts [Time] :created_at_to End of the creation date range.
    # @option opts [Integer] :page Page number. (default to 1)
    # @option opts [Integer] :limit Items per page. (default to 20)
    # @return [Array<(DepositPendingListResponse, Integer, Hash)>] DepositPendingListResponse data, response status code and response headers
    def get_user_deposit_pending_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.get_user_deposit_pending ...'
      end
      pattern = Regexp.new(/^[0-9]{11,14}$/)
      if @api_client.config.client_side_validation && !opts[:'document'].nil? && opts[:'document'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"document\"]' when calling ReportsApi.get_user_deposit_pending, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'amount_min'].nil? && opts[:'amount_min'] < 0.01
        fail ArgumentError, 'invalid value for "opts[:"amount_min"]" when calling ReportsApi.get_user_deposit_pending, must be greater than or equal to 0.01.'
      end

      if @api_client.config.client_side_validation && !opts[:'amount_max'].nil? && opts[:'amount_max'] < 0.01
        fail ArgumentError, 'invalid value for "opts[:"amount_max"]" when calling ReportsApi.get_user_deposit_pending, must be greater than or equal to 0.01.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReportsApi.get_user_deposit_pending, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ReportsApi.get_user_deposit_pending, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ReportsApi.get_user_deposit_pending, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/user/deposit-pending'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'document'] = opts[:'document'] if !opts[:'document'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'endToEndId'] = opts[:'end_to_end_id'] if !opts[:'end_to_end_id'].nil?
      query_params[:'amountMin'] = opts[:'amount_min'] if !opts[:'amount_min'].nil?
      query_params[:'amountMax'] = opts[:'amount_max'] if !opts[:'amount_max'].nil?
      query_params[:'createdAtFrom'] = opts[:'created_at_from'] if !opts[:'created_at_from'].nil?
      query_params[:'createdAtTo'] = opts[:'created_at_to'] if !opts[:'created_at_to'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DepositPendingListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ReportsApi.get_user_deposit_pending",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#get_user_deposit_pending\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pending deposit
    # Returns a single pending deposit.
    # @param id [String] Pending deposit id.
    # @param [Hash] opts the optional parameters
    # @return [DepositPending]
    def get_user_deposit_pending_by_id(id, opts = {})
      data, _status_code, _headers = get_user_deposit_pending_by_id_with_http_info(id, opts)
      data
    end

    # Get pending deposit
    # Returns a single pending deposit.
    # @param id [String] Pending deposit id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DepositPending, Integer, Hash)>] DepositPending data, response status code and response headers
    def get_user_deposit_pending_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.get_user_deposit_pending_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ReportsApi.get_user_deposit_pending_by_id"
      end
      # resource path
      local_var_path = '/user/deposit-pending/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DepositPending'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ReportsApi.get_user_deposit_pending_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#get_user_deposit_pending_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get report job status
    # Returns the status and metadata of a specific report job by `id`.
    # @param id [String] Report ID.
    # @param [Hash] opts the optional parameters
    # @return [ReportJobDetail]
    def get_user_report(id, opts = {})
      data, _status_code, _headers = get_user_report_with_http_info(id, opts)
      data
    end

    # Get report job status
    # Returns the status and metadata of a specific report job by &#x60;id&#x60;.
    # @param id [String] Report ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportJobDetail, Integer, Hash)>] ReportJobDetail data, response status code and response headers
    def get_user_report_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.get_user_report ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ReportsApi.get_user_report"
      end
      # resource path
      local_var_path = '/user/report/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportJobDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ReportsApi.get_user_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#get_user_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Transaction summary
    # Aggregated totals for deposits, withdrawals and commission over a period.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :date_from Start date. Default: start of the previous day (America/Sao_Paulo).
    # @option opts [Time] :date_to End date. Default: now.
    # @option opts [String] :group_by Grouping applied to the transactions. (default to 'day')
    # @option opts [Boolean] :grouped When true, returns a series grouped by date.
    # @return [Summary]
    def get_user_summary(opts = {})
      data, _status_code, _headers = get_user_summary_with_http_info(opts)
      data
    end

    # Transaction summary
    # Aggregated totals for deposits, withdrawals and commission over a period.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :date_from Start date. Default: start of the previous day (America/Sao_Paulo).
    # @option opts [Time] :date_to End date. Default: now.
    # @option opts [String] :group_by Grouping applied to the transactions. (default to 'day')
    # @option opts [Boolean] :grouped When true, returns a series grouped by date.
    # @return [Array<(Summary, Integer, Hash)>] Summary data, response status code and response headers
    def get_user_summary_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.get_user_summary ...'
      end
      allowable_values = ["day"]
      if @api_client.config.client_side_validation && opts[:'group_by'] && !allowable_values.include?(opts[:'group_by'])
        fail ArgumentError, "invalid value for \"group_by\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/user/summary'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dateFrom'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'dateTo'] = opts[:'date_to'] if !opts[:'date_to'].nil?
      query_params[:'groupBy'] = opts[:'group_by'] if !opts[:'group_by'].nil?
      query_params[:'grouped'] = opts[:'grouped'] if !opts[:'grouped'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Summary'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ReportsApi.get_user_summary",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#get_user_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List transaction details
    # Retrieve a single transaction with its callback log and linked infractions.
    # @param id [String] Transaction ID.
    # @param [Hash] opts the optional parameters
    # @return [GetUserTransactionById200Response]
    def get_user_transaction_by_id(id, opts = {})
      data, _status_code, _headers = get_user_transaction_by_id_with_http_info(id, opts)
      data
    end

    # List transaction details
    # Retrieve a single transaction with its callback log and linked infractions.
    # @param id [String] Transaction ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetUserTransactionById200Response, Integer, Hash)>] GetUserTransactionById200Response data, response status code and response headers
    def get_user_transaction_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.get_user_transaction_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ReportsApi.get_user_transaction_by_id"
      end
      # resource path
      local_var_path = '/user/transactions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserTransactionById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ReportsApi.get_user_transaction_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#get_user_transaction_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Transactions
    # Paginated list of account transactions with filters.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :date_from Start date-time (ISO 8601).
    # @option opts [Time] :date_to End date-time (ISO 8601).
    # @option opts [Integer] :limit Items per page (max 1000). (default to 10)
    # @option opts [Integer] :page Page number (default 1). (default to 1)
    # @option opts [String] :id Transaction ID.
    # @option opts [String] :status Transaction status. Accepts CSV: PENDING,COMPLETED,etc.
    # @option opts [String] :type Transaction type. Accepts CSV: DEPOSIT,WITHDRAW,COMMISSION,LIQUIDATION,ADJUSTMENT.
    # @option opts [String] :method Transaction method/rail. Accepts CSV: PIX,INTERNAL_TRANSFER.
    # @option opts [Float] :amount Amount filter. Minimum 0.01.
    # @option opts [String] :document CPF (11 digits) or CNPJ (14 digits), digits only, no punctuation.
    # @option opts [String] :name Name filter.
    # @option opts [String] :end_to_end_id Pix end-to-end ID.
    # @option opts [String] :sort_by Field to sort by (default to 'createdAt')
    # @option opts [String] :sort_direction Sort direction (default to 'desc')
    # @option opts [String] :client_reference Filter by external reference
    # @option opts [String] :virtual_account Virtual sub-account (up to 50 characters) used at creation. Accepted as an alternative lookup key.
    # @option opts [Boolean] :has_qr_code Only transactions with (true) or without (false) QR Code.
    # @return [GetUserTransactions200Response]
    def get_user_transactions(opts = {})
      data, _status_code, _headers = get_user_transactions_with_http_info(opts)
      data
    end

    # List Transactions
    # Paginated list of account transactions with filters.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :date_from Start date-time (ISO 8601).
    # @option opts [Time] :date_to End date-time (ISO 8601).
    # @option opts [Integer] :limit Items per page (max 1000). (default to 10)
    # @option opts [Integer] :page Page number (default 1). (default to 1)
    # @option opts [String] :id Transaction ID.
    # @option opts [String] :status Transaction status. Accepts CSV: PENDING,COMPLETED,etc.
    # @option opts [String] :type Transaction type. Accepts CSV: DEPOSIT,WITHDRAW,COMMISSION,LIQUIDATION,ADJUSTMENT.
    # @option opts [String] :method Transaction method/rail. Accepts CSV: PIX,INTERNAL_TRANSFER.
    # @option opts [Float] :amount Amount filter. Minimum 0.01.
    # @option opts [String] :document CPF (11 digits) or CNPJ (14 digits), digits only, no punctuation.
    # @option opts [String] :name Name filter.
    # @option opts [String] :end_to_end_id Pix end-to-end ID.
    # @option opts [String] :sort_by Field to sort by (default to 'createdAt')
    # @option opts [String] :sort_direction Sort direction (default to 'desc')
    # @option opts [String] :client_reference Filter by external reference
    # @option opts [String] :virtual_account Virtual sub-account (up to 50 characters) used at creation. Accepted as an alternative lookup key.
    # @option opts [Boolean] :has_qr_code Only transactions with (true) or without (false) QR Code.
    # @return [Array<(GetUserTransactions200Response, Integer, Hash)>] GetUserTransactions200Response data, response status code and response headers
    def get_user_transactions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.get_user_transactions ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ReportsApi.get_user_transactions, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ReportsApi.get_user_transactions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 100000
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReportsApi.get_user_transactions, must be smaller than or equal to 100000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReportsApi.get_user_transactions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'amount'].nil? && opts[:'amount'] < 0.01
        fail ArgumentError, 'invalid value for "opts[:"amount"]" when calling ReportsApi.get_user_transactions, must be greater than or equal to 0.01.'
      end

      pattern = Regexp.new(/^[0-9]{11,14}$/)
      if @api_client.config.client_side_validation && !opts[:'document'].nil? && opts[:'document'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"document\"]' when calling ReportsApi.get_user_transactions, must conform to the pattern #{pattern}."
      end

      allowable_values = ["createdAt", "updatedAt"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_direction'] && !allowable_values.include?(opts[:'sort_direction'])
        fail ArgumentError, "invalid value for \"sort_direction\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'client_reference'].nil? && opts[:'client_reference'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"client_reference"]" when calling ReportsApi.get_user_transactions, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && !opts[:'virtual_account'].nil? && opts[:'virtual_account'].to_s.length > 50
        fail ArgumentError, 'invalid value for "opts[:"virtual_account"]" when calling ReportsApi.get_user_transactions, the character length must be smaller than or equal to 50.'
      end

      # resource path
      local_var_path = '/user/transactions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dateFrom'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'dateTo'] = opts[:'date_to'] if !opts[:'date_to'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'method'] = opts[:'method'] if !opts[:'method'].nil?
      query_params[:'amount'] = opts[:'amount'] if !opts[:'amount'].nil?
      query_params[:'document'] = opts[:'document'] if !opts[:'document'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'endToEndId'] = opts[:'end_to_end_id'] if !opts[:'end_to_end_id'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sortDirection'] = opts[:'sort_direction'] if !opts[:'sort_direction'].nil?
      query_params[:'clientReference'] = opts[:'client_reference'] if !opts[:'client_reference'].nil?
      query_params[:'virtualAccount'] = opts[:'virtual_account'] if !opts[:'virtual_account'].nil?
      query_params[:'hasQrCode'] = opts[:'has_qr_code'] if !opts[:'has_qr_code'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserTransactions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ReportsApi.get_user_transactions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#get_user_transactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List report jobs
    # List report jobs created by the authenticated user.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number. (default to 1)
    # @option opts [Integer] :limit Items per page. (default to 10)
    # @option opts [String] :status Report status. Accepts CSV: PENDING,RUNNING,COMPLETED,FAILED.
    # @option opts [Time] :created_at_from Filter: created from.
    # @option opts [Time] :created_at_to Filter: created up to.
    # @option opts [Time] :updated_at_from Filter: updated from.
    # @option opts [Time] :updated_at_to Filter: updated up to.
    # @option opts [String] :sort_by Sort field. (default to 'createdAt')
    # @option opts [String] :sort_direction Sort direction. (default to 'desc')
    # @return [ListUserReports200Response]
    def list_user_reports(opts = {})
      data, _status_code, _headers = list_user_reports_with_http_info(opts)
      data
    end

    # List report jobs
    # List report jobs created by the authenticated user.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number. (default to 1)
    # @option opts [Integer] :limit Items per page. (default to 10)
    # @option opts [String] :status Report status. Accepts CSV: PENDING,RUNNING,COMPLETED,FAILED.
    # @option opts [Time] :created_at_from Filter: created from.
    # @option opts [Time] :created_at_to Filter: created up to.
    # @option opts [Time] :updated_at_from Filter: updated from.
    # @option opts [Time] :updated_at_to Filter: updated up to.
    # @option opts [String] :sort_by Sort field. (default to 'createdAt')
    # @option opts [String] :sort_direction Sort direction. (default to 'desc')
    # @return [Array<(ListUserReports200Response, Integer, Hash)>] ListUserReports200Response data, response status code and response headers
    def list_user_reports_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.list_user_reports ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ReportsApi.list_user_reports, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ReportsApi.list_user_reports, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ReportsApi.list_user_reports, must be greater than or equal to 1.'
      end

      allowable_values = ["createdAt", "updatedAt"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_direction'] && !allowable_values.include?(opts[:'sort_direction'])
        fail ArgumentError, "invalid value for \"sort_direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/user/report'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'createdAtFrom'] = opts[:'created_at_from'] if !opts[:'created_at_from'].nil?
      query_params[:'createdAtTo'] = opts[:'created_at_to'] if !opts[:'created_at_to'].nil?
      query_params[:'updatedAtFrom'] = opts[:'updated_at_from'] if !opts[:'updated_at_from'].nil?
      query_params[:'updatedAtTo'] = opts[:'updated_at_to'] if !opts[:'updated_at_to'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sortDirection'] = opts[:'sort_direction'] if !opts[:'sort_direction'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListUserReports200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ReportsApi.list_user_reports",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#list_user_reports\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate transactions report
    # Queue an asynchronous job that generates a CSV report of transactions for the given period and filters.
    # @param post_user_report_request [PostUserReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ReportJobAccepted]
    def post_user_report(post_user_report_request, opts = {})
      data, _status_code, _headers = post_user_report_with_http_info(post_user_report_request, opts)
      data
    end

    # Generate transactions report
    # Queue an asynchronous job that generates a CSV report of transactions for the given period and filters.
    # @param post_user_report_request [PostUserReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportJobAccepted, Integer, Hash)>] ReportJobAccepted data, response status code and response headers
    def post_user_report_with_http_info(post_user_report_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.post_user_report ...'
      end
      # verify the required parameter 'post_user_report_request' is set
      if @api_client.config.client_side_validation && post_user_report_request.nil?
        fail ArgumentError, "Missing the required parameter 'post_user_report_request' when calling ReportsApi.post_user_report"
      end
      # resource path
      local_var_path = '/user/report'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(post_user_report_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ReportJobAccepted'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ReportsApi.post_user_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#post_user_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
