=begin
#PayZu Pix API

#REST API for Pix operations on the PayZu platform, deposits, withdrawals, internal transfers, infractions, reports, and callback inspection. All amounts are in BRL (reais) unless explicitly noted. Authentication uses a Bearer token issued during onboarding.  ## SDKs oficiais  - Node.js: `npm install payzu-pix` - Python: `pip install payzu-pix` - PHP: `composer require payzu/pix` - Ruby: `gem install payzu-pix` - Java: `br.com.payzu:payzu-pix` (Maven Central) - Go: `go get github.com/PayZuAI/payzu-sdks/go/v2`  Repo: https://github.com/PayZuAI/payzu-sdks 

The version of the OpenAPI document: 1.8.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module PayZuPix
  class WebhooksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete webhook
    # Removes a webhook.
    # @param id [String] Webhook id.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_user_webhook(id, opts = {})
      delete_user_webhook_with_http_info(id, opts)
      nil
    end

    # Delete webhook
    # Removes a webhook.
    # @param id [String] Webhook id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_user_webhook_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.delete_user_webhook ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.delete_user_webhook"
      end
      # resource path
      local_var_path = '/user/webhooks/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.delete_user_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#delete_user_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get webhook
    # Returns a single webhook.
    # @param id [String] Webhook id.
    # @param [Hash] opts the optional parameters
    # @return [Webhook]
    def get_user_webhook(id, opts = {})
      data, _status_code, _headers = get_user_webhook_with_http_info(id, opts)
      data
    end

    # Get webhook
    # Returns a single webhook.
    # @param id [String] Webhook id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Webhook, Integer, Hash)>] Webhook data, response status code and response headers
    def get_user_webhook_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.get_user_webhook ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.get_user_webhook"
      end
      # resource path
      local_var_path = '/user/webhooks/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Webhook'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.get_user_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#get_user_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get sent callback detail
    # Returns the delivery detail of a single sent callback.
    # @param id [String] Webhook id.
    # @param callback_id [String] Callback log id.
    # @param [Hash] opts the optional parameters
    # @return [SentWebhookDetailResponse]
    def get_user_webhook_sent_detail(id, callback_id, opts = {})
      data, _status_code, _headers = get_user_webhook_sent_detail_with_http_info(id, callback_id, opts)
      data
    end

    # Get sent callback detail
    # Returns the delivery detail of a single sent callback.
    # @param id [String] Webhook id.
    # @param callback_id [String] Callback log id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SentWebhookDetailResponse, Integer, Hash)>] SentWebhookDetailResponse data, response status code and response headers
    def get_user_webhook_sent_detail_with_http_info(id, callback_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.get_user_webhook_sent_detail ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.get_user_webhook_sent_detail"
      end
      # verify the required parameter 'callback_id' is set
      if @api_client.config.client_side_validation && callback_id.nil?
        fail ArgumentError, "Missing the required parameter 'callback_id' when calling WebhooksApi.get_user_webhook_sent_detail"
      end
      # resource path
      local_var_path = '/user/webhooks/{id}/sent/{callbackId}'.sub('{id}', CGI.escape(id.to_s)).sub('{callbackId}', CGI.escape(callback_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SentWebhookDetailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.get_user_webhook_sent_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#get_user_webhook_sent_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List webhooks
    # Lists the webhooks registered for the account.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :active Filter by active status.
    # @return [WebhookListResponse]
    def get_user_webhooks(opts = {})
      data, _status_code, _headers = get_user_webhooks_with_http_info(opts)
      data
    end

    # List webhooks
    # Lists the webhooks registered for the account.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :active Filter by active status.
    # @return [Array<(WebhookListResponse, Integer, Hash)>] WebhookListResponse data, response status code and response headers
    def get_user_webhooks_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.get_user_webhooks ...'
      end
      # resource path
      local_var_path = '/user/webhooks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.get_user_webhooks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#get_user_webhooks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count sent callbacks
    # Returns how many webhook deliveries were made, optionally filtered by webhook.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :webhook_id Filter the count by webhook id.
    # @return [SentWebhooksQuantity]
    def get_user_webhooks_sent_quantity(opts = {})
      data, _status_code, _headers = get_user_webhooks_sent_quantity_with_http_info(opts)
      data
    end

    # Count sent callbacks
    # Returns how many webhook deliveries were made, optionally filtered by webhook.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :webhook_id Filter the count by webhook id.
    # @return [Array<(SentWebhooksQuantity, Integer, Hash)>] SentWebhooksQuantity data, response status code and response headers
    def get_user_webhooks_sent_quantity_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.get_user_webhooks_sent_quantity ...'
      end
      # resource path
      local_var_path = '/user/webhooks/sent/quantity'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'webhookId'] = opts[:'webhook_id'] if !opts[:'webhook_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SentWebhooksQuantity'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.get_user_webhooks_sent_quantity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#get_user_webhooks_sent_quantity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update webhook
    # Updates the url, active flag or events of a webhook. Provide at least one field.
    # @param id [String] Webhook id.
    # @param webhook_update_request [WebhookUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Webhook]
    def patch_user_webhook(id, webhook_update_request, opts = {})
      data, _status_code, _headers = patch_user_webhook_with_http_info(id, webhook_update_request, opts)
      data
    end

    # Update webhook
    # Updates the url, active flag or events of a webhook. Provide at least one field.
    # @param id [String] Webhook id.
    # @param webhook_update_request [WebhookUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Webhook, Integer, Hash)>] Webhook data, response status code and response headers
    def patch_user_webhook_with_http_info(id, webhook_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.patch_user_webhook ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.patch_user_webhook"
      end
      # verify the required parameter 'webhook_update_request' is set
      if @api_client.config.client_side_validation && webhook_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_update_request' when calling WebhooksApi.patch_user_webhook"
      end
      # resource path
      local_var_path = '/user/webhooks/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(webhook_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Webhook'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.patch_user_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#patch_user_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create webhook
    # Registers a webhook endpoint. If `generateSecret` is true, the response includes the HMAC `secret` (shown only here).
    # @param webhook_create_request [WebhookCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookWithSecret]
    def post_user_webhook(webhook_create_request, opts = {})
      data, _status_code, _headers = post_user_webhook_with_http_info(webhook_create_request, opts)
      data
    end

    # Create webhook
    # Registers a webhook endpoint. If &#x60;generateSecret&#x60; is true, the response includes the HMAC &#x60;secret&#x60; (shown only here).
    # @param webhook_create_request [WebhookCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookWithSecret, Integer, Hash)>] WebhookWithSecret data, response status code and response headers
    def post_user_webhook_with_http_info(webhook_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.post_user_webhook ...'
      end
      # verify the required parameter 'webhook_create_request' is set
      if @api_client.config.client_side_validation && webhook_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_create_request' when calling WebhooksApi.post_user_webhook"
      end
      # resource path
      local_var_path = '/user/webhooks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(webhook_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookWithSecret'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.post_user_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#post_user_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate webhook secret
    # Generates a new HMAC signing secret and invalidates the previous one. The new `secret` is shown only in this response.
    # @param id [String] Webhook id.
    # @param [Hash] opts the optional parameters
    # @return [RotateSecretResponse]
    def post_user_webhook_rotate_secret(id, opts = {})
      data, _status_code, _headers = post_user_webhook_rotate_secret_with_http_info(id, opts)
      data
    end

    # Rotate webhook secret
    # Generates a new HMAC signing secret and invalidates the previous one. The new &#x60;secret&#x60; is shown only in this response.
    # @param id [String] Webhook id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RotateSecretResponse, Integer, Hash)>] RotateSecretResponse data, response status code and response headers
    def post_user_webhook_rotate_secret_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.post_user_webhook_rotate_secret ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.post_user_webhook_rotate_secret"
      end
      # resource path
      local_var_path = '/user/webhooks/{id}/rotate-secret'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RotateSecretResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.post_user_webhook_rotate_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#post_user_webhook_rotate_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
