{
  "openapi": "3.1.0",
  "info": {
    "version": "1.8.0",
    "title": "PayZu Pix API",
    "description": "REST API for Pix operations on the PayZu platform, deposits, withdrawals, internal transfers, infractions, reports, and callback inspection. All amounts are in BRL (reais) unless explicitly noted. Authentication uses a Bearer token issued during onboarding.\n\n## SDKs oficiais\n\n- Node.js: `npm install payzu-pix`\n- Python: `pip install payzu-pix`\n- PHP: `composer require payzu/pix`\n- Ruby: `gem install payzu-pix`\n- Java: `br.com.payzu:payzu-pix` (Maven Central)\n- Go: `go get github.com/PayZuAI/payzu-sdks/go/v2`\n\nRepo: https://github.com/PayZuAI/payzu-sdks\n",
    "contact": {
      "name": "Suporte PayZu",
      "url": "https://suporte.payzu.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.payzu.processamento.com/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Pix Operations",
      "description": "Create and manage Pix charges (deposits)"
    },
    {
      "name": "Refunds",
      "description": "Refund received Pix charges, full or partial"
    },
    {
      "name": "Withdrawals",
      "description": "Send money via Pix (cash out) by Pix key or QR Code"
    },
    {
      "name": "Keys and DICT",
      "description": "Look up Pix keys in the DICT directory and decode Pix QR Codes before paying"
    },
    {
      "name": "Internal Transfer",
      "description": "Transfer funds between PayZu accounts (free, instant)"
    },
    {
      "name": "Account",
      "description": "Account profile, balance"
    },
    {
      "name": "Reports",
      "description": "Transaction history, reports, bank statements, and pending deposits"
    },
    {
      "name": "Callbacks",
      "description": "Webhook callback inspection and re-trigger"
    },
    {
      "name": "Webhooks",
      "description": "Register and manage webhook endpoints that receive transaction notifications"
    },
    {
      "name": "Infractions",
      "description": "Manage Pix infractions (disputes, fraud reports) and submit defenses"
    }
  ],
  "paths": {
    "/pix": {
      "post": {
        "summary": "Create Charge (Pix deposit)",
        "description": "Create a new Pix **deposit** (charge). Returns QR Code and transaction details.\n\nToken permission: `DEPOSIT`.",
        "operationId": "post_pix",
        "tags": [
          "Pix Operations"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostPixRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                },
                "examples": {
                  "created": {
                    "summary": "Created (PENDING)",
                    "value": {
                      "id": "PAYZU20260811R4TZ8WD1NC000000",
                      "status": "PENDING",
                      "amount": 10,
                      "type": "DEPOSIT",
                      "qrCodeText": "00020126870014br.gov.bcb.pix2565qrcode.payzu.com.br/dynamic/11111111-2222-3333-4444-5555555555555204000053039865802BR5908PAYZUPLUS6009SAO PAULO62070503***63047EE4",
                      "qrCodeBase64": "iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQCAYAAAC...",
                      "qrCodeUrl": "https://pix.payzu.com.br/v1/pix/qr-code/PAYZU20260811R4TZ8WD1NC000000",
                      "generatedName": "John Doe",
                      "generatedDocument": "12345678901",
                      "generatedEmail": "john.doe@example.com",
                      "serviceFeeCharged": 0.075,
                      "payerName": null,
                      "payerDocument": null,
                      "payerInstitutionIspb": null,
                      "payerInstitutionName": null,
                      "payerAccountNumber": null,
                      "receiverName": null,
                      "receiverDocument": null,
                      "receiverInstitutionIspb": null,
                      "receiverInstitutionName": null,
                      "receiverAccountNumber": "000000",
                      "endToEndId": null,
                      "createdAt": "2026-08-11T21:59:11.579Z",
                      "updatedAt": "2026-08-11T21:59:11.579Z",
                      "paidAt": null,
                      "withdrawPixKey": null,
                      "withdrawPixType": null,
                      "clientReference": "order_12345",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, payload or query string failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZV001": {
                    "summary": "Invalid data. Check the fields provided.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZV001",
                      "message": "Invalid data. Check the fields provided.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f",
                      "details": [
                        {
                          "field": "amount",
                          "message": "Too small: expected number to be >=1"
                        }
                      ]
                    }
                  },
                  "PZD600": {
                    "summary": "The minimum deposit amount is R$ 1.00.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZD600",
                      "message": "The minimum deposit amount is R$ 1.00.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZD601": {
                    "summary": "The maximum deposit amount is R$ 50,000.00.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZD601",
                      "message": "The maximum deposit amount is R$ 50,000.00.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZD602": {
                    "summary": "For deposits above {limite} the document is required.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZD602",
                      "message": "For deposits above {limite} the document is required.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZA100": {
                    "summary": "Unauthorized",
                    "value": {
                      "status": "ERROR",
                      "error": "Unauthorized",
                      "errorCode": "PZA100",
                      "message": "Unauthorized",
                      "statusCode": 401,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Operation not allowed, including a token without the required permission (PZA200)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZA200": {
                    "summary": "Forbidden",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZA200",
                      "message": "Forbidden",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZA206": {
                    "summary": "Account awaiting contract signature. Sign the contract sent to the legal repre...",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZA206",
                      "message": "Account awaiting contract signature. Sign the contract sent to the legal representative to release operations.",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Operation refused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZD200": {
                    "summary": "Deposit not allowed for this account.",
                    "value": {
                      "status": "ERROR",
                      "error": "Unprocessable Entity",
                      "errorCode": "PZD200",
                      "message": "Deposit not allowed for this account.",
                      "statusCode": 422,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "424": {
            "description": "Failure at the financial institution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZD100": {
                    "summary": "The deposit could not be created at the financial institution. Try again...",
                    "value": {
                      "status": "ERROR",
                      "error": "Failed Dependency",
                      "errorCode": "PZD100",
                      "message": "Could not generate the deposit with the financial institution. Try again.",
                      "statusCode": 424,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZD103": {
                    "summary": "The deposit processing timeout was reached. Try again.",
                    "value": {
                      "status": "ERROR",
                      "error": "Failed Dependency",
                      "errorCode": "PZD103",
                      "message": "The deposit processing timeout was reached. Try again.",
                      "statusCode": 424,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZD500": {
                    "summary": "No financial institution available at the moment. Try again shortly...",
                    "value": {
                      "status": "ERROR",
                      "error": "Failed Dependency",
                      "errorCode": "PZD500",
                      "message": "No financial institution available at the moment. Try again shortly.",
                      "statusCode": 424,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f",
                      "retryAfterSeconds": 5
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "x-codeSamples": [
          {
            "id": "curl",
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request POST \\\n  --url 'https://api.payzu.processamento.com/v1/pix' \\\n  --header 'Authorization: Bearer $PAYZU_TOKEN' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n  \"amount\": 10.9,\n  \"callbackUrl\": \"https://webhook.cool/\",\n  \"generatedName\": \"John Doe\",\n  \"generatedEmail\": \"john.doe@example.com\",\n  \"generatedDocument\": \"12345678901\",\n  \"expiresIn\": 600,\n  \"clientReference\": \"order_12345\",\n  \"virtualAccount\": \"loja-centro-01\"\n}'"
          },
          {
            "id": "js",
            "lang": "js",
            "label": "Node.js",
            "source": "import { PayZu } from 'payzu-pix';\n\nconst payzu = new PayZu({ token: process.env.PAYZU_TOKEN });\n\nconst charge = await payzu.pix.create({\n  amount: 10.9,\n  callbackUrl: 'https://webhook.cool/',\n  generatedName: 'John Doe',\n  generatedEmail: 'john.doe@example.com',\n  generatedDocument: '12345678901',\n  expiresIn: 600,\n  clientReference: 'order_12345',\n  virtualAccount: 'loja-centro-01'\n});\n\nconsole.log(charge.id, charge.status, charge.qrCodeText);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport payzu_pix\n\nconfig = payzu_pix.Configuration(\n    host='https://api.payzu.processamento.com/v1',\n    access_token=os.environ['PAYZU_TOKEN'],\n)\n\nwith payzu_pix.ApiClient(config) as client:\n    api = payzu_pix.PixOperationsApi(client)\n    request = payzu_pix.PostPixRequest(\n        amount=10.9,\n        callback_url='https://webhook.cool/',\n        generated_name='John Doe',\n        generated_email='john.doe@example.com',\n        generated_document='12345678901',\n        expires_in=600,\n        client_reference='order_12345',\n        virtual_account='loja-centro-01',\n    )\n    charge = api.post_pix(request)\n    print(charge.id, charge.status, charge.qr_code_text)"
          }
        ],
        "externalDocs": {
          "url": "/docs/pix-processamento/tutoriais/receive-pix",
          "description": "Receber pagamento Pix"
        }
      },
      "get": {
        "summary": "Retrieve Charge",
        "description": "Get the latest status and details of a transaction of the account. Provide at least one of `id`, `clientReference`, or `endToEndId` (`virtualAccount` is also accepted). When more than one parameter is provided, they are combined as filters (AND).\n\nToken permission: `DEPOSIT`.",
        "operationId": "get_pix",
        "tags": [
          "Pix Operations"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": false,
            "description": "Transaction ID.",
            "schema": {
              "type": "string"
            },
            "example": "PAYZU20260811R4TZ8WD1NC000000"
          },
          {
            "in": "query",
            "name": "clientReference",
            "required": false,
            "description": "External reference provided when creating the charge.",
            "schema": {
              "type": "string",
              "maxLength": 64
            },
            "example": "order_12345"
          },
          {
            "in": "query",
            "name": "endToEndId",
            "required": false,
            "description": "Pix end-to-end ID.",
            "schema": {
              "type": "string"
            },
            "example": "E00000000202508172159kZ8dQ2mNb1x"
          },
          {
            "name": "virtualAccount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            },
            "description": "Virtual sub-account (up to 50 characters) used at creation. Accepted as an alternative lookup key.",
            "example": "loja-centro-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Current transaction state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                },
                "examples": {
                  "pending": {
                    "summary": "Pending payment",
                    "value": {
                      "id": "PAYZU20260811R4TZ8WD1NC000000",
                      "status": "PENDING",
                      "amount": 10,
                      "type": "DEPOSIT",
                      "qrCodeText": "00020126870014br.gov.bcb.pix2565qrcode.payzu.com.br/dynamic/11111111-2222-3333-4444-5555555555555204000053039865802BR5908PAYZUPLUS6009SAO PAULO62070503***63047EE4",
                      "qrCodeBase64": "iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQCAYAAAC...",
                      "qrCodeUrl": "https://pix.payzu.com.br/v1/pix/qr-code/PAYZU20260811R4TZ8WD1NC000000",
                      "generatedName": "John Doe",
                      "generatedDocument": "12345678901",
                      "generatedEmail": "john.doe@example.com",
                      "serviceFeeCharged": 0.075,
                      "payerName": null,
                      "payerDocument": null,
                      "payerInstitutionIspb": null,
                      "payerInstitutionName": null,
                      "payerAccountNumber": null,
                      "receiverName": null,
                      "receiverDocument": null,
                      "receiverInstitutionIspb": null,
                      "receiverInstitutionName": null,
                      "receiverAccountNumber": "000000",
                      "endToEndId": null,
                      "createdAt": "2026-08-11T21:59:11.579Z",
                      "updatedAt": "2026-08-11T21:59:11.579Z",
                      "paidAt": null,
                      "withdrawPixKey": null,
                      "withdrawPixType": null,
                      "clientReference": "order_12345",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  },
                  "completed": {
                    "summary": "Completed payment",
                    "value": {
                      "id": "PAYZU20260811R4TZ8WD1NC000000",
                      "status": "COMPLETED",
                      "amount": 10,
                      "type": "DEPOSIT",
                      "qrCodeText": null,
                      "qrCodeBase64": null,
                      "qrCodeUrl": null,
                      "generatedName": "John Doe",
                      "generatedDocument": "12345678901",
                      "generatedEmail": "john.doe@example.com",
                      "serviceFeeCharged": 0.075,
                      "payerName": "John Doe",
                      "payerDocument": "12345678901",
                      "payerInstitutionIspb": "12345678",
                      "payerInstitutionName": "Banco X",
                      "payerAccountNumber": null,
                      "receiverName": "PayZu Pagamentos Ltda",
                      "receiverDocument": "12.345.678/0001-00",
                      "receiverInstitutionIspb": "23066240",
                      "receiverInstitutionName": "PAYZU IP LTDA.",
                      "receiverAccountNumber": "000000",
                      "endToEndId": "E123456782026081122013B13DMS72H9",
                      "createdAt": "2026-08-11T21:59:11.579Z",
                      "updatedAt": "2026-08-11T22:01:30.123Z",
                      "paidAt": "2026-08-11T22:01:30.123Z",
                      "withdrawPixKey": null,
                      "withdrawPixType": null,
                      "clientReference": "order_12345",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, payload or query string failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZV001": {
                    "summary": "Invalid data. Check the fields provided.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZV001",
                      "message": "Invalid data. Check the fields provided.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f",
                      "details": [
                        {
                          "field": "",
                          "message": "You must provide 'id', 'clientReference', 'endToEndId' or 'virtualAccount'"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZA100": {
                    "summary": "Unauthorized",
                    "value": {
                      "status": "ERROR",
                      "error": "Unauthorized",
                      "errorCode": "PZA100",
                      "message": "Unauthorized",
                      "statusCode": 401,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Operation not allowed, including a token without the required permission (PZA200)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZA200": {
                    "summary": "Forbidden",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZA200",
                      "message": "Forbidden",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZC310": {
                    "summary": "Transaction not found.",
                    "value": {
                      "status": "ERROR",
                      "error": "Not Found",
                      "errorCode": "PZC310",
                      "message": "Transaction not found.",
                      "statusCode": 404,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "id": "curl",
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url 'https://api.payzu.processamento.com/v1/pix' \\\n  --header 'Authorization: Bearer $PAYZU_TOKEN'"
          },
          {
            "id": "js",
            "lang": "js",
            "label": "Node.js",
            "source": "const url = 'https://api.payzu.processamento.com/v1/pix';\n\nconst response = await fetch(url, {\n  method: 'GET',\n  headers: {\n    Authorization: `Bearer ${process.env.PAYZU_TOKEN}`,\n  },\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresponse = requests.get(\n    'https://api.payzu.processamento.com/v1/pix',\n    headers={\n        'Authorization': f'Bearer {os.environ[\"PAYZU_TOKEN\"]}',\n    },\n)\n\nprint(response.json())"
          }
        ],
        "externalDocs": {
          "url": "/docs/pix-processamento/tutoriais/receive-pix",
          "description": "Receber pagamento Pix"
        }
      }
    },
    "/pix/key": {
      "get": {
        "summary": "Pix key lookup (DICT)",
        "description": "Query the DICT (Diretório de Identificadores de Contas Transacionais) to retrieve information about a Pix key before sending a payment. Returns the key owner's details and associated financial institution.\n\nToken permission: `DEPOSIT` or `WITHDRAW`.",
        "operationId": "get_pix_key",
        "tags": [
          "Keys and DICT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "pixKey",
            "required": true,
            "description": "The Pix key to lookup (CPF, CNPJ, email, phone, or EVP).",
            "schema": {
              "type": "string",
              "maxLength": 77,
              "minLength": 1
            },
            "example": "example@payzu.com.br"
          }
        ],
        "responses": {
          "200": {
            "description": "Pix key information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PixKeyInfo"
                },
                "examples": {
                  "pj": {
                    "summary": "Legal Entity (PJ)",
                    "value": {
                      "pixKey": "5c8999e2-6b29-468b-b4e9-04d4872b1bc4",
                      "document": "**.345.678/****-**",
                      "name": "EMPRESA EXEMPLO LTDA",
                      "branch": "****",
                      "accountNumber": "*******",
                      "personType": "PJ",
                      "accountType": "CACC",
                      "institutionIspb": "12345678",
                      "institutionCode": "001",
                      "institutionName": "BANCO EXEMPLO S.A."
                    }
                  },
                  "pf": {
                    "summary": "Individual (PF)",
                    "value": {
                      "pixKey": "12345678901",
                      "document": "***.456.789-**",
                      "name": "João da Silva",
                      "branch": "****",
                      "accountNumber": "********",
                      "personType": "PF",
                      "accountType": "TRAN",
                      "institutionIspb": "87654321",
                      "institutionCode": "260",
                      "institutionName": "BANCO FICTICIO S.A."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Pix key format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZV001": {
                    "summary": "Invalid data. Check the fields provided.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZV001",
                      "message": "Invalid data. Check the fields provided.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f",
                      "details": [
                        {
                          "field": "pixKey",
                          "message": "Invalid Pix key. Accepted formats: CPF, CNPJ, email, phone (+5511999999999) or EVP (UUID)"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZA100": {
                    "summary": "Unauthorized",
                    "value": {
                      "status": "ERROR",
                      "error": "Unauthorized",
                      "errorCode": "PZA100",
                      "message": "Unauthorized",
                      "statusCode": 401,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Operation not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZK400": {
                    "summary": "Pix key lookup not enabled for the user.",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZK400",
                      "message": "Pix key lookup not enabled for the user.",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZA200": {
                    "summary": "Forbidden",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZA200",
                      "message": "Forbidden",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pix key not found in DICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZK300": {
                    "summary": "Pix key not found.",
                    "value": {
                      "status": "ERROR",
                      "error": "Not Found",
                      "errorCode": "PZK300",
                      "message": "Pix key not found.",
                      "statusCode": 404,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Operation refused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZK200": {
                    "summary": "Invalid Pix key.",
                    "value": {
                      "status": "ERROR",
                      "error": "Unprocessable Entity",
                      "errorCode": "PZK200",
                      "message": "Invalid Pix key.",
                      "statusCode": 422,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "424": {
            "description": "Failure at the financial institution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZI110": {
                    "summary": "Communication error with the financial institution.",
                    "value": {
                      "status": "ERROR",
                      "error": "Failed Dependency",
                      "errorCode": "PZI110",
                      "message": "Communication error with the financial institution.",
                      "statusCode": 424,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZI111": {
                    "summary": "The financial institution took too long to respond. Try again.",
                    "value": {
                      "status": "ERROR",
                      "error": "Failed Dependency",
                      "errorCode": "PZI111",
                      "message": "The financial institution took too long to respond. Try again.",
                      "statusCode": 424,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZG429": {
                    "summary": "Query limit reached. Try again shortly. Try again in 30s.",
                    "value": {
                      "status": "ERROR",
                      "error": "Too Many Requests",
                      "errorCode": "PZG429",
                      "message": "Query limit reached. Try again shortly. Try again in 30s.",
                      "statusCode": 429,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f",
                      "retryAfterSeconds": 30
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZI101": {
                    "summary": "Operation not supported for this financial institution.",
                    "value": {
                      "status": "ERROR",
                      "error": "Internal Server Error",
                      "errorCode": "PZI101",
                      "message": "Operation not supported for this financial institution.",
                      "statusCode": 500,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "id": "curl",
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url 'https://api.payzu.processamento.com/v1/pix/key?pixKey=example%40payzu.com.br' \\\n  --header 'Authorization: Bearer $PAYZU_TOKEN'"
          },
          {
            "id": "js",
            "lang": "js",
            "label": "Node.js",
            "source": "const url = 'https://api.payzu.processamento.com/v1/pix/key?pixKey=example%40payzu.com.br';\n\nconst response = await fetch(url, {\n  method: 'GET',\n  headers: {\n    Authorization: `Bearer ${process.env.PAYZU_TOKEN}`,\n  },\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresponse = requests.get(\n    'https://api.payzu.processamento.com/v1/pix/key?pixKey=example%40payzu.com.br',\n    headers={\n        'Authorization': f'Bearer {os.environ[\"PAYZU_TOKEN\"]}',\n    },\n)\n\nprint(response.json())"
          }
        ],
        "externalDocs": {
          "url": "/docs/pix-processamento/tutoriais/receive-pix",
          "description": "Receber pagamento Pix"
        }
      }
    },
    "/pix/qrcode/read": {
      "post": {
        "summary": "Read QR Code",
        "description": "Decode and extract information from a Pix QR Code (EMV format) before making a payment. Returns the parsed data including receiver details, amount (if present), and other QR Code metadata. PayZu processes both dynamic and static QR Codes.\n\nToken permission: `DEPOSIT` or `WITHDRAW`.",
        "operationId": "post_pix_qrcode_read",
        "tags": [
          "Keys and DICT"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostPixQrcodeReadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QR Code decoded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QRCodeReadResponse"
                },
                "examples": {
                  "dynamic": {
                    "summary": "Dynamic QR Code",
                    "value": {
                      "qrCodeType": "DYNAMIC",
                      "name": "LOJA EXEMPLO LTDA",
                      "document": "12345678000199",
                      "amount": 10,
                      "originalAmount": 10,
                      "txid": "c5886b83f0254d0dbfc3900f72d5a8d1",
                      "additionalInfo": null,
                      "expiresIn": 1799,
                      "createdAt": "2026-02-03T22:59:36.138"
                    }
                  },
                  "static": {
                    "summary": "Static QR Code",
                    "value": {
                      "qrCodeType": "STATIC",
                      "name": "MARIA SANTOS",
                      "document": "98765432100",
                      "amount": 1,
                      "originalAmount": 1,
                      "txid": "QRTEST20251103083119867",
                      "additionalInfo": null,
                      "expiresIn": 0,
                      "createdAt": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid QR Code format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZV001": {
                    "summary": "Invalid data. Check the fields provided.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZV001",
                      "message": "Invalid data. Check the fields provided.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f",
                      "details": [
                        {
                          "field": "emv",
                          "message": "Too small: expected string to have >=1 characters"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZA100": {
                    "summary": "Unauthorized",
                    "value": {
                      "status": "ERROR",
                      "error": "Unauthorized",
                      "errorCode": "PZA100",
                      "message": "Unauthorized",
                      "statusCode": 401,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Operation not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZK401": {
                    "summary": "QR Code reading not enabled for the user.",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZK401",
                      "message": "QR Code reading not enabled for the user.",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZA200": {
                    "summary": "Forbidden",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZA200",
                      "message": "Forbidden",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "424": {
            "description": "Failure at the financial institution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZI110": {
                    "summary": "Communication error with the financial institution.",
                    "value": {
                      "status": "ERROR",
                      "error": "Failed Dependency",
                      "errorCode": "PZI110",
                      "message": "Communication error with the financial institution.",
                      "statusCode": 424,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZG429": {
                    "summary": "Query limit reached. Try again shortly. Try again in 30s.",
                    "value": {
                      "status": "ERROR",
                      "error": "Too Many Requests",
                      "errorCode": "PZG429",
                      "message": "Query limit reached. Try again shortly. Try again in 30s.",
                      "statusCode": 429,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f",
                      "retryAfterSeconds": 30
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZI101": {
                    "summary": "Operation not supported for this financial institution.",
                    "value": {
                      "status": "ERROR",
                      "error": "Internal Server Error",
                      "errorCode": "PZI101",
                      "message": "Operation not supported for this financial institution.",
                      "statusCode": 500,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "x-codeSamples": [
          {
            "id": "curl",
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request POST \\\n  --url 'https://api.payzu.processamento.com/v1/pix/qrcode/read' \\\n  --header 'Authorization: Bearer $PAYZU_TOKEN' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n  \"emv\": \"00020101021226770014br.gov.bcb.pix2555api.payzu/pix/qr/v2/013318d6-2d7d-479e-8bb3-b5c7b9da688c5204000053039865802BR5916PAYZU 6007SAOPAULO6217051320260118278956304EC55\"\n}'"
          },
          {
            "id": "js",
            "lang": "js",
            "label": "Node.js",
            "source": "const url = 'https://api.payzu.processamento.com/v1/pix/qrcode/read';\n\nconst response = await fetch(url, {\n  method: 'POST',\n  headers: {\n    Authorization: `Bearer ${process.env.PAYZU_TOKEN}`,\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    emv: '00020101021226770014br.gov.bcb.pix2555api.payzu/pix/qr/v2/013318d6-2d7d-479e-8bb3-b5c7b9da688c5204000053039865802BR5916PAYZU 6007SAOPAULO6217051320260118278956304EC55'\n  }),\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresponse = requests.post(\n    'https://api.payzu.processamento.com/v1/pix/qrcode/read',\n    headers={\n        'Authorization': f'Bearer {os.environ[\"PAYZU_TOKEN\"]}',\n        'Content-Type': 'application/json',\n    },\n    json={\n        'emv': '00020101021226770014br.gov.bcb.pix2555api.payzu/pix/qr/v2/013318d6-2d7d-479e-8bb3-b5c7b9da688c5204000053039865802BR5916PAYZU 6007SAOPAULO6217051320260118278956304EC55'\n    },\n)\n\nprint(response.json())"
          }
        ],
        "externalDocs": {
          "url": "/docs/pix-processamento/tutoriais/receive-pix",
          "description": "Receber pagamento Pix"
        }
      }
    },
    "/proof/{id}": {
      "get": {
        "summary": "Get Transaction Receipt",
        "description": "Returns the transaction receipt. By default (`type=pdf`) the response is the PDF file; with `type=base64` it is JSON with the `base64` field, the PDF as a data URI.",
        "operationId": "get_proof",
        "tags": [
          "Pix Operations"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Transaction ID.",
            "schema": {
              "type": "string"
            },
            "example": "PAYZU20260814T6NX1CV9MK000000"
          },
          {
            "in": "query",
            "name": "type",
            "required": false,
            "description": "Return format.",
            "schema": {
              "type": "string",
              "enum": [
                "pdf",
                "base64"
              ],
              "default": "pdf"
            },
            "example": "pdf"
          }
        ],
        "responses": {
          "200": {
            "description": "Base64 if `type=base64`, otherwise binary PDF.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProofResponse"
                },
                "examples": {
                  "base64": {
                    "summary": "As Base64",
                    "value": {
                      "base64": "data:application/pdf;base64,JVBERi0xLjQKJ..."
                    }
                  }
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Binary PDF (default format, when `type=pdf`)."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, payload or query string failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZV001": {
                    "summary": "Invalid data. Check the fields provided.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZV001",
                      "message": "Invalid data. Check the fields provided.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f",
                      "details": [
                        {
                          "field": "type",
                          "message": "Invalid option: expected one of \"base64\"|\"pdf\""
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZA100": {
                    "summary": "Unauthorized",
                    "value": {
                      "status": "ERROR",
                      "error": "Unauthorized",
                      "errorCode": "PZA100",
                      "message": "Unauthorized",
                      "statusCode": 401,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZG404": {
                    "summary": "Transaction not found",
                    "value": {
                      "status": "ERROR",
                      "error": "Not Found",
                      "errorCode": "PZG404",
                      "message": "Transaction not found",
                      "statusCode": 404,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Operation refused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZC320": {
                    "summary": "Transaction not yet processed.",
                    "value": {
                      "status": "ERROR",
                      "error": "Unprocessable Entity",
                      "errorCode": "PZC320",
                      "message": "Transaction not yet processed.",
                      "statusCode": 422,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZC321": {
                    "summary": "Receipt unavailable: transaction canceled without a document.",
                    "value": {
                      "status": "ERROR",
                      "error": "Unprocessable Entity",
                      "errorCode": "PZC321",
                      "message": "Receipt unavailable: transaction canceled without a document.",
                      "statusCode": 422,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZI103": {
                    "summary": "Internal data missing to complete the operation.",
                    "value": {
                      "status": "ERROR",
                      "error": "Internal Server Error",
                      "errorCode": "PZI103",
                      "message": "Internal data missing to complete the operation.",
                      "statusCode": 500,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "id": "curl",
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url 'https://api.payzu.processamento.com/v1/proof/PAYZU20260814T6NX1CV9MK000000' \\\n  --header 'Authorization: Bearer $PAYZU_TOKEN'"
          },
          {
            "id": "js",
            "lang": "js",
            "label": "Node.js",
            "source": "const url = 'https://api.payzu.processamento.com/v1/proof/PAYZU20260814T6NX1CV9MK000000';\n\nconst response = await fetch(url, {\n  method: 'GET',\n  headers: {\n    Authorization: `Bearer ${process.env.PAYZU_TOKEN}`,\n  },\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresponse = requests.get(\n    'https://api.payzu.processamento.com/v1/proof/PAYZU20260814T6NX1CV9MK000000',\n    headers={\n        'Authorization': f'Bearer {os.environ[\"PAYZU_TOKEN\"]}',\n    },\n)\n\nprint(response.json())"
          }
        ],
        "externalDocs": {
          "url": "/docs/pix-processamento/tutoriais/receive-pix",
          "description": "Receber pagamento Pix"
        }
      }
    },
    "/withdraw": {
      "post": {
        "summary": "Create Withdrawal (Pix key)",
        "description": "Send a Pix **cash out** to the specified Pix key.\n\nToken permission: `WITHDRAW`.",
        "operationId": "post_withdraw",
        "tags": [
          "Withdrawals"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostWithdrawRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                },
                "examples": {
                  "created": {
                    "summary": "Created (PENDING)",
                    "value": {
                      "id": "PAYZU20260817B3PL8SG5WQ000000",
                      "status": "PENDING",
                      "amount": 2,
                      "type": "WITHDRAW",
                      "qrCodeText": null,
                      "qrCodeBase64": null,
                      "qrCodeUrl": null,
                      "generatedName": null,
                      "generatedDocument": null,
                      "generatedEmail": null,
                      "payerName": null,
                      "payerDocument": null,
                      "payerInstitutionIspb": null,
                      "payerInstitutionName": null,
                      "payerAccountNumber": "000000",
                      "serviceFeeCharged": 1,
                      "withdrawPixKey": "teste@teste.com",
                      "withdrawPixType": "email",
                      "receiverName": null,
                      "receiverDocument": null,
                      "receiverInstitutionIspb": null,
                      "receiverInstitutionName": null,
                      "receiverAccountNumber": null,
                      "endToEndId": null,
                      "createdAt": "2026-08-11T21:51:29.748Z",
                      "updatedAt": "2026-08-11T21:51:29.748Z",
                      "paidAt": null,
                      "clientReference": "withdraw_98765",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  },
                  "completed": {
                    "summary": "Completed",
                    "value": {
                      "id": "PAYZU20260817B3PL8SG5WQ000000",
                      "status": "COMPLETED",
                      "amount": 2,
                      "type": "WITHDRAW",
                      "qrCodeText": null,
                      "qrCodeBase64": null,
                      "qrCodeUrl": null,
                      "generatedName": null,
                      "generatedDocument": null,
                      "generatedEmail": null,
                      "serviceFeeCharged": 1,
                      "payerName": "PayZu Pagamentos Ltda",
                      "payerDocument": "12.345.678/0001-00",
                      "payerInstitutionIspb": "23066240",
                      "payerInstitutionName": "PAYZU IP LTDA.",
                      "payerAccountNumber": "000000",
                      "withdrawPixKey": "teste@teste.com",
                      "withdrawPixType": "email",
                      "receiverName": "Maria Santos",
                      "receiverDocument": "12345678901",
                      "receiverInstitutionIspb": "87654321",
                      "receiverInstitutionName": "Banco Y",
                      "receiverAccountNumber": null,
                      "endToEndId": "E2306624020251217134500X98765432",
                      "createdAt": "2026-08-11T21:51:29.748Z",
                      "updatedAt": "2026-08-11T21:52:15.123Z",
                      "paidAt": "2026-08-11T21:52:15.123Z",
                      "clientReference": "withdraw_98765",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, payload or query string failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZV001": {
                    "summary": "Invalid data. Check the fields provided.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZV001",
                      "message": "Invalid data. Check the fields provided.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f",
                      "details": [
                        {
                          "field": "pixKey",
                          "message": "Invalid input: expected string, received undefined"
                        }
                      ]
                    }
                  },
                  "PZS600": {
                    "summary": "The minimum withdrawal amount is R$ 1.00.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZS600",
                      "message": "The minimum withdrawal amount is R$ 1.00.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZS601": {
                    "summary": "The maximum withdrawal amount is R$ 50,000.00.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZS601",
                      "message": "The maximum withdrawal amount is R$ 50,000.00.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZS602": {
                    "summary": "The withdrawal amount is outside the financial institution's limits.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZS602",
                      "message": "The withdrawal amount is outside the financial institution's limits.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZA100": {
                    "summary": "Unauthorized",
                    "value": {
                      "status": "ERROR",
                      "error": "Unauthorized",
                      "errorCode": "PZA100",
                      "message": "Unauthorized",
                      "statusCode": 401,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Operation not allowed, including a token without the required permission (PZA200)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZA200": {
                    "summary": "Forbidden",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZA200",
                      "message": "Forbidden",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZA203": {
                    "summary": "Access not allowed from this IP address.",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZA203",
                      "message": "Access not allowed from this IP address.",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZA205": {
                    "summary": "No IP address registered in the whitelist. Register the source IP before oper...",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZA205",
                      "message": "No IP address registered in the whitelist. Register the source IP before operating.",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZA206": {
                    "summary": "Account awaiting contract signature. Sign the contract sent to the legal repre...",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZA206",
                      "message": "Account awaiting contract signature. Sign the contract sent to the legal representative to release operations.",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Operation refused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZS200": {
                    "summary": "Withdrawal not allowed for this account at the moment.",
                    "value": {
                      "status": "ERROR",
                      "error": "Unprocessable Entity",
                      "errorCode": "PZS200",
                      "message": "Withdrawal not allowed for this account at the moment.",
                      "statusCode": 422,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZS202": {
                    "summary": "Daily withdrawal limit exceeded.",
                    "value": {
                      "status": "ERROR",
                      "error": "Unprocessable Entity",
                      "errorCode": "PZS202",
                      "message": "Daily withdrawal limit exceeded.",
                      "statusCode": 422,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZS206": {
                    "summary": "Daily limit not configured for this account.",
                    "value": {
                      "status": "ERROR",
                      "error": "Unprocessable Entity",
                      "errorCode": "PZS206",
                      "message": "Daily limit not configured for this account.",
                      "statusCode": 422,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "424": {
            "description": "Failure at the financial institution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZS500": {
                    "summary": "No financial institution available for the withdrawal at the moment. Try agai...",
                    "value": {
                      "status": "ERROR",
                      "error": "Failed Dependency",
                      "errorCode": "PZS500",
                      "message": "No financial institution available for the withdrawal at the moment. Try again shortly.",
                      "statusCode": 424,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f",
                      "retryAfterSeconds": 5
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "x-codeSamples": [
          {
            "id": "curl",
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request POST \\\n  --url 'https://api.payzu.processamento.com/v1/withdraw' \\\n  --header 'Authorization: Bearer $PAYZU_TOKEN' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n  \"amount\": 2,\n  \"pixKey\": \"teste@teste.com\",\n  \"pixType\": \"email\",\n  \"callbackUrl\": \"https://webhook.cool/\",\n  \"clientReference\": \"withdraw_98765\",\n  \"description\": \"Weekly payout\",\n  \"virtualAccount\": \"loja-centro-01\"\n}'"
          },
          {
            "id": "js",
            "lang": "js",
            "label": "Node.js",
            "source": "const url = 'https://api.payzu.processamento.com/v1/withdraw';\n\nconst response = await fetch(url, {\n  method: 'POST',\n  headers: {\n    Authorization: `Bearer ${process.env.PAYZU_TOKEN}`,\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    amount: 2,\n    pixKey: 'teste@teste.com',\n    pixType: 'email',\n    callbackUrl: 'https://webhook.cool/',\n    clientReference: 'withdraw_98765',\n    description: 'Weekly payout',\n    virtualAccount: 'loja-centro-01'\n  }),\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresponse = requests.post(\n    'https://api.payzu.processamento.com/v1/withdraw',\n    headers={\n        'Authorization': f'Bearer {os.environ[\"PAYZU_TOKEN\"]}',\n        'Content-Type': 'application/json',\n    },\n    json={\n        'amount': 2,\n        'pixKey': 'teste@teste.com',\n        'pixType': 'email',\n        'callbackUrl': 'https://webhook.cool/',\n        'clientReference': 'withdraw_98765',\n        'description': 'Weekly payout',\n        'virtualAccount': 'loja-centro-01'\n    },\n)\n\nprint(response.json())"
          }
        ],
        "externalDocs": {
          "url": "/docs/pix-processamento/tutoriais/send-pix",
          "description": "Enviar Pix"
        }
      },
      "get": {
        "summary": "Retrieve Withdrawal",
        "description": "Get the latest status and details of a transaction of the account. Provide at least one of `id`, `clientReference`, or `endToEndId`. If more than one is provided, all are applied as filters (AND), which may return no record if they do not point to the same transaction.\n\nToken permission: `WITHDRAW`.",
        "operationId": "get_withdraw",
        "tags": [
          "Withdrawals"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": false,
            "description": "Transaction ID.",
            "schema": {
              "type": "string"
            },
            "example": "PAYZU20260817B3PL8SG5WQ000000"
          },
          {
            "in": "query",
            "name": "clientReference",
            "required": false,
            "description": "External reference provided when creating the withdrawal.",
            "schema": {
              "type": "string",
              "maxLength": 64
            },
            "example": "order_12345"
          },
          {
            "in": "query",
            "name": "endToEndId",
            "required": false,
            "description": "Pix end-to-end ID.",
            "schema": {
              "type": "string"
            },
            "example": "E00000000202508172159kZ8dQ2mNb1x"
          },
          {
            "name": "virtualAccount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            },
            "description": "Virtual sub-account (up to 50 characters) used at creation. Accepted as an alternative lookup key.",
            "example": "loja-centro-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Current withdrawal state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                },
                "examples": {
                  "pending": {
                    "summary": "Pending withdrawal",
                    "value": {
                      "id": "PAYZU20260817B3PL8SG5WQ000000",
                      "status": "PENDING",
                      "amount": 2,
                      "type": "WITHDRAW",
                      "qrCodeText": null,
                      "qrCodeBase64": null,
                      "qrCodeUrl": null,
                      "generatedName": null,
                      "generatedDocument": null,
                      "generatedEmail": null,
                      "payerName": null,
                      "payerDocument": null,
                      "payerInstitutionIspb": null,
                      "payerInstitutionName": null,
                      "payerAccountNumber": "000000",
                      "serviceFeeCharged": 1,
                      "withdrawPixKey": "teste@teste.com",
                      "withdrawPixType": "email",
                      "receiverName": null,
                      "receiverDocument": null,
                      "receiverInstitutionIspb": null,
                      "receiverInstitutionName": null,
                      "receiverAccountNumber": null,
                      "endToEndId": null,
                      "createdAt": "2026-08-11T21:51:29.748Z",
                      "updatedAt": "2026-08-11T21:51:29.748Z",
                      "paidAt": null,
                      "clientReference": "withdraw_98765",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  },
                  "completed": {
                    "summary": "Completed withdrawal",
                    "value": {
                      "id": "PAYZU20260817B3PL8SG5WQ000000",
                      "status": "COMPLETED",
                      "amount": 2,
                      "type": "WITHDRAW",
                      "qrCodeText": null,
                      "qrCodeBase64": null,
                      "qrCodeUrl": null,
                      "generatedName": null,
                      "generatedDocument": null,
                      "generatedEmail": null,
                      "serviceFeeCharged": 1,
                      "payerName": "PayZu Pagamentos Ltda",
                      "payerDocument": "12.345.678/0001-00",
                      "payerInstitutionIspb": "23066240",
                      "payerInstitutionName": "PAYZU IP LTDA.",
                      "payerAccountNumber": "000000",
                      "withdrawPixKey": "teste@teste.com",
                      "withdrawPixType": "email",
                      "receiverName": "Maria Santos",
                      "receiverDocument": "12345678901",
                      "receiverInstitutionIspb": "87654321",
                      "receiverInstitutionName": "Banco Y",
                      "receiverAccountNumber": null,
                      "endToEndId": "E2306624020251217134500X98765432",
                      "createdAt": "2026-08-11T21:51:29.748Z",
                      "updatedAt": "2026-08-11T21:52:15.123Z",
                      "paidAt": "2026-08-11T21:52:15.123Z",
                      "clientReference": "withdraw_98765",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, payload or query string failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZV001": {
                    "summary": "Invalid data. Check the fields provided.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZV001",
                      "message": "Invalid data. Check the fields provided.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f",
                      "details": [
                        {
                          "field": "",
                          "message": "You must provide 'id', 'clientReference', 'endToEndId' or 'virtualAccount'"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZA100": {
                    "summary": "Unauthorized",
                    "value": {
                      "status": "ERROR",
                      "error": "Unauthorized",
                      "errorCode": "PZA100",
                      "message": "Unauthorized",
                      "statusCode": 401,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Operation not allowed, including a token without the required permission (PZA200)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZA200": {
                    "summary": "Forbidden",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZA200",
                      "message": "Forbidden",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZA203": {
                    "summary": "Access not allowed from this IP address.",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZA203",
                      "message": "Access not allowed from this IP address.",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZA205": {
                    "summary": "No IP address registered in the whitelist. Register the source IP before oper...",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZA205",
                      "message": "No IP address registered in the whitelist. Register the source IP before operating.",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZG404": {
                    "summary": "Transaction not found",
                    "value": {
                      "status": "ERROR",
                      "error": "Not Found",
                      "errorCode": "PZG404",
                      "message": "Transaction not found",
                      "statusCode": 404,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "id": "curl",
            "lang": "bash",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url 'https://api.payzu.processamento.com/v1/withdraw' \\\n  --header 'Authorization: Bearer $PAYZU_TOKEN'"
          },
          {
            "id": "js",
            "lang": "js",
            "label": "Node.js",
            "source": "const url = 'https://api.payzu.processamento.com/v1/withdraw';\n\nconst response = await fetch(url, {\n  method: 'GET',\n  headers: {\n    Authorization: `Bearer ${process.env.PAYZU_TOKEN}`,\n  },\n});\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresponse = requests.get(\n    'https://api.payzu.processamento.com/v1/withdraw',\n    headers={\n        'Authorization': f'Bearer {os.environ[\"PAYZU_TOKEN\"]}',\n    },\n)\n\nprint(response.json())"
          }
        ],
        "externalDocs": {
          "url": "/docs/pix-processamento/tutoriais/send-pix",
          "description": "Enviar Pix"
        }
      }
    },
    "/withdraw/qrcode": {
      "post": {
        "summary": "Create Withdrawal using QR Code",
        "description": "Cash out using a **Pix QR Code** (static/dynamic). If `amount` is not provided, the QR Code's embedded value will be used. PayZu processes both dynamic and static QR Codes.\n\nToken permission: `WITHDRAW`.",
        "operationId": "post_withdraw_qrcode",
        "tags": [
          "Withdrawals"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostWithdrawQrcodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal created from QR Code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                },
                "examples": {
                  "with_amount": {
                    "summary": "Created with custom amount",
                    "value": {
                      "id": "PAYZU20261106M5KT9WB2LC000000",
                      "status": "PENDING",
                      "amount": 20,
                      "type": "WITHDRAW",
                      "qrCodeText": null,
                      "qrCodeBase64": null,
                      "qrCodeUrl": null,
                      "generatedName": null,
                      "generatedDocument": null,
                      "generatedEmail": null,
                      "serviceFeeCharged": 1,
                      "payerName": null,
                      "payerDocument": null,
                      "payerInstitutionIspb": null,
                      "payerInstitutionName": null,
                      "payerAccountNumber": "000000",
                      "withdrawPixKey": "88888888888",
                      "withdrawPixType": "cpf",
                      "receiverName": null,
                      "receiverDocument": null,
                      "receiverInstitutionIspb": null,
                      "receiverInstitutionName": null,
                      "receiverAccountNumber": null,
                      "endToEndId": null,
                      "createdAt": "2025-11-06T19:08:55.848Z",
                      "updatedAt": "2025-11-06T19:08:55.848Z",
                      "paidAt": null,
                      "clientReference": "order-123",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  },
                  "without_amount": {
                    "summary": "Created using QR Code value",
                    "value": {
                      "id": "PAYZU20261106M5KT9WB2LD000000",
                      "status": "PENDING",
                      "amount": 150,
                      "type": "WITHDRAW",
                      "qrCodeText": null,
                      "qrCodeBase64": null,
                      "qrCodeUrl": null,
                      "generatedName": null,
                      "generatedDocument": null,
                      "generatedEmail": null,
                      "serviceFeeCharged": 1,
                      "payerName": null,
                      "payerDocument": null,
                      "payerInstitutionIspb": null,
                      "payerInstitutionName": null,
                      "payerAccountNumber": "000000",
                      "withdrawPixKey": "example@payzu.com.br",
                      "withdrawPixType": "email",
                      "receiverName": null,
                      "receiverDocument": null,
                      "receiverInstitutionIspb": null,
                      "receiverInstitutionName": null,
                      "receiverAccountNumber": null,
                      "endToEndId": null,
                      "createdAt": "2025-11-06T19:10:00.000Z",
                      "updatedAt": "2025-11-06T19:10:00.000Z",
                      "paidAt": null,
                      "clientReference": "order-12323456",
                      "refundEndToEndId": null,
                      "refundAmount": null,
                      "refundStatus": null,
                      "refundReason": null,
                      "refundDescription": null,
                      "refundedAt": null,
                      "cancellationReason": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid QR Code or missing amount for static QR Code without value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZV001": {
                    "summary": "Invalid or malformed QR Code",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZV001",
                      "message": "Invalid or malformed QR Code",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZS603": {
                    "summary": "The amount provided (R$ 100.00) does not match the QR Code amount (R$ 150.00).",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZS603",
                      "message": "The amount provided (R$ 100.00) does not match the QR Code amount (R$ 150.00).",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZS604": {
                    "summary": "Providing the amount is required.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZS604",
                      "message": "Providing the amount is required.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZS600": {
                    "summary": "The minimum withdrawal amount is R$ 1.00.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZS600",
                      "message": "The minimum withdrawal amount is R$ 1.00.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZS601": {
                    "summary": "The maximum withdrawal amount is R$ 50,000.00.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZS601",
                      "message": "The maximum withdrawal amount is R$ 50,000.00.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZS602": {
                    "summary": "The withdrawal amount is outside the financial institution's limits.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZS602",
                      "message": "The withdrawal amount is outside the financial institution's limits.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZK601": {
                    "summary": "Invalid or malformed QR Code.",
                    "value": {
                      "status": "ERROR",
                      "error": "Bad Request",
                      "errorCode": "PZK601",
                      "message": "Invalid or malformed QR Code.",
                      "statusCode": 400,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZA100": {
                    "summary": "Unauthorized",
                    "value": {
                      "status": "ERROR",
                      "error": "Unauthorized",
                      "errorCode": "PZA100",
                      "message": "Unauthorized",
                      "statusCode": 401,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Operation not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZA200": {
                    "summary": "Forbidden",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZA200",
                      "message": "Forbidden",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZA203": {
                    "summary": "Access not allowed from this IP address.",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZA203",
                      "message": "Access not allowed from this IP address.",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZA205": {
                    "summary": "No IP address registered in the whitelist. Register the source IP before oper...",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZA205",
                      "message": "No IP address registered in the whitelist. Register the source IP before operating.",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZA206": {
                    "summary": "Account awaiting contract signature. Sign the contract sent to the legal repre...",
                    "value": {
                      "status": "ERROR",
                      "error": "Forbidden",
                      "errorCode": "PZA206",
                      "message": "Account awaiting contract signature. Sign the contract sent to the legal representative to release operations.",
                      "statusCode": 403,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Operation refused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZS200": {
                    "summary": "Withdrawal not allowed for this account at the moment.",
                    "value": {
                      "status": "ERROR",
                      "error": "Unprocessable Entity",
                      "errorCode": "PZS200",
                      "message": "Withdrawal not allowed for this account at the moment.",
                      "statusCode": 422,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZS202": {
                    "summary": "Daily withdrawal limit exceeded.",
                    "value": {
                      "status": "ERROR",
                      "error": "Unprocessable Entity",
                      "errorCode": "PZS202",
                      "message": "Daily withdrawal limit exceeded.",
                      "statusCode": 422,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  },
                  "PZS206": {
                    "summary": "Daily limit not configured for this account.",
                    "value": {
                      "status": "ERROR",
                      "error": "Unprocessable Entity",
                      "errorCode": "PZS206",
                      "message": "Daily limit not configured for this account.",
                      "statusCode": 422,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "424": {
            "description": "Failure at the financial institution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZS500": {
                    "summary": "No financial institution available for the withdrawal at the moment. Try agai...",
                    "value": {
                      "status": "ERROR",
                      "error": "Failed Dependency",
                      "errorCode": "PZS500",
                      "message": "No financial institution available for the withdrawal at the moment. Try again shortly.",
                      "statusCode": 424,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f",
                      "retryAfterSeconds": 5
                    }
                  },
                  "PZK101": {
                    "summary": "Could not query the QR Code with the financial institution.",
                    "value": {
                      "status": "ERROR",
                      "error": "Failed Dependency",
                      "errorCode": "PZK101",
                      "message": "Could not query the QR Code with the financial institution.",
                      "statusCode": 424,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "PZG429": {
                    "summary": "Query limit reached. Try again shortly. Try again in 30s.",
                    "value": {
                      "status": "ERROR",
                      "error": "Too Many Requests",
                      "errorCode": "PZG429",
                      "message": "Query limit reached. Try again shortly. Try again in 30s.",
                      "statusCode": 429,
                      "requestId": "cmbz0f8qk0001js04hp3e2n0f",
                      "retryAfterSeconds": 30
                    }
[...]
