/*
 * PayZu Pix API
 * REST API for Pix operations on the PayZu platform, deposits, withdrawals, internal transfers, infractions, reports, and callback inspection. All amounts are in BRL (reais) unless explicitly noted. Authentication uses a Bearer token issued during onboarding.  ## SDKs oficiais  - Node.js: `npm install payzu-pix` - Python: `pip install payzu-pix` - PHP: `composer require payzu/pix` - Ruby: `gem install payzu-pix` - Java: `br.com.payzu:payzu-pix` (Maven Central) - Go: `go get github.com/PayZuAI/payzu-sdks/go/v3`  Repo: https://github.com/PayZuAI/payzu-sdks 
 *
 * The version of the OpenAPI document: 1.8.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package br.com.payzu.pix.api;

import br.com.payzu.pix.ApiClient;
import br.com.payzu.pix.ApiException;
import br.com.payzu.pix.ApiResponse;
import br.com.payzu.pix.Configuration;
import br.com.payzu.pix.Pair;

import br.com.payzu.pix.model.ApiError;
import br.com.payzu.pix.model.DictConsultResponse;
import br.com.payzu.pix.model.PixKeyInfo;
import br.com.payzu.pix.model.PostPixQrcodeReadRequest;
import br.com.payzu.pix.model.QRCodeReadResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.22.0")
public class KeysAndDictApi {
  /**
   * Utility class for extending HttpRequest.Builder functionality.
   */
  private static class HttpRequestBuilderExtensions {
    /**
     * Adds additional headers to the provided HttpRequest.Builder. Useful for adding method/endpoint specific headers.
     *
     * @param builder the HttpRequest.Builder to which headers will be added
     * @param headers a map of header names and values to add; may be null
     * @return the same HttpRequest.Builder instance with the additional headers set
     */
    static HttpRequest.Builder withAdditionalHeaders(HttpRequest.Builder builder, Map<String, String> headers) {
        if (headers != null) {
            for (Map.Entry<String, String> entry : headers.entrySet()) {
                builder.header(entry.getKey(), entry.getValue());
            }
        }
        return builder;
    }
  }
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<InputStream>> memberVarAsyncResponseInterceptor;

  public KeysAndDictApi() {
    this(Configuration.getDefaultApiClient());
  }

  public KeysAndDictApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }


  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    InputStream responseBody = ApiClient.getResponseBody(response);
    String body = null;
    try {
      body = responseBody == null ? null : new String(responseBody.readAllBytes());
    } finally {
      if (responseBody != null) {
        responseBody.close();
      }
    }
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Download file from the given response.
   *
   * @param response Response
   * @return File
   * @throws ApiException If fail to read file content from response and write to disk
   */
  public File downloadFileFromResponse(HttpResponse<InputStream> response, InputStream responseBody) throws ApiException {
    if (responseBody == null) {
      throw new ApiException(new IOException("Response body is empty"));
    }
    try {
      File file = prepareDownloadFile(response);
      java.nio.file.Files.copy(responseBody, file.toPath(), java.nio.file.StandardCopyOption.REPLACE_EXISTING);
      return file;
    } catch (IOException e) {
      throw new ApiException(e);
    }
  }

  /**
   * <p>Prepare the file for download from the response.</p>
   *
   * @param response a {@link java.net.http.HttpResponse} object.
   * @return a {@link java.io.File} object.
   * @throws java.io.IOException if any.
   */
  private File prepareDownloadFile(HttpResponse<InputStream> response) throws IOException {
    String filename = null;
    java.util.Optional<String> contentDisposition = response.headers().firstValue("Content-Disposition");
    if (contentDisposition.isPresent() && !"".equals(contentDisposition.get())) {
      // Get filename from the Content-Disposition header.
      java.util.regex.Pattern pattern = java.util.regex.Pattern.compile("filename=['\"]?([^'\"\\s]+)['\"]?");
      java.util.regex.Matcher matcher = pattern.matcher(contentDisposition.get());
      if (matcher.find())
        filename = matcher.group(1);
    }
    File file = null;
    if (filename != null) {
      java.nio.file.Path tempDir = java.nio.file.Files.createTempDirectory("swagger-gen-native");
      java.nio.file.Path filePath = java.nio.file.Files.createFile(tempDir.resolve(filename));
      file = filePath.toFile();
      tempDir.toFile().deleteOnExit();   // best effort cleanup
      file.deleteOnExit(); // best effort cleanup
    } else {
      file = java.nio.file.Files.createTempFile("download-", "").toFile();
      file.deleteOnExit(); // best effort cleanup
    }
    return file;
  }

  /**
   * Pix key lookup (DICT)
   * Query the DICT (Diretório de Identificadores de Contas Transacionais) to retrieve information about a Pix key before sending a payment. Returns the key owner&#39;s details and associated financial institution.  Token permission: &#x60;DEPOSIT&#x60; or &#x60;WITHDRAW&#x60;.
   * @param pixKey The Pix key to lookup (CPF, CNPJ, email, phone, or EVP). (required)
   * @return PixKeyInfo
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Pix key lookup (DICT) Documentation</a>
   */
  public PixKeyInfo getPixKey(@javax.annotation.Nonnull String pixKey) throws ApiException {
    return getPixKey(pixKey, null);
  }

  /**
   * Pix key lookup (DICT)
   * Query the DICT (Diretório de Identificadores de Contas Transacionais) to retrieve information about a Pix key before sending a payment. Returns the key owner&#39;s details and associated financial institution.  Token permission: &#x60;DEPOSIT&#x60; or &#x60;WITHDRAW&#x60;.
   * @param pixKey The Pix key to lookup (CPF, CNPJ, email, phone, or EVP). (required)
   * @param headers Optional headers to include in the request
   * @return PixKeyInfo
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Pix key lookup (DICT) Documentation</a>
   */
  public PixKeyInfo getPixKey(@javax.annotation.Nonnull String pixKey, Map<String, String> headers) throws ApiException {
    ApiResponse<PixKeyInfo> localVarResponse = getPixKeyWithHttpInfo(pixKey, headers);
    return localVarResponse.getData();
  }

  /**
   * Pix key lookup (DICT)
   * Query the DICT (Diretório de Identificadores de Contas Transacionais) to retrieve information about a Pix key before sending a payment. Returns the key owner&#39;s details and associated financial institution.  Token permission: &#x60;DEPOSIT&#x60; or &#x60;WITHDRAW&#x60;.
   * @param pixKey The Pix key to lookup (CPF, CNPJ, email, phone, or EVP). (required)
   * @return ApiResponse&lt;PixKeyInfo&gt;
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Pix key lookup (DICT) Documentation</a>
   */
  public ApiResponse<PixKeyInfo> getPixKeyWithHttpInfo(@javax.annotation.Nonnull String pixKey) throws ApiException {
    return getPixKeyWithHttpInfo(pixKey, null);
  }

  /**
   * Pix key lookup (DICT)
   * Query the DICT (Diretório de Identificadores de Contas Transacionais) to retrieve information about a Pix key before sending a payment. Returns the key owner&#39;s details and associated financial institution.  Token permission: &#x60;DEPOSIT&#x60; or &#x60;WITHDRAW&#x60;.
   * @param pixKey The Pix key to lookup (CPF, CNPJ, email, phone, or EVP). (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;PixKeyInfo&gt;
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Pix key lookup (DICT) Documentation</a>
   */
  public ApiResponse<PixKeyInfo> getPixKeyWithHttpInfo(@javax.annotation.Nonnull String pixKey, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getPixKeyRequestBuilder(pixKey, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getPixKey", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<PixKeyInfo>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        PixKeyInfo responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<PixKeyInfo>() {});
        

        return new ApiResponse<PixKeyInfo>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getPixKeyRequestBuilder(@javax.annotation.Nonnull String pixKey, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'pixKey' is set
    if (pixKey == null) {
      throw new ApiException(400, "Missing the required parameter 'pixKey' when calling getPixKey");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/pix/key";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "pixKey";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pixKey", pixKey));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Resolve DICT key
   * Resolves a Pix key (DICT) to the holder details before paying. Requires WITHDRAW scope.
   * @param key Pix key to look up (CPF, CNPJ, email, phone or EVP). (required)
   * @return DictConsultResponse
   * @throws ApiException if fails to make API call
   * DICT lookup
   * @see <a href="/docs/pix-processamento/best-practices/dict">Resolve DICT key Documentation</a>
   */
  public DictConsultResponse getUserDict(@javax.annotation.Nonnull String key) throws ApiException {
    return getUserDict(key, null);
  }

  /**
   * Resolve DICT key
   * Resolves a Pix key (DICT) to the holder details before paying. Requires WITHDRAW scope.
   * @param key Pix key to look up (CPF, CNPJ, email, phone or EVP). (required)
   * @param headers Optional headers to include in the request
   * @return DictConsultResponse
   * @throws ApiException if fails to make API call
   * DICT lookup
   * @see <a href="/docs/pix-processamento/best-practices/dict">Resolve DICT key Documentation</a>
   */
  public DictConsultResponse getUserDict(@javax.annotation.Nonnull String key, Map<String, String> headers) throws ApiException {
    ApiResponse<DictConsultResponse> localVarResponse = getUserDictWithHttpInfo(key, headers);
    return localVarResponse.getData();
  }

  /**
   * Resolve DICT key
   * Resolves a Pix key (DICT) to the holder details before paying. Requires WITHDRAW scope.
   * @param key Pix key to look up (CPF, CNPJ, email, phone or EVP). (required)
   * @return ApiResponse&lt;DictConsultResponse&gt;
   * @throws ApiException if fails to make API call
   * DICT lookup
   * @see <a href="/docs/pix-processamento/best-practices/dict">Resolve DICT key Documentation</a>
   */
  public ApiResponse<DictConsultResponse> getUserDictWithHttpInfo(@javax.annotation.Nonnull String key) throws ApiException {
    return getUserDictWithHttpInfo(key, null);
  }

  /**
   * Resolve DICT key
   * Resolves a Pix key (DICT) to the holder details before paying. Requires WITHDRAW scope.
   * @param key Pix key to look up (CPF, CNPJ, email, phone or EVP). (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;DictConsultResponse&gt;
   * @throws ApiException if fails to make API call
   * DICT lookup
   * @see <a href="/docs/pix-processamento/best-practices/dict">Resolve DICT key Documentation</a>
   */
  public ApiResponse<DictConsultResponse> getUserDictWithHttpInfo(@javax.annotation.Nonnull String key, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getUserDictRequestBuilder(key, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getUserDict", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<DictConsultResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        DictConsultResponse responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DictConsultResponse>() {});
        

        return new ApiResponse<DictConsultResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getUserDictRequestBuilder(@javax.annotation.Nonnull String key, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'key' is set
    if (key == null) {
      throw new ApiException(400, "Missing the required parameter 'key' when calling getUserDict");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/user/dict";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "key";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("key", key));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Read QR Code
   * Decode and extract information from a Pix QR Code (EMV format) before making a payment. Returns the parsed data including receiver details, amount (if present), and other QR Code metadata. PayZu processes both dynamic and static QR Codes.  Token permission: &#x60;DEPOSIT&#x60; or &#x60;WITHDRAW&#x60;.
   * @param postPixQrcodeReadRequest  (required)
   * @return QRCodeReadResponse
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Read QR Code Documentation</a>
   */
  public QRCodeReadResponse postPixQrcodeRead(@javax.annotation.Nonnull PostPixQrcodeReadRequest postPixQrcodeReadRequest) throws ApiException {
    return postPixQrcodeRead(postPixQrcodeReadRequest, null);
  }

  /**
   * Read QR Code
   * Decode and extract information from a Pix QR Code (EMV format) before making a payment. Returns the parsed data including receiver details, amount (if present), and other QR Code metadata. PayZu processes both dynamic and static QR Codes.  Token permission: &#x60;DEPOSIT&#x60; or &#x60;WITHDRAW&#x60;.
   * @param postPixQrcodeReadRequest  (required)
   * @param headers Optional headers to include in the request
   * @return QRCodeReadResponse
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Read QR Code Documentation</a>
   */
  public QRCodeReadResponse postPixQrcodeRead(@javax.annotation.Nonnull PostPixQrcodeReadRequest postPixQrcodeReadRequest, Map<String, String> headers) throws ApiException {
    ApiResponse<QRCodeReadResponse> localVarResponse = postPixQrcodeReadWithHttpInfo(postPixQrcodeReadRequest, headers);
    return localVarResponse.getData();
  }

  /**
   * Read QR Code
   * Decode and extract information from a Pix QR Code (EMV format) before making a payment. Returns the parsed data including receiver details, amount (if present), and other QR Code metadata. PayZu processes both dynamic and static QR Codes.  Token permission: &#x60;DEPOSIT&#x60; or &#x60;WITHDRAW&#x60;.
   * @param postPixQrcodeReadRequest  (required)
   * @return ApiResponse&lt;QRCodeReadResponse&gt;
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Read QR Code Documentation</a>
   */
  public ApiResponse<QRCodeReadResponse> postPixQrcodeReadWithHttpInfo(@javax.annotation.Nonnull PostPixQrcodeReadRequest postPixQrcodeReadRequest) throws ApiException {
    return postPixQrcodeReadWithHttpInfo(postPixQrcodeReadRequest, null);
  }

  /**
   * Read QR Code
   * Decode and extract information from a Pix QR Code (EMV format) before making a payment. Returns the parsed data including receiver details, amount (if present), and other QR Code metadata. PayZu processes both dynamic and static QR Codes.  Token permission: &#x60;DEPOSIT&#x60; or &#x60;WITHDRAW&#x60;.
   * @param postPixQrcodeReadRequest  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;QRCodeReadResponse&gt;
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Read QR Code Documentation</a>
   */
  public ApiResponse<QRCodeReadResponse> postPixQrcodeReadWithHttpInfo(@javax.annotation.Nonnull PostPixQrcodeReadRequest postPixQrcodeReadRequest, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = postPixQrcodeReadRequestBuilder(postPixQrcodeReadRequest, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("postPixQrcodeRead", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<QRCodeReadResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        QRCodeReadResponse responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<QRCodeReadResponse>() {});
        

        return new ApiResponse<QRCodeReadResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder postPixQrcodeReadRequestBuilder(@javax.annotation.Nonnull PostPixQrcodeReadRequest postPixQrcodeReadRequest, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'postPixQrcodeReadRequest' is set
    if (postPixQrcodeReadRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'postPixQrcodeReadRequest' when calling postPixQrcodeRead");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/pix/qrcode/read";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(postPixQrcodeReadRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
