/*
 * PayZu Pix API
 * REST API for Pix operations on the PayZu platform, deposits, withdrawals, internal transfers, infractions, reports, and callback inspection. All amounts are in BRL (reais) unless explicitly noted. Authentication uses a Bearer token issued during onboarding.  ## SDKs oficiais  - Node.js: `npm install payzu-pix` - Python: `pip install payzu-pix` - PHP: `composer require payzu/pix` - Ruby: `gem install payzu-pix` - Java: `br.com.payzu:payzu-pix` (Maven Central) - Go: `go get github.com/PayZuAI/payzu-sdks/go/v3`  Repo: https://github.com/PayZuAI/payzu-sdks 
 *
 * The version of the OpenAPI document: 1.8.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package br.com.payzu.pix.api;

import br.com.payzu.pix.ApiClient;
import br.com.payzu.pix.ApiException;
import br.com.payzu.pix.ApiResponse;
import br.com.payzu.pix.Configuration;
import br.com.payzu.pix.Pair;

import br.com.payzu.pix.model.ApiError;
import java.io.File;
import br.com.payzu.pix.model.PostPixRequest;
import br.com.payzu.pix.model.ProofResponse;
import br.com.payzu.pix.model.Transaction;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.22.0")
public class PixOperationsApi {
  /**
   * Utility class for extending HttpRequest.Builder functionality.
   */
  private static class HttpRequestBuilderExtensions {
    /**
     * Adds additional headers to the provided HttpRequest.Builder. Useful for adding method/endpoint specific headers.
     *
     * @param builder the HttpRequest.Builder to which headers will be added
     * @param headers a map of header names and values to add; may be null
     * @return the same HttpRequest.Builder instance with the additional headers set
     */
    static HttpRequest.Builder withAdditionalHeaders(HttpRequest.Builder builder, Map<String, String> headers) {
        if (headers != null) {
            for (Map.Entry<String, String> entry : headers.entrySet()) {
                builder.header(entry.getKey(), entry.getValue());
            }
        }
        return builder;
    }
  }
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<InputStream>> memberVarAsyncResponseInterceptor;

  public PixOperationsApi() {
    this(Configuration.getDefaultApiClient());
  }

  public PixOperationsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }


  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    InputStream responseBody = ApiClient.getResponseBody(response);
    String body = null;
    try {
      body = responseBody == null ? null : new String(responseBody.readAllBytes());
    } finally {
      if (responseBody != null) {
        responseBody.close();
      }
    }
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Download file from the given response.
   *
   * @param response Response
   * @return File
   * @throws ApiException If fail to read file content from response and write to disk
   */
  public File downloadFileFromResponse(HttpResponse<InputStream> response, InputStream responseBody) throws ApiException {
    if (responseBody == null) {
      throw new ApiException(new IOException("Response body is empty"));
    }
    try {
      File file = prepareDownloadFile(response);
      java.nio.file.Files.copy(responseBody, file.toPath(), java.nio.file.StandardCopyOption.REPLACE_EXISTING);
      return file;
    } catch (IOException e) {
      throw new ApiException(e);
    }
  }

  /**
   * <p>Prepare the file for download from the response.</p>
   *
   * @param response a {@link java.net.http.HttpResponse} object.
   * @return a {@link java.io.File} object.
   * @throws java.io.IOException if any.
   */
  private File prepareDownloadFile(HttpResponse<InputStream> response) throws IOException {
    String filename = null;
    java.util.Optional<String> contentDisposition = response.headers().firstValue("Content-Disposition");
    if (contentDisposition.isPresent() && !"".equals(contentDisposition.get())) {
      // Get filename from the Content-Disposition header.
      java.util.regex.Pattern pattern = java.util.regex.Pattern.compile("filename=['\"]?([^'\"\\s]+)['\"]?");
      java.util.regex.Matcher matcher = pattern.matcher(contentDisposition.get());
      if (matcher.find())
        filename = matcher.group(1);
    }
    File file = null;
    if (filename != null) {
      java.nio.file.Path tempDir = java.nio.file.Files.createTempDirectory("swagger-gen-native");
      java.nio.file.Path filePath = java.nio.file.Files.createFile(tempDir.resolve(filename));
      file = filePath.toFile();
      tempDir.toFile().deleteOnExit();   // best effort cleanup
      file.deleteOnExit(); // best effort cleanup
    } else {
      file = java.nio.file.Files.createTempFile("download-", "").toFile();
      file.deleteOnExit(); // best effort cleanup
    }
    return file;
  }

  /**
   * Retrieve Charge
   * Get the latest status and details of a transaction of the account. Provide at least one of &#x60;id&#x60;, &#x60;clientReference&#x60;, or &#x60;endToEndId&#x60; (&#x60;virtualAccount&#x60; is also accepted). When more than one parameter is provided, they are combined as filters (AND).  Token permission: &#x60;DEPOSIT&#x60;.
   * @param id Transaction ID. (optional)
   * @param clientReference External reference provided when creating the charge. (optional)
   * @param endToEndId Pix end-to-end ID. (optional)
   * @param virtualAccount Virtual sub-account (up to 50 characters) used at creation. Accepted as an alternative lookup key. (optional)
   * @return Transaction
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Retrieve Charge Documentation</a>
   */
  public Transaction getPix(@javax.annotation.Nullable String id, @javax.annotation.Nullable String clientReference, @javax.annotation.Nullable String endToEndId, @javax.annotation.Nullable String virtualAccount) throws ApiException {
    return getPix(id, clientReference, endToEndId, virtualAccount, null);
  }

  /**
   * Retrieve Charge
   * Get the latest status and details of a transaction of the account. Provide at least one of &#x60;id&#x60;, &#x60;clientReference&#x60;, or &#x60;endToEndId&#x60; (&#x60;virtualAccount&#x60; is also accepted). When more than one parameter is provided, they are combined as filters (AND).  Token permission: &#x60;DEPOSIT&#x60;.
   * @param id Transaction ID. (optional)
   * @param clientReference External reference provided when creating the charge. (optional)
   * @param endToEndId Pix end-to-end ID. (optional)
   * @param virtualAccount Virtual sub-account (up to 50 characters) used at creation. Accepted as an alternative lookup key. (optional)
   * @param headers Optional headers to include in the request
   * @return Transaction
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Retrieve Charge Documentation</a>
   */
  public Transaction getPix(@javax.annotation.Nullable String id, @javax.annotation.Nullable String clientReference, @javax.annotation.Nullable String endToEndId, @javax.annotation.Nullable String virtualAccount, Map<String, String> headers) throws ApiException {
    ApiResponse<Transaction> localVarResponse = getPixWithHttpInfo(id, clientReference, endToEndId, virtualAccount, headers);
    return localVarResponse.getData();
  }

  /**
   * Retrieve Charge
   * Get the latest status and details of a transaction of the account. Provide at least one of &#x60;id&#x60;, &#x60;clientReference&#x60;, or &#x60;endToEndId&#x60; (&#x60;virtualAccount&#x60; is also accepted). When more than one parameter is provided, they are combined as filters (AND).  Token permission: &#x60;DEPOSIT&#x60;.
   * @param id Transaction ID. (optional)
   * @param clientReference External reference provided when creating the charge. (optional)
   * @param endToEndId Pix end-to-end ID. (optional)
   * @param virtualAccount Virtual sub-account (up to 50 characters) used at creation. Accepted as an alternative lookup key. (optional)
   * @return ApiResponse&lt;Transaction&gt;
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Retrieve Charge Documentation</a>
   */
  public ApiResponse<Transaction> getPixWithHttpInfo(@javax.annotation.Nullable String id, @javax.annotation.Nullable String clientReference, @javax.annotation.Nullable String endToEndId, @javax.annotation.Nullable String virtualAccount) throws ApiException {
    return getPixWithHttpInfo(id, clientReference, endToEndId, virtualAccount, null);
  }

  /**
   * Retrieve Charge
   * Get the latest status and details of a transaction of the account. Provide at least one of &#x60;id&#x60;, &#x60;clientReference&#x60;, or &#x60;endToEndId&#x60; (&#x60;virtualAccount&#x60; is also accepted). When more than one parameter is provided, they are combined as filters (AND).  Token permission: &#x60;DEPOSIT&#x60;.
   * @param id Transaction ID. (optional)
   * @param clientReference External reference provided when creating the charge. (optional)
   * @param endToEndId Pix end-to-end ID. (optional)
   * @param virtualAccount Virtual sub-account (up to 50 characters) used at creation. Accepted as an alternative lookup key. (optional)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Transaction&gt;
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Retrieve Charge Documentation</a>
   */
  public ApiResponse<Transaction> getPixWithHttpInfo(@javax.annotation.Nullable String id, @javax.annotation.Nullable String clientReference, @javax.annotation.Nullable String endToEndId, @javax.annotation.Nullable String virtualAccount, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getPixRequestBuilder(id, clientReference, endToEndId, virtualAccount, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getPix", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<Transaction>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        Transaction responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Transaction>() {});
        

        return new ApiResponse<Transaction>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getPixRequestBuilder(@javax.annotation.Nullable String id, @javax.annotation.Nullable String clientReference, @javax.annotation.Nullable String endToEndId, @javax.annotation.Nullable String virtualAccount, Map<String, String> headers) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/pix";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id", id));
    localVarQueryParameterBaseName = "clientReference";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("clientReference", clientReference));
    localVarQueryParameterBaseName = "endToEndId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("endToEndId", endToEndId));
    localVarQueryParameterBaseName = "virtualAccount";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("virtualAccount", virtualAccount));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Render Pix QR code (PNG)
   * Render the Pix QR Code of a deposit as a binary PNG image  Token permission: &#x60;DEPOSIT&#x60;.
   * @param transactionId Transaction ID. (required)
   * @return File
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Render Pix QR code (PNG) Documentation</a>
   */
  public File getPixQrcode(@javax.annotation.Nonnull String transactionId) throws ApiException {
    return getPixQrcode(transactionId, null);
  }

  /**
   * Render Pix QR code (PNG)
   * Render the Pix QR Code of a deposit as a binary PNG image  Token permission: &#x60;DEPOSIT&#x60;.
   * @param transactionId Transaction ID. (required)
   * @param headers Optional headers to include in the request
   * @return File
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Render Pix QR code (PNG) Documentation</a>
   */
  public File getPixQrcode(@javax.annotation.Nonnull String transactionId, Map<String, String> headers) throws ApiException {
    ApiResponse<File> localVarResponse = getPixQrcodeWithHttpInfo(transactionId, headers);
    return localVarResponse.getData();
  }

  /**
   * Render Pix QR code (PNG)
   * Render the Pix QR Code of a deposit as a binary PNG image  Token permission: &#x60;DEPOSIT&#x60;.
   * @param transactionId Transaction ID. (required)
   * @return ApiResponse&lt;File&gt;
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Render Pix QR code (PNG) Documentation</a>
   */
  public ApiResponse<File> getPixQrcodeWithHttpInfo(@javax.annotation.Nonnull String transactionId) throws ApiException {
    return getPixQrcodeWithHttpInfo(transactionId, null);
  }

  /**
   * Render Pix QR code (PNG)
   * Render the Pix QR Code of a deposit as a binary PNG image  Token permission: &#x60;DEPOSIT&#x60;.
   * @param transactionId Transaction ID. (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;File&gt;
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Render Pix QR code (PNG) Documentation</a>
   */
  public ApiResponse<File> getPixQrcodeWithHttpInfo(@javax.annotation.Nonnull String transactionId, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getPixQrcodeRequestBuilder(transactionId, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getPixQrcode", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<File>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        // Handle file downloading.
        File responseValue = downloadFileFromResponse(localVarResponse, localVarResponseBody);
        

        return new ApiResponse<File>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getPixQrcodeRequestBuilder(@javax.annotation.Nonnull String transactionId, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'transactionId' is set
    if (transactionId == null) {
      throw new ApiException(400, "Missing the required parameter 'transactionId' when calling getPixQrcode");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/pix/qr-code/{transactionId}"
        .replace("{transactionId}", ApiClient.urlEncode(transactionId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "image/png, application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Transaction Receipt
   * Returns the transaction receipt. By default (&#x60;type&#x3D;pdf&#x60;) the response is the PDF file; with &#x60;type&#x3D;base64&#x60; it is JSON with the &#x60;base64&#x60; field, the PDF as a data URI.
   * @param id Transaction ID. (required)
   * @param type Return format. (optional, default to pdf)
   * @return ProofResponse
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Get Transaction Receipt Documentation</a>
   */
  public ProofResponse getProof(@javax.annotation.Nonnull String id, @javax.annotation.Nullable String type) throws ApiException {
    return getProof(id, type, null);
  }

  /**
   * Get Transaction Receipt
   * Returns the transaction receipt. By default (&#x60;type&#x3D;pdf&#x60;) the response is the PDF file; with &#x60;type&#x3D;base64&#x60; it is JSON with the &#x60;base64&#x60; field, the PDF as a data URI.
   * @param id Transaction ID. (required)
   * @param type Return format. (optional, default to pdf)
   * @param headers Optional headers to include in the request
   * @return ProofResponse
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Get Transaction Receipt Documentation</a>
   */
  public ProofResponse getProof(@javax.annotation.Nonnull String id, @javax.annotation.Nullable String type, Map<String, String> headers) throws ApiException {
    ApiResponse<ProofResponse> localVarResponse = getProofWithHttpInfo(id, type, headers);
    return localVarResponse.getData();
  }

  /**
   * Get Transaction Receipt
   * Returns the transaction receipt. By default (&#x60;type&#x3D;pdf&#x60;) the response is the PDF file; with &#x60;type&#x3D;base64&#x60; it is JSON with the &#x60;base64&#x60; field, the PDF as a data URI.
   * @param id Transaction ID. (required)
   * @param type Return format. (optional, default to pdf)
   * @return ApiResponse&lt;ProofResponse&gt;
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Get Transaction Receipt Documentation</a>
   */
  public ApiResponse<ProofResponse> getProofWithHttpInfo(@javax.annotation.Nonnull String id, @javax.annotation.Nullable String type) throws ApiException {
    return getProofWithHttpInfo(id, type, null);
  }

  /**
   * Get Transaction Receipt
   * Returns the transaction receipt. By default (&#x60;type&#x3D;pdf&#x60;) the response is the PDF file; with &#x60;type&#x3D;base64&#x60; it is JSON with the &#x60;base64&#x60; field, the PDF as a data URI.
   * @param id Transaction ID. (required)
   * @param type Return format. (optional, default to pdf)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;ProofResponse&gt;
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Get Transaction Receipt Documentation</a>
   */
  public ApiResponse<ProofResponse> getProofWithHttpInfo(@javax.annotation.Nonnull String id, @javax.annotation.Nullable String type, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getProofRequestBuilder(id, type, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getProof", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<ProofResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        ProofResponse responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ProofResponse>() {});
        

        return new ApiResponse<ProofResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getProofRequestBuilder(@javax.annotation.Nonnull String id, @javax.annotation.Nullable String type, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getProof");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/proof/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "type";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("type", type));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/pdf");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Create Charge (Pix deposit)
   * Create a new Pix **deposit** (charge). Returns QR Code and transaction details.  Token permission: &#x60;DEPOSIT&#x60;.
   * @param postPixRequest  (required)
   * @return Transaction
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Create Charge (Pix deposit) Documentation</a>
   */
  public Transaction postPix(@javax.annotation.Nonnull PostPixRequest postPixRequest) throws ApiException {
    return postPix(postPixRequest, null);
  }

  /**
   * Create Charge (Pix deposit)
   * Create a new Pix **deposit** (charge). Returns QR Code and transaction details.  Token permission: &#x60;DEPOSIT&#x60;.
   * @param postPixRequest  (required)
   * @param headers Optional headers to include in the request
   * @return Transaction
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Create Charge (Pix deposit) Documentation</a>
   */
  public Transaction postPix(@javax.annotation.Nonnull PostPixRequest postPixRequest, Map<String, String> headers) throws ApiException {
    ApiResponse<Transaction> localVarResponse = postPixWithHttpInfo(postPixRequest, headers);
    return localVarResponse.getData();
  }

  /**
   * Create Charge (Pix deposit)
   * Create a new Pix **deposit** (charge). Returns QR Code and transaction details.  Token permission: &#x60;DEPOSIT&#x60;.
   * @param postPixRequest  (required)
   * @return ApiResponse&lt;Transaction&gt;
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Create Charge (Pix deposit) Documentation</a>
   */
  public ApiResponse<Transaction> postPixWithHttpInfo(@javax.annotation.Nonnull PostPixRequest postPixRequest) throws ApiException {
    return postPixWithHttpInfo(postPixRequest, null);
  }

  /**
   * Create Charge (Pix deposit)
   * Create a new Pix **deposit** (charge). Returns QR Code and transaction details.  Token permission: &#x60;DEPOSIT&#x60;.
   * @param postPixRequest  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Transaction&gt;
   * @throws ApiException if fails to make API call
   * Receber pagamento Pix
   * @see <a href="/docs/pix-processamento/tutoriais/receive-pix">Create Charge (Pix deposit) Documentation</a>
   */
  public ApiResponse<Transaction> postPixWithHttpInfo(@javax.annotation.Nonnull PostPixRequest postPixRequest, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = postPixRequestBuilder(postPixRequest, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("postPix", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<Transaction>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        Transaction responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Transaction>() {});
        

        return new ApiResponse<Transaction>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder postPixRequestBuilder(@javax.annotation.Nonnull PostPixRequest postPixRequest, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'postPixRequest' is set
    if (postPixRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'postPixRequest' when calling postPix");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/pix";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(postPixRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
