/*
 * PayZu Pix API
 * REST API for Pix operations on the PayZu platform, deposits, withdrawals, internal transfers, infractions, reports, and callback inspection. All amounts are in BRL (reais) unless explicitly noted. Authentication uses a Bearer token issued during onboarding.  ## SDKs oficiais  - Node.js: `npm install payzu-pix` - Python: `pip install payzu-pix` - PHP: `composer require payzu/pix` - Ruby: `gem install payzu-pix` - Java: `br.com.payzu:payzu-pix` (Maven Central) - Go: `go get github.com/PayZuAI/payzu-sdks/go/v2`  Repo: https://github.com/PayZuAI/payzu-sdks 
 *
 * The version of the OpenAPI document: 1.8.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package br.com.payzu.pix.api;

import br.com.payzu.pix.ApiClient;
import br.com.payzu.pix.ApiException;
import br.com.payzu.pix.ApiResponse;
import br.com.payzu.pix.Configuration;
import br.com.payzu.pix.Pair;

import br.com.payzu.pix.model.ApiError;
import br.com.payzu.pix.model.BankStatement;
import br.com.payzu.pix.model.BankStatementListResponse;
import java.math.BigDecimal;
import br.com.payzu.pix.model.DepositPending;
import br.com.payzu.pix.model.DepositPendingListResponse;
import br.com.payzu.pix.model.DownloadUserReport200Response;
import br.com.payzu.pix.model.GetUserTransactionById200Response;
import br.com.payzu.pix.model.GetUserTransactions200Response;
import br.com.payzu.pix.model.ListUserReports200Response;
import java.time.OffsetDateTime;
import br.com.payzu.pix.model.PostUserReportRequest;
import br.com.payzu.pix.model.ReportJobAccepted;
import br.com.payzu.pix.model.ReportJobDetail;
import br.com.payzu.pix.model.Summary;
import java.util.UUID;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.22.0")
public class ReportsApi {
  /**
   * Utility class for extending HttpRequest.Builder functionality.
   */
  private static class HttpRequestBuilderExtensions {
    /**
     * Adds additional headers to the provided HttpRequest.Builder. Useful for adding method/endpoint specific headers.
     *
     * @param builder the HttpRequest.Builder to which headers will be added
     * @param headers a map of header names and values to add; may be null
     * @return the same HttpRequest.Builder instance with the additional headers set
     */
    static HttpRequest.Builder withAdditionalHeaders(HttpRequest.Builder builder, Map<String, String> headers) {
        if (headers != null) {
            for (Map.Entry<String, String> entry : headers.entrySet()) {
                builder.header(entry.getKey(), entry.getValue());
            }
        }
        return builder;
    }
  }
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<InputStream>> memberVarAsyncResponseInterceptor;

  public ReportsApi() {
    this(Configuration.getDefaultApiClient());
  }

  public ReportsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }


  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    InputStream responseBody = ApiClient.getResponseBody(response);
    String body = null;
    try {
      body = responseBody == null ? null : new String(responseBody.readAllBytes());
    } finally {
      if (responseBody != null) {
        responseBody.close();
      }
    }
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Download file from the given response.
   *
   * @param response Response
   * @return File
   * @throws ApiException If fail to read file content from response and write to disk
   */
  public File downloadFileFromResponse(HttpResponse<InputStream> response, InputStream responseBody) throws ApiException {
    if (responseBody == null) {
      throw new ApiException(new IOException("Response body is empty"));
    }
    try {
      File file = prepareDownloadFile(response);
      java.nio.file.Files.copy(responseBody, file.toPath(), java.nio.file.StandardCopyOption.REPLACE_EXISTING);
      return file;
    } catch (IOException e) {
      throw new ApiException(e);
    }
  }

  /**
   * <p>Prepare the file for download from the response.</p>
   *
   * @param response a {@link java.net.http.HttpResponse} object.
   * @return a {@link java.io.File} object.
   * @throws java.io.IOException if any.
   */
  private File prepareDownloadFile(HttpResponse<InputStream> response) throws IOException {
    String filename = null;
    java.util.Optional<String> contentDisposition = response.headers().firstValue("Content-Disposition");
    if (contentDisposition.isPresent() && !"".equals(contentDisposition.get())) {
      // Get filename from the Content-Disposition header.
      java.util.regex.Pattern pattern = java.util.regex.Pattern.compile("filename=['\"]?([^'\"\\s]+)['\"]?");
      java.util.regex.Matcher matcher = pattern.matcher(contentDisposition.get());
      if (matcher.find())
        filename = matcher.group(1);
    }
    File file = null;
    if (filename != null) {
      java.nio.file.Path tempDir = java.nio.file.Files.createTempDirectory("swagger-gen-native");
      java.nio.file.Path filePath = java.nio.file.Files.createFile(tempDir.resolve(filename));
      file = filePath.toFile();
      tempDir.toFile().deleteOnExit();   // best effort cleanup
      file.deleteOnExit(); // best effort cleanup
    } else {
      file = java.nio.file.Files.createTempFile("download-", "").toFile();
      file.deleteOnExit(); // best effort cleanup
    }
    return file;
  }

  /**
   * Download report
   * Returns a short-lived signed URL to download the CSV file.
   * @param id Report ID. (required)
   * @return DownloadUserReport200Response
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Download report Documentation</a>
   */
  public DownloadUserReport200Response downloadUserReport(@javax.annotation.Nonnull UUID id) throws ApiException {
    return downloadUserReport(id, null);
  }

  /**
   * Download report
   * Returns a short-lived signed URL to download the CSV file.
   * @param id Report ID. (required)
   * @param headers Optional headers to include in the request
   * @return DownloadUserReport200Response
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Download report Documentation</a>
   */
  public DownloadUserReport200Response downloadUserReport(@javax.annotation.Nonnull UUID id, Map<String, String> headers) throws ApiException {
    ApiResponse<DownloadUserReport200Response> localVarResponse = downloadUserReportWithHttpInfo(id, headers);
    return localVarResponse.getData();
  }

  /**
   * Download report
   * Returns a short-lived signed URL to download the CSV file.
   * @param id Report ID. (required)
   * @return ApiResponse&lt;DownloadUserReport200Response&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Download report Documentation</a>
   */
  public ApiResponse<DownloadUserReport200Response> downloadUserReportWithHttpInfo(@javax.annotation.Nonnull UUID id) throws ApiException {
    return downloadUserReportWithHttpInfo(id, null);
  }

  /**
   * Download report
   * Returns a short-lived signed URL to download the CSV file.
   * @param id Report ID. (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;DownloadUserReport200Response&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Download report Documentation</a>
   */
  public ApiResponse<DownloadUserReport200Response> downloadUserReportWithHttpInfo(@javax.annotation.Nonnull UUID id, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = downloadUserReportRequestBuilder(id, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("downloadUserReport", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<DownloadUserReport200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        DownloadUserReport200Response responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DownloadUserReport200Response>() {});
        

        return new ApiResponse<DownloadUserReport200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder downloadUserReportRequestBuilder(@javax.annotation.Nonnull UUID id, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling downloadUserReport");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/user/report/{id}/download"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get bank statement
   * Returns a single statement entry.
   * @param id Statement entry id. (required)
   * @return BankStatement
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Get bank statement Documentation</a>
   */
  public BankStatement getUserBankStatement(@javax.annotation.Nonnull String id) throws ApiException {
    return getUserBankStatement(id, null);
  }

  /**
   * Get bank statement
   * Returns a single statement entry.
   * @param id Statement entry id. (required)
   * @param headers Optional headers to include in the request
   * @return BankStatement
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Get bank statement Documentation</a>
   */
  public BankStatement getUserBankStatement(@javax.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    ApiResponse<BankStatement> localVarResponse = getUserBankStatementWithHttpInfo(id, headers);
    return localVarResponse.getData();
  }

  /**
   * Get bank statement
   * Returns a single statement entry.
   * @param id Statement entry id. (required)
   * @return ApiResponse&lt;BankStatement&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Get bank statement Documentation</a>
   */
  public ApiResponse<BankStatement> getUserBankStatementWithHttpInfo(@javax.annotation.Nonnull String id) throws ApiException {
    return getUserBankStatementWithHttpInfo(id, null);
  }

  /**
   * Get bank statement
   * Returns a single statement entry.
   * @param id Statement entry id. (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;BankStatement&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Get bank statement Documentation</a>
   */
  public ApiResponse<BankStatement> getUserBankStatementWithHttpInfo(@javax.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getUserBankStatementRequestBuilder(id, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getUserBankStatement", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<BankStatement>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        BankStatement responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BankStatement>() {});
        

        return new ApiResponse<BankStatement>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getUserBankStatementRequestBuilder(@javax.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getUserBankStatement");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/user/bank-statements/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List bank statements
   * Lists the account statement entries. &#x60;createdAtFrom&#x60; and &#x60;createdAtTo&#x60; are required.
   * @param createdAtFrom Start date (required). (required)
   * @param createdAtTo End date (required). (required)
   * @param id Entry ID. (optional)
   * @param operation Operation type.  &#x60;INCREMENT&#x60; &#x60;DECREMENT&#x60; (optional)
   * @param reason Reason for the entry. (optional)
   * @param transactionId Transaction ID. (optional)
   * @param amountFrom Minimum amount. (optional)
   * @param amountTo Maximum amount. (optional)
   * @param page Page number. (optional, default to 1)
   * @param limit Items per page. (optional, default to 10)
   * @param sortBy Sort field. (optional, default to createdAt)
   * @param sortDirection Sort direction. (optional, default to desc)
   * @return BankStatementListResponse
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List bank statements Documentation</a>
   */
  public BankStatementListResponse getUserBankStatements(@javax.annotation.Nonnull OffsetDateTime createdAtFrom, @javax.annotation.Nonnull OffsetDateTime createdAtTo, @javax.annotation.Nullable String id, @javax.annotation.Nullable String operation, @javax.annotation.Nullable String reason, @javax.annotation.Nullable String transactionId, @javax.annotation.Nullable BigDecimal amountFrom, @javax.annotation.Nullable BigDecimal amountTo, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable String sortBy, @javax.annotation.Nullable String sortDirection) throws ApiException {
    return getUserBankStatements(createdAtFrom, createdAtTo, id, operation, reason, transactionId, amountFrom, amountTo, page, limit, sortBy, sortDirection, null);
  }

  /**
   * List bank statements
   * Lists the account statement entries. &#x60;createdAtFrom&#x60; and &#x60;createdAtTo&#x60; are required.
   * @param createdAtFrom Start date (required). (required)
   * @param createdAtTo End date (required). (required)
   * @param id Entry ID. (optional)
   * @param operation Operation type.  &#x60;INCREMENT&#x60; &#x60;DECREMENT&#x60; (optional)
   * @param reason Reason for the entry. (optional)
   * @param transactionId Transaction ID. (optional)
   * @param amountFrom Minimum amount. (optional)
   * @param amountTo Maximum amount. (optional)
   * @param page Page number. (optional, default to 1)
   * @param limit Items per page. (optional, default to 10)
   * @param sortBy Sort field. (optional, default to createdAt)
   * @param sortDirection Sort direction. (optional, default to desc)
   * @param headers Optional headers to include in the request
   * @return BankStatementListResponse
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List bank statements Documentation</a>
   */
  public BankStatementListResponse getUserBankStatements(@javax.annotation.Nonnull OffsetDateTime createdAtFrom, @javax.annotation.Nonnull OffsetDateTime createdAtTo, @javax.annotation.Nullable String id, @javax.annotation.Nullable String operation, @javax.annotation.Nullable String reason, @javax.annotation.Nullable String transactionId, @javax.annotation.Nullable BigDecimal amountFrom, @javax.annotation.Nullable BigDecimal amountTo, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable String sortBy, @javax.annotation.Nullable String sortDirection, Map<String, String> headers) throws ApiException {
    ApiResponse<BankStatementListResponse> localVarResponse = getUserBankStatementsWithHttpInfo(createdAtFrom, createdAtTo, id, operation, reason, transactionId, amountFrom, amountTo, page, limit, sortBy, sortDirection, headers);
    return localVarResponse.getData();
  }

  /**
   * List bank statements
   * Lists the account statement entries. &#x60;createdAtFrom&#x60; and &#x60;createdAtTo&#x60; are required.
   * @param createdAtFrom Start date (required). (required)
   * @param createdAtTo End date (required). (required)
   * @param id Entry ID. (optional)
   * @param operation Operation type.  &#x60;INCREMENT&#x60; &#x60;DECREMENT&#x60; (optional)
   * @param reason Reason for the entry. (optional)
   * @param transactionId Transaction ID. (optional)
   * @param amountFrom Minimum amount. (optional)
   * @param amountTo Maximum amount. (optional)
   * @param page Page number. (optional, default to 1)
   * @param limit Items per page. (optional, default to 10)
   * @param sortBy Sort field. (optional, default to createdAt)
   * @param sortDirection Sort direction. (optional, default to desc)
   * @return ApiResponse&lt;BankStatementListResponse&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List bank statements Documentation</a>
   */
  public ApiResponse<BankStatementListResponse> getUserBankStatementsWithHttpInfo(@javax.annotation.Nonnull OffsetDateTime createdAtFrom, @javax.annotation.Nonnull OffsetDateTime createdAtTo, @javax.annotation.Nullable String id, @javax.annotation.Nullable String operation, @javax.annotation.Nullable String reason, @javax.annotation.Nullable String transactionId, @javax.annotation.Nullable BigDecimal amountFrom, @javax.annotation.Nullable BigDecimal amountTo, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable String sortBy, @javax.annotation.Nullable String sortDirection) throws ApiException {
    return getUserBankStatementsWithHttpInfo(createdAtFrom, createdAtTo, id, operation, reason, transactionId, amountFrom, amountTo, page, limit, sortBy, sortDirection, null);
  }

  /**
   * List bank statements
   * Lists the account statement entries. &#x60;createdAtFrom&#x60; and &#x60;createdAtTo&#x60; are required.
   * @param createdAtFrom Start date (required). (required)
   * @param createdAtTo End date (required). (required)
   * @param id Entry ID. (optional)
   * @param operation Operation type.  &#x60;INCREMENT&#x60; &#x60;DECREMENT&#x60; (optional)
   * @param reason Reason for the entry. (optional)
   * @param transactionId Transaction ID. (optional)
   * @param amountFrom Minimum amount. (optional)
   * @param amountTo Maximum amount. (optional)
   * @param page Page number. (optional, default to 1)
   * @param limit Items per page. (optional, default to 10)
   * @param sortBy Sort field. (optional, default to createdAt)
   * @param sortDirection Sort direction. (optional, default to desc)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;BankStatementListResponse&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List bank statements Documentation</a>
   */
  public ApiResponse<BankStatementListResponse> getUserBankStatementsWithHttpInfo(@javax.annotation.Nonnull OffsetDateTime createdAtFrom, @javax.annotation.Nonnull OffsetDateTime createdAtTo, @javax.annotation.Nullable String id, @javax.annotation.Nullable String operation, @javax.annotation.Nullable String reason, @javax.annotation.Nullable String transactionId, @javax.annotation.Nullable BigDecimal amountFrom, @javax.annotation.Nullable BigDecimal amountTo, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable String sortBy, @javax.annotation.Nullable String sortDirection, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getUserBankStatementsRequestBuilder(createdAtFrom, createdAtTo, id, operation, reason, transactionId, amountFrom, amountTo, page, limit, sortBy, sortDirection, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getUserBankStatements", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<BankStatementListResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        BankStatementListResponse responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BankStatementListResponse>() {});
        

        return new ApiResponse<BankStatementListResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getUserBankStatementsRequestBuilder(@javax.annotation.Nonnull OffsetDateTime createdAtFrom, @javax.annotation.Nonnull OffsetDateTime createdAtTo, @javax.annotation.Nullable String id, @javax.annotation.Nullable String operation, @javax.annotation.Nullable String reason, @javax.annotation.Nullable String transactionId, @javax.annotation.Nullable BigDecimal amountFrom, @javax.annotation.Nullable BigDecimal amountTo, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable String sortBy, @javax.annotation.Nullable String sortDirection, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'createdAtFrom' is set
    if (createdAtFrom == null) {
      throw new ApiException(400, "Missing the required parameter 'createdAtFrom' when calling getUserBankStatements");
    }
    // verify the required parameter 'createdAtTo' is set
    if (createdAtTo == null) {
      throw new ApiException(400, "Missing the required parameter 'createdAtTo' when calling getUserBankStatements");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/user/bank-statements";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "createdAtFrom";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("createdAtFrom", createdAtFrom));
    localVarQueryParameterBaseName = "createdAtTo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("createdAtTo", createdAtTo));
    localVarQueryParameterBaseName = "id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id", id));
    localVarQueryParameterBaseName = "operation";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("operation", operation));
    localVarQueryParameterBaseName = "reason";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("reason", reason));
    localVarQueryParameterBaseName = "transactionId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("transactionId", transactionId));
    localVarQueryParameterBaseName = "amountFrom";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("amountFrom", amountFrom));
    localVarQueryParameterBaseName = "amountTo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("amountTo", amountTo));
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "sortBy";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sortBy", sortBy));
    localVarQueryParameterBaseName = "sortDirection";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sortDirection", sortDirection));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List pending deposits
   * Lists deposits that are pending / not yet reconciled.
   * @param status Comma-separated statuses: PENDING, APPROVED, REJECTED, EXPIRED, COMPLETED. (optional)
   * @param document CPF or CNPJ, digits only. (optional)
   * @param name Name of the payer or receiver. (optional)
   * @param endToEndId End-to-end ID of the Pix. (optional)
   * @param amountMin Minimum amount. (optional)
   * @param amountMax Maximum amount. (optional)
   * @param createdAtFrom Start of the creation date range. (optional)
   * @param createdAtTo End of the creation date range. (optional)
   * @param page Page number. (optional, default to 1)
   * @param limit Items per page. (optional, default to 20)
   * @return DepositPendingListResponse
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List pending deposits Documentation</a>
   */
  public DepositPendingListResponse getUserDepositPending(@javax.annotation.Nullable String status, @javax.annotation.Nullable String document, @javax.annotation.Nullable String name, @javax.annotation.Nullable String endToEndId, @javax.annotation.Nullable BigDecimal amountMin, @javax.annotation.Nullable BigDecimal amountMax, @javax.annotation.Nullable OffsetDateTime createdAtFrom, @javax.annotation.Nullable OffsetDateTime createdAtTo, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer limit) throws ApiException {
    return getUserDepositPending(status, document, name, endToEndId, amountMin, amountMax, createdAtFrom, createdAtTo, page, limit, null);
  }

  /**
   * List pending deposits
   * Lists deposits that are pending / not yet reconciled.
   * @param status Comma-separated statuses: PENDING, APPROVED, REJECTED, EXPIRED, COMPLETED. (optional)
   * @param document CPF or CNPJ, digits only. (optional)
   * @param name Name of the payer or receiver. (optional)
   * @param endToEndId End-to-end ID of the Pix. (optional)
   * @param amountMin Minimum amount. (optional)
   * @param amountMax Maximum amount. (optional)
   * @param createdAtFrom Start of the creation date range. (optional)
   * @param createdAtTo End of the creation date range. (optional)
   * @param page Page number. (optional, default to 1)
   * @param limit Items per page. (optional, default to 20)
   * @param headers Optional headers to include in the request
   * @return DepositPendingListResponse
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List pending deposits Documentation</a>
   */
  public DepositPendingListResponse getUserDepositPending(@javax.annotation.Nullable String status, @javax.annotation.Nullable String document, @javax.annotation.Nullable String name, @javax.annotation.Nullable String endToEndId, @javax.annotation.Nullable BigDecimal amountMin, @javax.annotation.Nullable BigDecimal amountMax, @javax.annotation.Nullable OffsetDateTime createdAtFrom, @javax.annotation.Nullable OffsetDateTime createdAtTo, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer limit, Map<String, String> headers) throws ApiException {
    ApiResponse<DepositPendingListResponse> localVarResponse = getUserDepositPendingWithHttpInfo(status, document, name, endToEndId, amountMin, amountMax, createdAtFrom, createdAtTo, page, limit, headers);
    return localVarResponse.getData();
  }

  /**
   * List pending deposits
   * Lists deposits that are pending / not yet reconciled.
   * @param status Comma-separated statuses: PENDING, APPROVED, REJECTED, EXPIRED, COMPLETED. (optional)
   * @param document CPF or CNPJ, digits only. (optional)
   * @param name Name of the payer or receiver. (optional)
   * @param endToEndId End-to-end ID of the Pix. (optional)
   * @param amountMin Minimum amount. (optional)
   * @param amountMax Maximum amount. (optional)
   * @param createdAtFrom Start of the creation date range. (optional)
   * @param createdAtTo End of the creation date range. (optional)
   * @param page Page number. (optional, default to 1)
   * @param limit Items per page. (optional, default to 20)
   * @return ApiResponse&lt;DepositPendingListResponse&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List pending deposits Documentation</a>
   */
  public ApiResponse<DepositPendingListResponse> getUserDepositPendingWithHttpInfo(@javax.annotation.Nullable String status, @javax.annotation.Nullable String document, @javax.annotation.Nullable String name, @javax.annotation.Nullable String endToEndId, @javax.annotation.Nullable BigDecimal amountMin, @javax.annotation.Nullable BigDecimal amountMax, @javax.annotation.Nullable OffsetDateTime createdAtFrom, @javax.annotation.Nullable OffsetDateTime createdAtTo, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer limit) throws ApiException {
    return getUserDepositPendingWithHttpInfo(status, document, name, endToEndId, amountMin, amountMax, createdAtFrom, createdAtTo, page, limit, null);
  }

  /**
   * List pending deposits
   * Lists deposits that are pending / not yet reconciled.
   * @param status Comma-separated statuses: PENDING, APPROVED, REJECTED, EXPIRED, COMPLETED. (optional)
   * @param document CPF or CNPJ, digits only. (optional)
   * @param name Name of the payer or receiver. (optional)
   * @param endToEndId End-to-end ID of the Pix. (optional)
   * @param amountMin Minimum amount. (optional)
   * @param amountMax Maximum amount. (optional)
   * @param createdAtFrom Start of the creation date range. (optional)
   * @param createdAtTo End of the creation date range. (optional)
   * @param page Page number. (optional, default to 1)
   * @param limit Items per page. (optional, default to 20)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;DepositPendingListResponse&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List pending deposits Documentation</a>
   */
  public ApiResponse<DepositPendingListResponse> getUserDepositPendingWithHttpInfo(@javax.annotation.Nullable String status, @javax.annotation.Nullable String document, @javax.annotation.Nullable String name, @javax.annotation.Nullable String endToEndId, @javax.annotation.Nullable BigDecimal amountMin, @javax.annotation.Nullable BigDecimal amountMax, @javax.annotation.Nullable OffsetDateTime createdAtFrom, @javax.annotation.Nullable OffsetDateTime createdAtTo, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer limit, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getUserDepositPendingRequestBuilder(status, document, name, endToEndId, amountMin, amountMax, createdAtFrom, createdAtTo, page, limit, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getUserDepositPending", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<DepositPendingListResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        DepositPendingListResponse responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DepositPendingListResponse>() {});
        

        return new ApiResponse<DepositPendingListResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getUserDepositPendingRequestBuilder(@javax.annotation.Nullable String status, @javax.annotation.Nullable String document, @javax.annotation.Nullable String name, @javax.annotation.Nullable String endToEndId, @javax.annotation.Nullable BigDecimal amountMin, @javax.annotation.Nullable BigDecimal amountMax, @javax.annotation.Nullable OffsetDateTime createdAtFrom, @javax.annotation.Nullable OffsetDateTime createdAtTo, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer limit, Map<String, String> headers) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/user/deposit-pending";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "document";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("document", document));
    localVarQueryParameterBaseName = "name";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name", name));
    localVarQueryParameterBaseName = "endToEndId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("endToEndId", endToEndId));
    localVarQueryParameterBaseName = "amountMin";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("amountMin", amountMin));
    localVarQueryParameterBaseName = "amountMax";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("amountMax", amountMax));
    localVarQueryParameterBaseName = "createdAtFrom";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("createdAtFrom", createdAtFrom));
    localVarQueryParameterBaseName = "createdAtTo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("createdAtTo", createdAtTo));
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get pending deposit
   * Returns a single pending deposit.
   * @param id Pending deposit id. (required)
   * @return DepositPending
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Get pending deposit Documentation</a>
   */
  public DepositPending getUserDepositPendingById(@javax.annotation.Nonnull String id) throws ApiException {
    return getUserDepositPendingById(id, null);
  }

  /**
   * Get pending deposit
   * Returns a single pending deposit.
   * @param id Pending deposit id. (required)
   * @param headers Optional headers to include in the request
   * @return DepositPending
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Get pending deposit Documentation</a>
   */
  public DepositPending getUserDepositPendingById(@javax.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    ApiResponse<DepositPending> localVarResponse = getUserDepositPendingByIdWithHttpInfo(id, headers);
    return localVarResponse.getData();
  }

  /**
   * Get pending deposit
   * Returns a single pending deposit.
   * @param id Pending deposit id. (required)
   * @return ApiResponse&lt;DepositPending&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Get pending deposit Documentation</a>
   */
  public ApiResponse<DepositPending> getUserDepositPendingByIdWithHttpInfo(@javax.annotation.Nonnull String id) throws ApiException {
    return getUserDepositPendingByIdWithHttpInfo(id, null);
  }

  /**
   * Get pending deposit
   * Returns a single pending deposit.
   * @param id Pending deposit id. (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;DepositPending&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Get pending deposit Documentation</a>
   */
  public ApiResponse<DepositPending> getUserDepositPendingByIdWithHttpInfo(@javax.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getUserDepositPendingByIdRequestBuilder(id, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getUserDepositPendingById", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<DepositPending>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        DepositPending responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DepositPending>() {});
        

        return new ApiResponse<DepositPending>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getUserDepositPendingByIdRequestBuilder(@javax.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getUserDepositPendingById");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/user/deposit-pending/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get report job status
   * Returns the status and metadata of a specific report job by &#x60;id&#x60;.
   * @param id Report ID. (required)
   * @return ReportJobDetail
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Get report job status Documentation</a>
   */
  public ReportJobDetail getUserReport(@javax.annotation.Nonnull UUID id) throws ApiException {
    return getUserReport(id, null);
  }

  /**
   * Get report job status
   * Returns the status and metadata of a specific report job by &#x60;id&#x60;.
   * @param id Report ID. (required)
   * @param headers Optional headers to include in the request
   * @return ReportJobDetail
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Get report job status Documentation</a>
   */
  public ReportJobDetail getUserReport(@javax.annotation.Nonnull UUID id, Map<String, String> headers) throws ApiException {
    ApiResponse<ReportJobDetail> localVarResponse = getUserReportWithHttpInfo(id, headers);
    return localVarResponse.getData();
  }

  /**
   * Get report job status
   * Returns the status and metadata of a specific report job by &#x60;id&#x60;.
   * @param id Report ID. (required)
   * @return ApiResponse&lt;ReportJobDetail&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Get report job status Documentation</a>
   */
  public ApiResponse<ReportJobDetail> getUserReportWithHttpInfo(@javax.annotation.Nonnull UUID id) throws ApiException {
    return getUserReportWithHttpInfo(id, null);
  }

  /**
   * Get report job status
   * Returns the status and metadata of a specific report job by &#x60;id&#x60;.
   * @param id Report ID. (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;ReportJobDetail&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Get report job status Documentation</a>
   */
  public ApiResponse<ReportJobDetail> getUserReportWithHttpInfo(@javax.annotation.Nonnull UUID id, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getUserReportRequestBuilder(id, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getUserReport", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<ReportJobDetail>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        ReportJobDetail responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ReportJobDetail>() {});
        

        return new ApiResponse<ReportJobDetail>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getUserReportRequestBuilder(@javax.annotation.Nonnull UUID id, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getUserReport");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/user/report/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Transaction summary
   * Aggregated totals for deposits, withdrawals and commission over a period.
   * @param dateFrom Start date. Default: start of the previous day (America/Sao_Paulo). (optional)
   * @param dateTo End date. Default: now. (optional)
   * @param groupBy Grouping applied to the transactions. (optional, default to day)
   * @param grouped When true, returns a series grouped by date. (optional)
   * @return Summary
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Transaction summary Documentation</a>
   */
  public Summary getUserSummary(@javax.annotation.Nullable OffsetDateTime dateFrom, @javax.annotation.Nullable OffsetDateTime dateTo, @javax.annotation.Nullable String groupBy, @javax.annotation.Nullable Boolean grouped) throws ApiException {
    return getUserSummary(dateFrom, dateTo, groupBy, grouped, null);
  }

  /**
   * Transaction summary
   * Aggregated totals for deposits, withdrawals and commission over a period.
   * @param dateFrom Start date. Default: start of the previous day (America/Sao_Paulo). (optional)
   * @param dateTo End date. Default: now. (optional)
   * @param groupBy Grouping applied to the transactions. (optional, default to day)
   * @param grouped When true, returns a series grouped by date. (optional)
   * @param headers Optional headers to include in the request
   * @return Summary
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Transaction summary Documentation</a>
   */
  public Summary getUserSummary(@javax.annotation.Nullable OffsetDateTime dateFrom, @javax.annotation.Nullable OffsetDateTime dateTo, @javax.annotation.Nullable String groupBy, @javax.annotation.Nullable Boolean grouped, Map<String, String> headers) throws ApiException {
    ApiResponse<Summary> localVarResponse = getUserSummaryWithHttpInfo(dateFrom, dateTo, groupBy, grouped, headers);
    return localVarResponse.getData();
  }

  /**
   * Transaction summary
   * Aggregated totals for deposits, withdrawals and commission over a period.
   * @param dateFrom Start date. Default: start of the previous day (America/Sao_Paulo). (optional)
   * @param dateTo End date. Default: now. (optional)
   * @param groupBy Grouping applied to the transactions. (optional, default to day)
   * @param grouped When true, returns a series grouped by date. (optional)
   * @return ApiResponse&lt;Summary&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Transaction summary Documentation</a>
   */
  public ApiResponse<Summary> getUserSummaryWithHttpInfo(@javax.annotation.Nullable OffsetDateTime dateFrom, @javax.annotation.Nullable OffsetDateTime dateTo, @javax.annotation.Nullable String groupBy, @javax.annotation.Nullable Boolean grouped) throws ApiException {
    return getUserSummaryWithHttpInfo(dateFrom, dateTo, groupBy, grouped, null);
  }

  /**
   * Transaction summary
   * Aggregated totals for deposits, withdrawals and commission over a period.
   * @param dateFrom Start date. Default: start of the previous day (America/Sao_Paulo). (optional)
   * @param dateTo End date. Default: now. (optional)
   * @param groupBy Grouping applied to the transactions. (optional, default to day)
   * @param grouped When true, returns a series grouped by date. (optional)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;Summary&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Transaction summary Documentation</a>
   */
  public ApiResponse<Summary> getUserSummaryWithHttpInfo(@javax.annotation.Nullable OffsetDateTime dateFrom, @javax.annotation.Nullable OffsetDateTime dateTo, @javax.annotation.Nullable String groupBy, @javax.annotation.Nullable Boolean grouped, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getUserSummaryRequestBuilder(dateFrom, dateTo, groupBy, grouped, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getUserSummary", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<Summary>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        Summary responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Summary>() {});
        

        return new ApiResponse<Summary>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getUserSummaryRequestBuilder(@javax.annotation.Nullable OffsetDateTime dateFrom, @javax.annotation.Nullable OffsetDateTime dateTo, @javax.annotation.Nullable String groupBy, @javax.annotation.Nullable Boolean grouped, Map<String, String> headers) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/user/summary";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "dateFrom";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("dateFrom", dateFrom));
    localVarQueryParameterBaseName = "dateTo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("dateTo", dateTo));
    localVarQueryParameterBaseName = "groupBy";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("groupBy", groupBy));
    localVarQueryParameterBaseName = "grouped";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("grouped", grouped));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List transaction details
   * Retrieve a single transaction with its callback log and linked infractions.
   * @param id Transaction ID. (required)
   * @return GetUserTransactionById200Response
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List transaction details Documentation</a>
   */
  public GetUserTransactionById200Response getUserTransactionById(@javax.annotation.Nonnull String id) throws ApiException {
    return getUserTransactionById(id, null);
  }

  /**
   * List transaction details
   * Retrieve a single transaction with its callback log and linked infractions.
   * @param id Transaction ID. (required)
   * @param headers Optional headers to include in the request
   * @return GetUserTransactionById200Response
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List transaction details Documentation</a>
   */
  public GetUserTransactionById200Response getUserTransactionById(@javax.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    ApiResponse<GetUserTransactionById200Response> localVarResponse = getUserTransactionByIdWithHttpInfo(id, headers);
    return localVarResponse.getData();
  }

  /**
   * List transaction details
   * Retrieve a single transaction with its callback log and linked infractions.
   * @param id Transaction ID. (required)
   * @return ApiResponse&lt;GetUserTransactionById200Response&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List transaction details Documentation</a>
   */
  public ApiResponse<GetUserTransactionById200Response> getUserTransactionByIdWithHttpInfo(@javax.annotation.Nonnull String id) throws ApiException {
    return getUserTransactionByIdWithHttpInfo(id, null);
  }

  /**
   * List transaction details
   * Retrieve a single transaction with its callback log and linked infractions.
   * @param id Transaction ID. (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;GetUserTransactionById200Response&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List transaction details Documentation</a>
   */
  public ApiResponse<GetUserTransactionById200Response> getUserTransactionByIdWithHttpInfo(@javax.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getUserTransactionByIdRequestBuilder(id, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getUserTransactionById", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<GetUserTransactionById200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        GetUserTransactionById200Response responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GetUserTransactionById200Response>() {});
        

        return new ApiResponse<GetUserTransactionById200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getUserTransactionByIdRequestBuilder(@javax.annotation.Nonnull String id, Map<String, String> headers) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getUserTransactionById");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/user/transactions/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List Transactions
   * Paginated list of account transactions with filters.
   * @param dateFrom Start date-time (ISO 8601). (optional)
   * @param dateTo End date-time (ISO 8601). (optional)
   * @param limit Items per page (max 1000). (optional, default to 10)
   * @param page Page number (default 1). (optional, default to 1)
   * @param id Transaction ID. (optional)
   * @param status Transaction status. Accepts CSV: PENDING,COMPLETED,etc. (optional)
   * @param type Transaction type. Accepts CSV: DEPOSIT,WITHDRAW,COMMISSION,LIQUIDATION,ADJUSTMENT. (optional)
   * @param method Transaction method/rail. Accepts CSV: PIX,INTERNAL_TRANSFER. (optional)
   * @param amount Amount filter. Minimum 0.01. (optional)
   * @param document CPF (11 digits) or CNPJ (14 digits), digits only, no punctuation. (optional)
   * @param name Name filter. (optional)
   * @param endToEndId Pix end-to-end ID. (optional)
   * @param sortBy Field to sort by (optional, default to createdAt)
   * @param sortDirection Sort direction (optional, default to desc)
   * @param clientReference Filter by external reference (optional)
   * @param virtualAccount Virtual sub-account (up to 50 characters) used at creation. Accepted as an alternative lookup key. (optional)
   * @param hasQrCode Only transactions with (true) or without (false) QR Code. (optional)
   * @return GetUserTransactions200Response
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List Transactions Documentation</a>
   */
  public GetUserTransactions200Response getUserTransactions(@javax.annotation.Nullable OffsetDateTime dateFrom, @javax.annotation.Nullable OffsetDateTime dateTo, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable String id, @javax.annotation.Nullable String status, @javax.annotation.Nullable String type, @javax.annotation.Nullable String method, @javax.annotation.Nullable BigDecimal amount, @javax.annotation.Nullable String document, @javax.annotation.Nullable String name, @javax.annotation.Nullable String endToEndId, @javax.annotation.Nullable String sortBy, @javax.annotation.Nullable String sortDirection, @javax.annotation.Nullable String clientReference, @javax.annotation.Nullable String virtualAccount, @javax.annotation.Nullable Boolean hasQrCode) throws ApiException {
    return getUserTransactions(dateFrom, dateTo, limit, page, id, status, type, method, amount, document, name, endToEndId, sortBy, sortDirection, clientReference, virtualAccount, hasQrCode, null);
  }

  /**
   * List Transactions
   * Paginated list of account transactions with filters.
   * @param dateFrom Start date-time (ISO 8601). (optional)
   * @param dateTo End date-time (ISO 8601). (optional)
   * @param limit Items per page (max 1000). (optional, default to 10)
   * @param page Page number (default 1). (optional, default to 1)
   * @param id Transaction ID. (optional)
   * @param status Transaction status. Accepts CSV: PENDING,COMPLETED,etc. (optional)
   * @param type Transaction type. Accepts CSV: DEPOSIT,WITHDRAW,COMMISSION,LIQUIDATION,ADJUSTMENT. (optional)
   * @param method Transaction method/rail. Accepts CSV: PIX,INTERNAL_TRANSFER. (optional)
   * @param amount Amount filter. Minimum 0.01. (optional)
   * @param document CPF (11 digits) or CNPJ (14 digits), digits only, no punctuation. (optional)
   * @param name Name filter. (optional)
   * @param endToEndId Pix end-to-end ID. (optional)
   * @param sortBy Field to sort by (optional, default to createdAt)
   * @param sortDirection Sort direction (optional, default to desc)
   * @param clientReference Filter by external reference (optional)
   * @param virtualAccount Virtual sub-account (up to 50 characters) used at creation. Accepted as an alternative lookup key. (optional)
   * @param hasQrCode Only transactions with (true) or without (false) QR Code. (optional)
   * @param headers Optional headers to include in the request
   * @return GetUserTransactions200Response
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List Transactions Documentation</a>
   */
  public GetUserTransactions200Response getUserTransactions(@javax.annotation.Nullable OffsetDateTime dateFrom, @javax.annotation.Nullable OffsetDateTime dateTo, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable String id, @javax.annotation.Nullable String status, @javax.annotation.Nullable String type, @javax.annotation.Nullable String method, @javax.annotation.Nullable BigDecimal amount, @javax.annotation.Nullable String document, @javax.annotation.Nullable String name, @javax.annotation.Nullable String endToEndId, @javax.annotation.Nullable String sortBy, @javax.annotation.Nullable String sortDirection, @javax.annotation.Nullable String clientReference, @javax.annotation.Nullable String virtualAccount, @javax.annotation.Nullable Boolean hasQrCode, Map<String, String> headers) throws ApiException {
    ApiResponse<GetUserTransactions200Response> localVarResponse = getUserTransactionsWithHttpInfo(dateFrom, dateTo, limit, page, id, status, type, method, amount, document, name, endToEndId, sortBy, sortDirection, clientReference, virtualAccount, hasQrCode, headers);
    return localVarResponse.getData();
  }

  /**
   * List Transactions
   * Paginated list of account transactions with filters.
   * @param dateFrom Start date-time (ISO 8601). (optional)
   * @param dateTo End date-time (ISO 8601). (optional)
   * @param limit Items per page (max 1000). (optional, default to 10)
   * @param page Page number (default 1). (optional, default to 1)
   * @param id Transaction ID. (optional)
   * @param status Transaction status. Accepts CSV: PENDING,COMPLETED,etc. (optional)
   * @param type Transaction type. Accepts CSV: DEPOSIT,WITHDRAW,COMMISSION,LIQUIDATION,ADJUSTMENT. (optional)
   * @param method Transaction method/rail. Accepts CSV: PIX,INTERNAL_TRANSFER. (optional)
   * @param amount Amount filter. Minimum 0.01. (optional)
   * @param document CPF (11 digits) or CNPJ (14 digits), digits only, no punctuation. (optional)
   * @param name Name filter. (optional)
   * @param endToEndId Pix end-to-end ID. (optional)
   * @param sortBy Field to sort by (optional, default to createdAt)
   * @param sortDirection Sort direction (optional, default to desc)
   * @param clientReference Filter by external reference (optional)
   * @param virtualAccount Virtual sub-account (up to 50 characters) used at creation. Accepted as an alternative lookup key. (optional)
   * @param hasQrCode Only transactions with (true) or without (false) QR Code. (optional)
   * @return ApiResponse&lt;GetUserTransactions200Response&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List Transactions Documentation</a>
   */
  public ApiResponse<GetUserTransactions200Response> getUserTransactionsWithHttpInfo(@javax.annotation.Nullable OffsetDateTime dateFrom, @javax.annotation.Nullable OffsetDateTime dateTo, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable String id, @javax.annotation.Nullable String status, @javax.annotation.Nullable String type, @javax.annotation.Nullable String method, @javax.annotation.Nullable BigDecimal amount, @javax.annotation.Nullable String document, @javax.annotation.Nullable String name, @javax.annotation.Nullable String endToEndId, @javax.annotation.Nullable String sortBy, @javax.annotation.Nullable String sortDirection, @javax.annotation.Nullable String clientReference, @javax.annotation.Nullable String virtualAccount, @javax.annotation.Nullable Boolean hasQrCode) throws ApiException {
    return getUserTransactionsWithHttpInfo(dateFrom, dateTo, limit, page, id, status, type, method, amount, document, name, endToEndId, sortBy, sortDirection, clientReference, virtualAccount, hasQrCode, null);
  }

  /**
   * List Transactions
   * Paginated list of account transactions with filters.
   * @param dateFrom Start date-time (ISO 8601). (optional)
   * @param dateTo End date-time (ISO 8601). (optional)
   * @param limit Items per page (max 1000). (optional, default to 10)
   * @param page Page number (default 1). (optional, default to 1)
   * @param id Transaction ID. (optional)
   * @param status Transaction status. Accepts CSV: PENDING,COMPLETED,etc. (optional)
   * @param type Transaction type. Accepts CSV: DEPOSIT,WITHDRAW,COMMISSION,LIQUIDATION,ADJUSTMENT. (optional)
   * @param method Transaction method/rail. Accepts CSV: PIX,INTERNAL_TRANSFER. (optional)
   * @param amount Amount filter. Minimum 0.01. (optional)
   * @param document CPF (11 digits) or CNPJ (14 digits), digits only, no punctuation. (optional)
   * @param name Name filter. (optional)
   * @param endToEndId Pix end-to-end ID. (optional)
   * @param sortBy Field to sort by (optional, default to createdAt)
   * @param sortDirection Sort direction (optional, default to desc)
   * @param clientReference Filter by external reference (optional)
   * @param virtualAccount Virtual sub-account (up to 50 characters) used at creation. Accepted as an alternative lookup key. (optional)
   * @param hasQrCode Only transactions with (true) or without (false) QR Code. (optional)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;GetUserTransactions200Response&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List Transactions Documentation</a>
   */
  public ApiResponse<GetUserTransactions200Response> getUserTransactionsWithHttpInfo(@javax.annotation.Nullable OffsetDateTime dateFrom, @javax.annotation.Nullable OffsetDateTime dateTo, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable String id, @javax.annotation.Nullable String status, @javax.annotation.Nullable String type, @javax.annotation.Nullable String method, @javax.annotation.Nullable BigDecimal amount, @javax.annotation.Nullable String document, @javax.annotation.Nullable String name, @javax.annotation.Nullable String endToEndId, @javax.annotation.Nullable String sortBy, @javax.annotation.Nullable String sortDirection, @javax.annotation.Nullable String clientReference, @javax.annotation.Nullable String virtualAccount, @javax.annotation.Nullable Boolean hasQrCode, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getUserTransactionsRequestBuilder(dateFrom, dateTo, limit, page, id, status, type, method, amount, document, name, endToEndId, sortBy, sortDirection, clientReference, virtualAccount, hasQrCode, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getUserTransactions", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<GetUserTransactions200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        GetUserTransactions200Response responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GetUserTransactions200Response>() {});
        

        return new ApiResponse<GetUserTransactions200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getUserTransactionsRequestBuilder(@javax.annotation.Nullable OffsetDateTime dateFrom, @javax.annotation.Nullable OffsetDateTime dateTo, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable Integer page, @javax.annotation.Nullable String id, @javax.annotation.Nullable String status, @javax.annotation.Nullable String type, @javax.annotation.Nullable String method, @javax.annotation.Nullable BigDecimal amount, @javax.annotation.Nullable String document, @javax.annotation.Nullable String name, @javax.annotation.Nullable String endToEndId, @javax.annotation.Nullable String sortBy, @javax.annotation.Nullable String sortDirection, @javax.annotation.Nullable String clientReference, @javax.annotation.Nullable String virtualAccount, @javax.annotation.Nullable Boolean hasQrCode, Map<String, String> headers) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/user/transactions";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "dateFrom";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("dateFrom", dateFrom));
    localVarQueryParameterBaseName = "dateTo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("dateTo", dateTo));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id", id));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "type";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("type", type));
    localVarQueryParameterBaseName = "method";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("method", method));
    localVarQueryParameterBaseName = "amount";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("amount", amount));
    localVarQueryParameterBaseName = "document";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("document", document));
    localVarQueryParameterBaseName = "name";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name", name));
    localVarQueryParameterBaseName = "endToEndId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("endToEndId", endToEndId));
    localVarQueryParameterBaseName = "sortBy";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sortBy", sortBy));
    localVarQueryParameterBaseName = "sortDirection";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sortDirection", sortDirection));
    localVarQueryParameterBaseName = "clientReference";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("clientReference", clientReference));
    localVarQueryParameterBaseName = "virtualAccount";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("virtualAccount", virtualAccount));
    localVarQueryParameterBaseName = "hasQrCode";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("hasQrCode", hasQrCode));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List report jobs
   * List report jobs created by the authenticated user.
   * @param page Page number. (optional, default to 1)
   * @param limit Items per page. (optional, default to 10)
   * @param status Report status. Accepts CSV: PENDING,RUNNING,COMPLETED,FAILED. (optional)
   * @param createdAtFrom Filter: created from. (optional)
   * @param createdAtTo Filter: created up to. (optional)
   * @param updatedAtFrom Filter: updated from. (optional)
   * @param updatedAtTo Filter: updated up to. (optional)
   * @param sortBy Sort field. (optional, default to createdAt)
   * @param sortDirection Sort direction. (optional, default to desc)
   * @return ListUserReports200Response
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List report jobs Documentation</a>
   */
  public ListUserReports200Response listUserReports(@javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable String status, @javax.annotation.Nullable OffsetDateTime createdAtFrom, @javax.annotation.Nullable OffsetDateTime createdAtTo, @javax.annotation.Nullable OffsetDateTime updatedAtFrom, @javax.annotation.Nullable OffsetDateTime updatedAtTo, @javax.annotation.Nullable String sortBy, @javax.annotation.Nullable String sortDirection) throws ApiException {
    return listUserReports(page, limit, status, createdAtFrom, createdAtTo, updatedAtFrom, updatedAtTo, sortBy, sortDirection, null);
  }

  /**
   * List report jobs
   * List report jobs created by the authenticated user.
   * @param page Page number. (optional, default to 1)
   * @param limit Items per page. (optional, default to 10)
   * @param status Report status. Accepts CSV: PENDING,RUNNING,COMPLETED,FAILED. (optional)
   * @param createdAtFrom Filter: created from. (optional)
   * @param createdAtTo Filter: created up to. (optional)
   * @param updatedAtFrom Filter: updated from. (optional)
   * @param updatedAtTo Filter: updated up to. (optional)
   * @param sortBy Sort field. (optional, default to createdAt)
   * @param sortDirection Sort direction. (optional, default to desc)
   * @param headers Optional headers to include in the request
   * @return ListUserReports200Response
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List report jobs Documentation</a>
   */
  public ListUserReports200Response listUserReports(@javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable String status, @javax.annotation.Nullable OffsetDateTime createdAtFrom, @javax.annotation.Nullable OffsetDateTime createdAtTo, @javax.annotation.Nullable OffsetDateTime updatedAtFrom, @javax.annotation.Nullable OffsetDateTime updatedAtTo, @javax.annotation.Nullable String sortBy, @javax.annotation.Nullable String sortDirection, Map<String, String> headers) throws ApiException {
    ApiResponse<ListUserReports200Response> localVarResponse = listUserReportsWithHttpInfo(page, limit, status, createdAtFrom, createdAtTo, updatedAtFrom, updatedAtTo, sortBy, sortDirection, headers);
    return localVarResponse.getData();
  }

  /**
   * List report jobs
   * List report jobs created by the authenticated user.
   * @param page Page number. (optional, default to 1)
   * @param limit Items per page. (optional, default to 10)
   * @param status Report status. Accepts CSV: PENDING,RUNNING,COMPLETED,FAILED. (optional)
   * @param createdAtFrom Filter: created from. (optional)
   * @param createdAtTo Filter: created up to. (optional)
   * @param updatedAtFrom Filter: updated from. (optional)
   * @param updatedAtTo Filter: updated up to. (optional)
   * @param sortBy Sort field. (optional, default to createdAt)
   * @param sortDirection Sort direction. (optional, default to desc)
   * @return ApiResponse&lt;ListUserReports200Response&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List report jobs Documentation</a>
   */
  public ApiResponse<ListUserReports200Response> listUserReportsWithHttpInfo(@javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable String status, @javax.annotation.Nullable OffsetDateTime createdAtFrom, @javax.annotation.Nullable OffsetDateTime createdAtTo, @javax.annotation.Nullable OffsetDateTime updatedAtFrom, @javax.annotation.Nullable OffsetDateTime updatedAtTo, @javax.annotation.Nullable String sortBy, @javax.annotation.Nullable String sortDirection) throws ApiException {
    return listUserReportsWithHttpInfo(page, limit, status, createdAtFrom, createdAtTo, updatedAtFrom, updatedAtTo, sortBy, sortDirection, null);
  }

  /**
   * List report jobs
   * List report jobs created by the authenticated user.
   * @param page Page number. (optional, default to 1)
   * @param limit Items per page. (optional, default to 10)
   * @param status Report status. Accepts CSV: PENDING,RUNNING,COMPLETED,FAILED. (optional)
   * @param createdAtFrom Filter: created from. (optional)
   * @param createdAtTo Filter: created up to. (optional)
   * @param updatedAtFrom Filter: updated from. (optional)
   * @param updatedAtTo Filter: updated up to. (optional)
   * @param sortBy Sort field. (optional, default to createdAt)
   * @param sortDirection Sort direction. (optional, default to desc)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;ListUserReports200Response&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">List report jobs Documentation</a>
   */
  public ApiResponse<ListUserReports200Response> listUserReportsWithHttpInfo(@javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable String status, @javax.annotation.Nullable OffsetDateTime createdAtFrom, @javax.annotation.Nullable OffsetDateTime createdAtTo, @javax.annotation.Nullable OffsetDateTime updatedAtFrom, @javax.annotation.Nullable OffsetDateTime updatedAtTo, @javax.annotation.Nullable String sortBy, @javax.annotation.Nullable String sortDirection, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listUserReportsRequestBuilder(page, limit, status, createdAtFrom, createdAtTo, updatedAtFrom, updatedAtTo, sortBy, sortDirection, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listUserReports", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<ListUserReports200Response>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        ListUserReports200Response responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ListUserReports200Response>() {});
        

        return new ApiResponse<ListUserReports200Response>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listUserReportsRequestBuilder(@javax.annotation.Nullable Integer page, @javax.annotation.Nullable Integer limit, @javax.annotation.Nullable String status, @javax.annotation.Nullable OffsetDateTime createdAtFrom, @javax.annotation.Nullable OffsetDateTime createdAtTo, @javax.annotation.Nullable OffsetDateTime updatedAtFrom, @javax.annotation.Nullable OffsetDateTime updatedAtTo, @javax.annotation.Nullable String sortBy, @javax.annotation.Nullable String sortDirection, Map<String, String> headers) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/user/report";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "createdAtFrom";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("createdAtFrom", createdAtFrom));
    localVarQueryParameterBaseName = "createdAtTo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("createdAtTo", createdAtTo));
    localVarQueryParameterBaseName = "updatedAtFrom";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("updatedAtFrom", updatedAtFrom));
    localVarQueryParameterBaseName = "updatedAtTo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("updatedAtTo", updatedAtTo));
    localVarQueryParameterBaseName = "sortBy";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sortBy", sortBy));
    localVarQueryParameterBaseName = "sortDirection";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("sortDirection", sortDirection));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    // Add custom headers if provided
    localVarRequestBuilder = HttpRequestBuilderExtensions.withAdditionalHeaders(localVarRequestBuilder, headers);
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Generate transactions report
   * Queue an asynchronous job that generates a CSV report of transactions for the given period and filters.
   * @param postUserReportRequest  (required)
   * @return ReportJobAccepted
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Generate transactions report Documentation</a>
   */
  public ReportJobAccepted postUserReport(@javax.annotation.Nonnull PostUserReportRequest postUserReportRequest) throws ApiException {
    return postUserReport(postUserReportRequest, null);
  }

  /**
   * Generate transactions report
   * Queue an asynchronous job that generates a CSV report of transactions for the given period and filters.
   * @param postUserReportRequest  (required)
   * @param headers Optional headers to include in the request
   * @return ReportJobAccepted
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Generate transactions report Documentation</a>
   */
  public ReportJobAccepted postUserReport(@javax.annotation.Nonnull PostUserReportRequest postUserReportRequest, Map<String, String> headers) throws ApiException {
    ApiResponse<ReportJobAccepted> localVarResponse = postUserReportWithHttpInfo(postUserReportRequest, headers);
    return localVarResponse.getData();
  }

  /**
   * Generate transactions report
   * Queue an asynchronous job that generates a CSV report of transactions for the given period and filters.
   * @param postUserReportRequest  (required)
   * @return ApiResponse&lt;ReportJobAccepted&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Generate transactions report Documentation</a>
   */
  public ApiResponse<ReportJobAccepted> postUserReportWithHttpInfo(@javax.annotation.Nonnull PostUserReportRequest postUserReportRequest) throws ApiException {
    return postUserReportWithHttpInfo(postUserReportRequest, null);
  }

  /**
   * Generate transactions report
   * Queue an asynchronous job that generates a CSV report of transactions for the given period and filters.
   * @param postUserReportRequest  (required)
   * @param headers Optional headers to include in the request
   * @return ApiResponse&lt;ReportJobAccepted&gt;
   * @throws ApiException if fails to make API call
   * Reconciliation
   * @see <a href="/docs/pix-processamento/tutoriais/reconciliation">Generate transactions report Documentation</a>
   */
  public ApiResponse<ReportJobAccepted> postUserReportWithHttpInfo(@javax.annotation.Nonnull PostUserReportRequest postUserReportRequest, Map<String, String> headers) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = postUserReportRequestBuilder(postUserReportRequest, headers);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      InputStream localVarResponseBody = null;
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("postUserReport", localVarResponse);
        }
        localVarResponseBody = ApiClient.getResponseBody(localVarResponse);
        if (localVarResponseBody == null) {
          return new ApiResponse<ReportJobAccepted>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        
        
        String responseBody = new String(localVarResponseBody.readAllBytes());
        ReportJobAccepted responseValue = responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ReportJobAccepted>() {});
        

        return new ApiResponse<ReportJobAccepted>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseValue
        );
      } finally {
        if (localVarResponseBody != null) {
          localVarResponseBody.close();
        }
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
[...]
