openapi: 3.1.0
info:
  contact:
    name: Suporte PayZu
    url: https://suporte.payzu.com.br
  description: |
    REST API for Pix operations on the PayZu platform, deposits, withdrawals, internal transfers, infractions, reports, and callback inspection. All amounts are in BRL (reais) unless explicitly noted. Authentication uses a Bearer token issued during onboarding.

    ## SDKs oficiais

    - Node.js: `npm install payzu-pix`
    - Python: `pip install payzu-pix`
    - PHP: `composer require payzu/pix`
    - Ruby: `gem install payzu-pix`
    - Java: `br.com.payzu:payzu-pix` (Maven Central)
    - Go: `go get github.com/PayZuAI/payzu-sdks/go`

    Repo: https://github.com/PayZuAI/payzu-sdks
  title: PayZu Pix API
  version: 1.8.0
externalDocs:
  description: Complete documentation
  url: https://docs.payzu.com.br/docs/pix-processamento
servers:
- description: Production
  url: https://api.payzu.processamento.com/v1
tags:
- description: Create and manage Pix charges (deposits)
  name: Pix Operations
- description: "Refund received Pix charges, full or partial"
  name: Refunds
- description: Send money via Pix (cash out) by Pix key or QR Code
  name: Withdrawals
- description: Look up Pix keys in the DICT directory and decode Pix QR Codes before
    paying
  name: Keys and DICT
- description: "Transfer funds between PayZu accounts (free, instant)"
  name: Internal Transfer
- description: "Account profile, balance"
  name: Account
- description: "Transaction history, reports, bank statements, and pending deposits"
  name: Reports
- description: Webhook callback inspection and re-trigger
  name: Callbacks
- description: Register and manage webhook endpoints that receive transaction notifications
  name: Webhooks
- description: "Manage Pix infractions (disputes, fraud reports) and submit defenses"
  name: Infractions
paths:
  /pix:
    get:
      description: |-
        Get the latest status and details of a transaction of the account. Provide at least one of `id`, `clientReference`, or `endToEndId` (`virtualAccount` is also accepted). When more than one parameter is provided, they are combined as filters (AND).

        Token permission: `DEPOSIT`.
      externalDocs:
        description: Receber pagamento Pix
        url: /docs/pix-processamento/tutoriais/receive-pix
      operationId: get_pix
      parameters:
      - description: Transaction ID.
        example: PAYZU20260811R4TZ8WD1NC000000
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: External reference provided when creating the charge.
        example: order_12345
        explode: true
        in: query
        name: clientReference
        required: false
        schema:
          maxLength: 64
          type: string
        style: form
      - description: Pix end-to-end ID.
        example: E00000000202508172159kZ8dQ2mNb1x
        explode: true
        in: query
        name: endToEndId
        required: false
        schema:
          type: string
        style: form
      - description: Virtual sub-account (up to 50 characters) used at creation. Accepted
          as an alternative lookup key.
        example: loja-centro-01
        explode: true
        in: query
        name: virtualAccount
        required: false
        schema:
          maxLength: 50
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                pending:
                  summary: Pending payment
                  value:
                    id: PAYZU20260811R4TZ8WD1NC000000
                    status: PENDING
                    amount: 10
                    type: DEPOSIT
                    qrCodeText: 00020126870014br.gov.bcb.pix2565qrcode.payzu.com.br/dynamic/11111111-2222-3333-4444-5555555555555204000053039865802BR5908PAYZUPLUS6009SAO
                      PAULO62070503***63047EE4
                    qrCodeBase64: iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQCAYAAAC...
                    qrCodeUrl: https://pix.payzu.com.br/v1/pix/qr-code/PAYZU20260811R4TZ8WD1NC000000
                    generatedName: John Doe
                    generatedDocument: "12345678901"
                    generatedEmail: john.doe@example.com
                    serviceFeeCharged: 0.075
                    payerName: null
                    payerDocument: null
                    payerInstitutionIspb: null
                    payerInstitutionName: null
                    payerAccountNumber: null
                    receiverName: null
                    receiverDocument: null
                    receiverInstitutionIspb: null
                    receiverInstitutionName: null
                    receiverAccountNumber: "000000"
                    endToEndId: null
                    createdAt: 2026-08-11T21:59:11.579Z
                    updatedAt: 2026-08-11T21:59:11.579Z
                    paidAt: null
                    withdrawPixKey: null
                    withdrawPixType: null
                    clientReference: order_12345
                    refundEndToEndId: null
                    refundAmount: null
                    refundStatus: null
                    refundReason: null
                    refundDescription: null
                    refundedAt: null
                    cancellationReason: null
                completed:
                  summary: Completed payment
                  value:
                    id: PAYZU20260811R4TZ8WD1NC000000
                    status: COMPLETED
                    amount: 10
                    type: DEPOSIT
                    qrCodeText: null
                    qrCodeBase64: null
                    qrCodeUrl: null
                    generatedName: John Doe
                    generatedDocument: "12345678901"
                    generatedEmail: john.doe@example.com
                    serviceFeeCharged: 0.075
                    payerName: John Doe
                    payerDocument: "12345678901"
                    payerInstitutionIspb: "12345678"
                    payerInstitutionName: Banco X
                    payerAccountNumber: null
                    receiverName: PayZu Pagamentos Ltda
                    receiverDocument: 12.345.678/0001-00
                    receiverInstitutionIspb: "23066240"
                    receiverInstitutionName: PAYZU IP LTDA.
                    receiverAccountNumber: "000000"
                    endToEndId: E123456782026081122013B13DMS72H9
                    createdAt: 2026-08-11T21:59:11.579Z
                    updatedAt: 2026-08-11T22:01:30.123Z
                    paidAt: 2026-08-11T22:01:30.123Z
                    withdrawPixKey: null
                    withdrawPixType: null
                    clientReference: order_12345
                    refundEndToEndId: null
                    refundAmount: null
                    refundStatus: null
                    refundReason: null
                    refundDescription: null
                    refundedAt: null
                    cancellationReason: null
              schema:
                $ref: "#/components/schemas/Transaction"
          description: Current transaction state
        "400":
          content:
            application/json:
              examples:
                PZV001:
                  summary: Invalid data. Check the fields provided.
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZV001
                    message: Invalid data. Check the fields provided.
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                    details:
                    - field: ""
                      message: "You must provide 'id', 'clientReference', 'endToEndId'\
                        \ or 'virtualAccount'"
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Bad Request, payload or query string failed validation"
        "401":
          content:
            application/json:
              examples:
                PZA100:
                  summary: Unauthorized
                  value:
                    status: ERROR
                    error: Unauthorized
                    errorCode: PZA100
                    message: Unauthorized
                    statusCode: 401
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Missing or invalid Bearer token
        "403":
          content:
            application/json:
              examples:
                PZA200:
                  summary: Forbidden
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZA200
                    message: Forbidden
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Operation not allowed, including a token without the required\
            \ permission (PZA200)"
        "404":
          content:
            application/json:
              examples:
                PZC310:
                  summary: Transaction not found.
                  value:
                    status: ERROR
                    error: Not Found
                    errorCode: PZC310
                    message: Transaction not found.
                    statusCode: 404
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      security:
      - BearerAuth: []
      summary: Retrieve Charge
      tags:
      - Pix Operations
      x-codeSamples:
      - id: curl
        lang: bash
        label: cURL
        source: |-
          curl --request GET \
            --url 'https://api.payzu.processamento.com/v1/pix' \
            --header 'Authorization: Bearer $PAYZU_TOKEN'
      - id: js
        lang: js
        label: Node.js
        source: |-
          const url = 'https://api.payzu.processamento.com/v1/pix';

          const response = await fetch(url, {
            method: 'GET',
            headers: {
              Authorization: `Bearer ${process.env.PAYZU_TOKEN}`,
            },
          });

          const data = await response.json();
          console.log(data);
      - id: python
        lang: python
        label: Python
        source: |-
          import os
          import requests

          response = requests.get(
              'https://api.payzu.processamento.com/v1/pix',
              headers={
                  'Authorization': f'Bearer {os.environ["PAYZU_TOKEN"]}',
              },
          )

          print(response.json())
    post:
      description: |-
        Create a new Pix **deposit** (charge). Returns QR Code and transaction details.

        Token permission: `DEPOSIT`.
      externalDocs:
        description: Receber pagamento Pix
        url: /docs/pix-processamento/tutoriais/receive-pix
      operationId: post_pix
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostPixRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                created:
                  summary: Created (PENDING)
                  value:
                    id: PAYZU20260811R4TZ8WD1NC000000
                    status: PENDING
                    amount: 10
                    type: DEPOSIT
                    qrCodeText: 00020126870014br.gov.bcb.pix2565qrcode.payzu.com.br/dynamic/11111111-2222-3333-4444-5555555555555204000053039865802BR5908PAYZUPLUS6009SAO
                      PAULO62070503***63047EE4
                    qrCodeBase64: iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQCAYAAAC...
                    qrCodeUrl: https://pix.payzu.com.br/v1/pix/qr-code/PAYZU20260811R4TZ8WD1NC000000
                    generatedName: John Doe
                    generatedDocument: "12345678901"
                    generatedEmail: john.doe@example.com
                    serviceFeeCharged: 0.075
                    payerName: null
                    payerDocument: null
                    payerInstitutionIspb: null
                    payerInstitutionName: null
                    payerAccountNumber: null
                    receiverName: null
                    receiverDocument: null
                    receiverInstitutionIspb: null
                    receiverInstitutionName: null
                    receiverAccountNumber: "000000"
                    endToEndId: null
                    createdAt: 2026-08-11T21:59:11.579Z
                    updatedAt: 2026-08-11T21:59:11.579Z
                    paidAt: null
                    withdrawPixKey: null
                    withdrawPixType: null
                    clientReference: order_12345
                    refundEndToEndId: null
                    refundAmount: null
                    refundStatus: null
                    refundReason: null
                    refundDescription: null
                    refundedAt: null
                    cancellationReason: null
              schema:
                $ref: "#/components/schemas/Transaction"
          description: Charge created
        "400":
          content:
            application/json:
              examples:
                PZV001:
                  summary: Invalid data. Check the fields provided.
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZV001
                    message: Invalid data. Check the fields provided.
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                    details:
                    - field: amount
                      message: "Too small: expected number to be >=1"
                PZD600:
                  summary: The minimum deposit amount is R$ 1.00.
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZD600
                    message: The minimum deposit amount is R$ 1.00.
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZD601:
                  summary: "The maximum deposit amount is R$ 50,000.00."
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZD601
                    message: "The maximum deposit amount is R$ 50,000.00."
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZD602:
                  summary: "For deposits above {limite} the document is required."
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZD602
                    message: "For deposits above {limite} the document is required."
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Bad Request, payload or query string failed validation"
        "401":
          content:
            application/json:
              examples:
                PZA100:
                  summary: Unauthorized
                  value:
                    status: ERROR
                    error: Unauthorized
                    errorCode: PZA100
                    message: Unauthorized
                    statusCode: 401
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Missing or invalid Bearer token
        "403":
          content:
            application/json:
              examples:
                PZA200:
                  summary: Forbidden
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZA200
                    message: Forbidden
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZA206:
                  summary: Account awaiting contract signature. Sign the contract
                    sent to the legal repre...
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZA206
                    message: Account awaiting contract signature. Sign the contract
                      sent to the legal representative to release operations.
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Operation not allowed, including a token without the required\
            \ permission (PZA200)"
        "422":
          content:
            application/json:
              examples:
                PZD200:
                  summary: Deposit not allowed for this account.
                  value:
                    status: ERROR
                    error: Unprocessable Entity
                    errorCode: PZD200
                    message: Deposit not allowed for this account.
                    statusCode: 422
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Operation refused
        "424":
          content:
            application/json:
              examples:
                PZD100:
                  summary: The deposit could not be created at the financial institution.
                    Try again...
                  value:
                    status: ERROR
                    error: Failed Dependency
                    errorCode: PZD100
                    message: Could not generate the deposit with the financial institution.
                      Try again.
                    statusCode: 424
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZD103:
                  summary: The deposit processing timeout was reached. Try again.
                  value:
                    status: ERROR
                    error: Failed Dependency
                    errorCode: PZD103
                    message: The deposit processing timeout was reached. Try again.
                    statusCode: 424
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZD500:
                  summary: No financial institution available at the moment. Try again
                    shortly...
                  value:
                    status: ERROR
                    error: Failed Dependency
                    errorCode: PZD500
                    message: No financial institution available at the moment. Try
                      again shortly.
                    statusCode: 424
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                    retryAfterSeconds: 5
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Failure at the financial institution
      security:
      - BearerAuth: []
      summary: Create Charge (Pix deposit)
      tags:
      - Pix Operations
      x-codeSamples:
      - id: curl
        lang: bash
        label: cURL
        source: |-
          curl --request POST \
            --url 'https://api.payzu.processamento.com/v1/pix' \
            --header 'Authorization: Bearer $PAYZU_TOKEN' \
            --header 'Content-Type: application/json' \
            --data '{
            "amount": 10.9,
            "callbackUrl": "https://webhook.cool/",
            "generatedName": "John Doe",
            "generatedEmail": "john.doe@example.com",
            "generatedDocument": "12345678901",
            "expiresIn": 600,
            "clientReference": "order_12345",
            "virtualAccount": "loja-centro-01"
          }'
      - id: js
        lang: js
        label: Node.js
        source: |-
          import { PayZu } from 'payzu-pix';

          const payzu = new PayZu({ token: process.env.PAYZU_TOKEN });

          const charge = await payzu.pix.create({
            amount: 10.9,
            callbackUrl: 'https://webhook.cool/',
            generatedName: 'John Doe',
            generatedEmail: 'john.doe@example.com',
            generatedDocument: '12345678901',
            expiresIn: 600,
            clientReference: 'order_12345',
            virtualAccount: 'loja-centro-01'
          });

          console.log(charge.id, charge.status, charge.qrCodeText);
      - id: python
        lang: python
        label: Python
        source: |-
          import os
          import payzu_pix

          config = payzu_pix.Configuration(
              host='https://api.payzu.processamento.com/v1',
              access_token=os.environ['PAYZU_TOKEN'],
          )

          with payzu_pix.ApiClient(config) as client:
              api = payzu_pix.PixOperationsApi(client)
              request = payzu_pix.PostPixRequest(
                  amount=10.9,
                  callback_url='https://webhook.cool/',
                  generated_name='John Doe',
                  generated_email='john.doe@example.com',
                  generated_document='12345678901',
                  expires_in=600,
                  client_reference='order_12345',
                  virtual_account='loja-centro-01',
              )
              charge = api.post_pix(request)
              print(charge.id, charge.status, charge.qr_code_text)
  /pix/key:
    get:
      description: |-
        Query the DICT (Diretório de Identificadores de Contas Transacionais) to retrieve information about a Pix key before sending a payment. Returns the key owner's details and associated financial institution.

        Token permission: `DEPOSIT` or `WITHDRAW`.
      externalDocs:
        description: Receber pagamento Pix
        url: /docs/pix-processamento/tutoriais/receive-pix
      operationId: get_pix_key
      parameters:
      - description: "The Pix key to lookup (CPF, CNPJ, email, phone, or EVP)."
        example: example@payzu.com.br
        explode: true
        in: query
        name: pixKey
        required: true
        schema:
          maxLength: 77
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                pj:
                  summary: Legal Entity (PJ)
                  value:
                    pixKey: 5c8999e2-6b29-468b-b4e9-04d4872b1bc4
                    document: '**.345.678/****-**'
                    name: EMPRESA EXEMPLO LTDA
                    branch: '****'
                    accountNumber: '*******'
                    personType: PJ
                    accountType: CACC
                    institutionIspb: "12345678"
                    institutionCode: "001"
                    institutionName: BANCO EXEMPLO S.A.
                pf:
                  summary: Individual (PF)
                  value:
                    pixKey: "12345678901"
                    document: '***.456.789-**'
                    name: João da Silva
                    branch: '****'
                    accountNumber: '********'
                    personType: PF
                    accountType: TRAN
                    institutionIspb: "87654321"
                    institutionCode: "260"
                    institutionName: BANCO FICTICIO S.A.
              schema:
                $ref: "#/components/schemas/PixKeyInfo"
          description: Pix key information retrieved successfully
        "400":
          content:
            application/json:
              examples:
                PZV001:
                  summary: Invalid data. Check the fields provided.
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZV001
                    message: Invalid data. Check the fields provided.
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                    details:
                    - field: pixKey
                      message: "Invalid Pix key. Accepted formats: CPF, CNPJ, email,\
                        \ phone (+5511999999999) or EVP (UUID)"
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid Pix key format
        "401":
          content:
            application/json:
              examples:
                PZA100:
                  summary: Unauthorized
                  value:
                    status: ERROR
                    error: Unauthorized
                    errorCode: PZA100
                    message: Unauthorized
                    statusCode: 401
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication failure
        "403":
          content:
            application/json:
              examples:
                PZK400:
                  summary: Pix key lookup not enabled for the user.
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZK400
                    message: Pix key lookup not enabled for the user.
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZA200:
                  summary: Forbidden
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZA200
                    message: Forbidden
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Operation not allowed
        "404":
          content:
            application/json:
              examples:
                PZK300:
                  summary: Pix key not found.
                  value:
                    status: ERROR
                    error: Not Found
                    errorCode: PZK300
                    message: Pix key not found.
                    statusCode: 404
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Pix key not found in DICT
        "422":
          content:
            application/json:
              examples:
                PZK200:
                  summary: Invalid Pix key.
                  value:
                    status: ERROR
                    error: Unprocessable Entity
                    errorCode: PZK200
                    message: Invalid Pix key.
                    statusCode: 422
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Operation refused
        "424":
          content:
            application/json:
              examples:
                PZI110:
                  summary: Communication error with the financial institution.
                  value:
                    status: ERROR
                    error: Failed Dependency
                    errorCode: PZI110
                    message: Communication error with the financial institution.
                    statusCode: 424
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZI111:
                  summary: The financial institution took too long to respond. Try
                    again.
                  value:
                    status: ERROR
                    error: Failed Dependency
                    errorCode: PZI111
                    message: The financial institution took too long to respond. Try
                      again.
                    statusCode: 424
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Failure at the financial institution
        "429":
          content:
            application/json:
              examples:
                PZG429:
                  summary: Query limit reached. Try again shortly. Try again in 30s.
                  value:
                    status: ERROR
                    error: Too Many Requests
                    errorCode: PZG429
                    message: Query limit reached. Try again shortly. Try again in
                      30s.
                    statusCode: 429
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                    retryAfterSeconds: 30
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Rate limit exceeded
        "500":
          content:
            application/json:
              examples:
                PZI101:
                  summary: Operation not supported for this financial institution.
                  value:
                    status: ERROR
                    error: Internal Server Error
                    errorCode: PZI101
                    message: Operation not supported for this financial institution.
                    statusCode: 500
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal error
      security:
      - BearerAuth: []
      summary: Pix key lookup (DICT)
      tags:
      - Keys and DICT
      x-codeSamples:
      - id: curl
        lang: bash
        label: cURL
        source: |-
          curl --request GET \
            --url 'https://api.payzu.processamento.com/v1/pix/key?pixKey=example%40payzu.com.br' \
            --header 'Authorization: Bearer $PAYZU_TOKEN'
      - id: js
        lang: js
        label: Node.js
        source: |-
          const url = 'https://api.payzu.processamento.com/v1/pix/key?pixKey=example%40payzu.com.br';

          const response = await fetch(url, {
            method: 'GET',
            headers: {
              Authorization: `Bearer ${process.env.PAYZU_TOKEN}`,
            },
          });

          const data = await response.json();
          console.log(data);
      - id: python
        lang: python
        label: Python
        source: |-
          import os
          import requests

          response = requests.get(
              'https://api.payzu.processamento.com/v1/pix/key?pixKey=example%40payzu.com.br',
              headers={
                  'Authorization': f'Bearer {os.environ["PAYZU_TOKEN"]}',
              },
          )

          print(response.json())
  /pix/qrcode/read:
    post:
      description: |-
        Decode and extract information from a Pix QR Code (EMV format) before making a payment. Returns the parsed data including receiver details, amount (if present), and other QR Code metadata. PayZu processes both dynamic and static QR Codes.

        Token permission: `DEPOSIT` or `WITHDRAW`.
      externalDocs:
        description: Receber pagamento Pix
        url: /docs/pix-processamento/tutoriais/receive-pix
      operationId: post_pix_qrcode_read
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostPixQrcodeReadRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                dynamic:
                  summary: Dynamic QR Code
                  value:
                    qrCodeType: DYNAMIC
                    name: LOJA EXEMPLO LTDA
                    document: "12345678000199"
                    amount: 10
                    originalAmount: 10
                    txid: c5886b83f0254d0dbfc3900f72d5a8d1
                    additionalInfo: null
                    expiresIn: 1799
                    createdAt: 2026-02-03T22:59:36.138
                static:
                  summary: Static QR Code
                  value:
                    qrCodeType: STATIC
                    name: MARIA SANTOS
                    document: "98765432100"
                    amount: 1
                    originalAmount: 1
                    txid: QRTEST20251103083119867
                    additionalInfo: null
                    expiresIn: 0
                    createdAt: null
              schema:
                $ref: "#/components/schemas/QRCodeReadResponse"
          description: QR Code decoded successfully
        "400":
          content:
            application/json:
              examples:
                PZV001:
                  summary: Invalid data. Check the fields provided.
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZV001
                    message: Invalid data. Check the fields provided.
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                    details:
                    - field: emv
                      message: "Too small: expected string to have >=1 characters"
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid QR Code format
        "401":
          content:
            application/json:
              examples:
                PZA100:
                  summary: Unauthorized
                  value:
                    status: ERROR
                    error: Unauthorized
                    errorCode: PZA100
                    message: Unauthorized
                    statusCode: 401
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication failure
        "403":
          content:
            application/json:
              examples:
                PZK401:
                  summary: QR Code reading not enabled for the user.
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZK401
                    message: QR Code reading not enabled for the user.
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZA200:
                  summary: Forbidden
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZA200
                    message: Forbidden
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Operation not allowed
        "424":
          content:
            application/json:
              examples:
                PZI110:
                  summary: Communication error with the financial institution.
                  value:
                    status: ERROR
                    error: Failed Dependency
                    errorCode: PZI110
                    message: Communication error with the financial institution.
                    statusCode: 424
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Failure at the financial institution
        "429":
          content:
            application/json:
              examples:
                PZG429:
                  summary: Query limit reached. Try again shortly. Try again in 30s.
                  value:
                    status: ERROR
                    error: Too Many Requests
                    errorCode: PZG429
                    message: Query limit reached. Try again shortly. Try again in
                      30s.
                    statusCode: 429
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                    retryAfterSeconds: 30
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Rate limit exceeded
        "500":
          content:
            application/json:
              examples:
                PZI101:
                  summary: Operation not supported for this financial institution.
                  value:
                    status: ERROR
                    error: Internal Server Error
                    errorCode: PZI101
                    message: Operation not supported for this financial institution.
                    statusCode: 500
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal error
      security:
      - BearerAuth: []
      summary: Read QR Code
      tags:
      - Keys and DICT
      x-codeSamples:
      - id: curl
        lang: bash
        label: cURL
        source: |-
          curl --request POST \
            --url 'https://api.payzu.processamento.com/v1/pix/qrcode/read' \
            --header 'Authorization: Bearer $PAYZU_TOKEN' \
            --header 'Content-Type: application/json' \
            --data '{
            "emv": "00020101021226770014br.gov.bcb.pix2555api.payzu/pix/qr/v2/013318d6-2d7d-479e-8bb3-b5c7b9da688c5204000053039865802BR5916PAYZU 6007SAOPAULO6217051320260118278956304EC55"
          }'
      - id: js
        lang: js
        label: Node.js
        source: |-
          const url = 'https://api.payzu.processamento.com/v1/pix/qrcode/read';

          const response = await fetch(url, {
            method: 'POST',
            headers: {
              Authorization: `Bearer ${process.env.PAYZU_TOKEN}`,
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              emv: '00020101021226770014br.gov.bcb.pix2555api.payzu/pix/qr/v2/013318d6-2d7d-479e-8bb3-b5c7b9da688c5204000053039865802BR5916PAYZU 6007SAOPAULO6217051320260118278956304EC55'
            }),
          });

          const data = await response.json();
          console.log(data);
      - id: python
        lang: python
        label: Python
        source: |-
          import os
          import requests

          response = requests.post(
              'https://api.payzu.processamento.com/v1/pix/qrcode/read',
              headers={
                  'Authorization': f'Bearer {os.environ["PAYZU_TOKEN"]}',
                  'Content-Type': 'application/json',
              },
              json={
                  'emv': '00020101021226770014br.gov.bcb.pix2555api.payzu/pix/qr/v2/013318d6-2d7d-479e-8bb3-b5c7b9da688c5204000053039865802BR5916PAYZU 6007SAOPAULO6217051320260118278956304EC55'
              },
          )

          print(response.json())
  /proof/{id}:
    get:
      description: "Returns the transaction receipt. By default (`type=pdf`) the response\
        \ is the PDF file; with `type=base64` it is JSON with the `base64` field,\
        \ the PDF as a data URI."
      externalDocs:
        description: Receber pagamento Pix
        url: /docs/pix-processamento/tutoriais/receive-pix
      operationId: get_proof
      parameters:
      - description: Transaction ID.
        example: PAYZU20260814T6NX1CV9MK000000
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Return format.
        example: pdf
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: pdf
          enum:
          - pdf
          - base64
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                base64:
                  summary: As Base64
                  value:
                    base64: "data:application/pdf;base64,JVBERi0xLjQKJ..."
              schema:
                $ref: "#/components/schemas/ProofResponse"
            application/pdf:
              schema:
                description: "Binary PDF (default format, when `type=pdf`)."
                format: binary
                type: string
          description: "Base64 if `type=base64`, otherwise binary PDF."
        "400":
          content:
            application/json:
              examples:
                PZV001:
                  summary: Invalid data. Check the fields provided.
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZV001
                    message: Invalid data. Check the fields provided.
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                    details:
                    - field: type
                      message: "Invalid option: expected one of \"base64\"|\"pdf\""
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Bad Request, payload or query string failed validation"
        "401":
          content:
            application/json:
              examples:
                PZA100:
                  summary: Unauthorized
                  value:
                    status: ERROR
                    error: Unauthorized
                    errorCode: PZA100
                    message: Unauthorized
                    statusCode: 401
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Missing or invalid Bearer token
        "404":
          content:
            application/json:
              examples:
                PZG404:
                  summary: Transaction not found
                  value:
                    status: ERROR
                    error: Not Found
                    errorCode: PZG404
                    message: Transaction not found
                    statusCode: 404
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
        "422":
          content:
            application/json:
              examples:
                PZC320:
                  summary: Transaction not yet processed.
                  value:
                    status: ERROR
                    error: Unprocessable Entity
                    errorCode: PZC320
                    message: Transaction not yet processed.
                    statusCode: 422
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZC321:
                  summary: "Receipt unavailable: transaction canceled without a document."
                  value:
                    status: ERROR
                    error: Unprocessable Entity
                    errorCode: PZC321
                    message: "Receipt unavailable: transaction canceled without a\
                      \ document."
                    statusCode: 422
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Operation refused
        "500":
          content:
            application/json:
              examples:
                PZI103:
                  summary: Internal data missing to complete the operation.
                  value:
                    status: ERROR
                    error: Internal Server Error
                    errorCode: PZI103
                    message: Internal data missing to complete the operation.
                    statusCode: 500
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal error
      security:
      - BearerAuth: []
      summary: Get Transaction Receipt
      tags:
      - Pix Operations
      x-codeSamples:
      - id: curl
        lang: bash
        label: cURL
        source: |-
          curl --request GET \
            --url 'https://api.payzu.processamento.com/v1/proof/PAYZU20260814T6NX1CV9MK000000' \
            --header 'Authorization: Bearer $PAYZU_TOKEN'
      - id: js
        lang: js
        label: Node.js
        source: |-
          const url = 'https://api.payzu.processamento.com/v1/proof/PAYZU20260814T6NX1CV9MK000000';

          const response = await fetch(url, {
            method: 'GET',
            headers: {
              Authorization: `Bearer ${process.env.PAYZU_TOKEN}`,
            },
          });

          const data = await response.json();
          console.log(data);
      - id: python
        lang: python
        label: Python
        source: |-
          import os
          import requests

          response = requests.get(
              'https://api.payzu.processamento.com/v1/proof/PAYZU20260814T6NX1CV9MK000000',
              headers={
                  'Authorization': f'Bearer {os.environ["PAYZU_TOKEN"]}',
              },
          )

          print(response.json())
  /withdraw:
    get:
      description: |-
        Get the latest status and details of a transaction of the account. Provide at least one of `id`, `clientReference`, or `endToEndId`. If more than one is provided, all are applied as filters (AND), which may return no record if they do not point to the same transaction.

        Token permission: `WITHDRAW`.
      externalDocs:
        description: Enviar Pix
        url: /docs/pix-processamento/tutoriais/send-pix
      operationId: get_withdraw
      parameters:
      - description: Transaction ID.
        example: PAYZU20260817B3PL8SG5WQ000000
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: External reference provided when creating the withdrawal.
        example: order_12345
        explode: true
        in: query
        name: clientReference
        required: false
        schema:
          maxLength: 64
          type: string
        style: form
      - description: Pix end-to-end ID.
        example: E00000000202508172159kZ8dQ2mNb1x
        explode: true
        in: query
        name: endToEndId
        required: false
        schema:
          type: string
        style: form
      - description: Virtual sub-account (up to 50 characters) used at creation. Accepted
          as an alternative lookup key.
        example: loja-centro-01
        explode: true
        in: query
        name: virtualAccount
        required: false
        schema:
          maxLength: 50
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                pending:
                  summary: Pending withdrawal
                  value:
                    id: PAYZU20260817B3PL8SG5WQ000000
                    status: PENDING
                    amount: 2
                    type: WITHDRAW
                    qrCodeText: null
                    qrCodeBase64: null
                    qrCodeUrl: null
                    generatedName: null
                    generatedDocument: null
                    generatedEmail: null
                    payerName: null
                    payerDocument: null
                    payerInstitutionIspb: null
                    payerInstitutionName: null
                    payerAccountNumber: "000000"
                    serviceFeeCharged: 1
                    withdrawPixKey: teste@teste.com
                    withdrawPixType: email
                    receiverName: null
                    receiverDocument: null
                    receiverInstitutionIspb: null
                    receiverInstitutionName: null
                    receiverAccountNumber: null
                    endToEndId: null
                    createdAt: 2026-08-11T21:51:29.748Z
                    updatedAt: 2026-08-11T21:51:29.748Z
                    paidAt: null
                    clientReference: withdraw_98765
                    refundEndToEndId: null
                    refundAmount: null
                    refundStatus: null
                    refundReason: null
                    refundDescription: null
                    refundedAt: null
                    cancellationReason: null
                completed:
                  summary: Completed withdrawal
                  value:
                    id: PAYZU20260817B3PL8SG5WQ000000
                    status: COMPLETED
                    amount: 2
                    type: WITHDRAW
                    qrCodeText: null
                    qrCodeBase64: null
                    qrCodeUrl: null
                    generatedName: null
                    generatedDocument: null
                    generatedEmail: null
                    serviceFeeCharged: 1
                    payerName: PayZu Pagamentos Ltda
                    payerDocument: 12.345.678/0001-00
                    payerInstitutionIspb: "23066240"
                    payerInstitutionName: PAYZU IP LTDA.
                    payerAccountNumber: "000000"
                    withdrawPixKey: teste@teste.com
                    withdrawPixType: email
                    receiverName: Maria Santos
                    receiverDocument: "12345678901"
                    receiverInstitutionIspb: "87654321"
                    receiverInstitutionName: Banco Y
                    receiverAccountNumber: null
                    endToEndId: E2306624020251217134500X98765432
                    createdAt: 2026-08-11T21:51:29.748Z
                    updatedAt: 2026-08-11T21:52:15.123Z
                    paidAt: 2026-08-11T21:52:15.123Z
                    clientReference: withdraw_98765
                    refundEndToEndId: null
                    refundAmount: null
                    refundStatus: null
                    refundReason: null
                    refundDescription: null
                    refundedAt: null
                    cancellationReason: null
              schema:
                $ref: "#/components/schemas/Transaction"
          description: Current withdrawal state
        "400":
          content:
            application/json:
              examples:
                PZV001:
                  summary: Invalid data. Check the fields provided.
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZV001
                    message: Invalid data. Check the fields provided.
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                    details:
                    - field: ""
                      message: "You must provide 'id', 'clientReference', 'endToEndId'\
                        \ or 'virtualAccount'"
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Bad Request, payload or query string failed validation"
        "401":
          content:
            application/json:
              examples:
                PZA100:
                  summary: Unauthorized
                  value:
                    status: ERROR
                    error: Unauthorized
                    errorCode: PZA100
                    message: Unauthorized
                    statusCode: 401
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Missing or invalid Bearer token
        "403":
          content:
            application/json:
              examples:
                PZA200:
                  summary: Forbidden
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZA200
                    message: Forbidden
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZA203:
                  summary: Access not allowed from this IP address.
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZA203
                    message: Access not allowed from this IP address.
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZA205:
                  summary: No IP address registered in the whitelist. Register the
                    source IP before oper...
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZA205
                    message: No IP address registered in the whitelist. Register the
                      source IP before operating.
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Operation not allowed, including a token without the required\
            \ permission (PZA200)"
        "404":
          content:
            application/json:
              examples:
                PZG404:
                  summary: Transaction not found
                  value:
                    status: ERROR
                    error: Not Found
                    errorCode: PZG404
                    message: Transaction not found
                    statusCode: 404
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
      security:
      - BearerAuth: []
      summary: Retrieve Withdrawal
      tags:
      - Withdrawals
      x-codeSamples:
      - id: curl
        lang: bash
        label: cURL
        source: |-
          curl --request GET \
            --url 'https://api.payzu.processamento.com/v1/withdraw' \
            --header 'Authorization: Bearer $PAYZU_TOKEN'
      - id: js
        lang: js
        label: Node.js
        source: |-
          const url = 'https://api.payzu.processamento.com/v1/withdraw';

          const response = await fetch(url, {
            method: 'GET',
            headers: {
              Authorization: `Bearer ${process.env.PAYZU_TOKEN}`,
            },
          });

          const data = await response.json();
          console.log(data);
      - id: python
        lang: python
        label: Python
        source: |-
          import os
          import requests

          response = requests.get(
              'https://api.payzu.processamento.com/v1/withdraw',
              headers={
                  'Authorization': f'Bearer {os.environ["PAYZU_TOKEN"]}',
              },
          )

          print(response.json())
    post:
      description: |-
        Send a Pix **cash out** to the specified Pix key.

        Token permission: `WITHDRAW`.
      externalDocs:
        description: Enviar Pix
        url: /docs/pix-processamento/tutoriais/send-pix
      operationId: post_withdraw
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostWithdrawRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                created:
                  summary: Created (PENDING)
                  value:
                    id: PAYZU20260817B3PL8SG5WQ000000
                    status: PENDING
                    amount: 2
                    type: WITHDRAW
                    qrCodeText: null
                    qrCodeBase64: null
                    qrCodeUrl: null
                    generatedName: null
                    generatedDocument: null
                    generatedEmail: null
                    payerName: null
                    payerDocument: null
                    payerInstitutionIspb: null
                    payerInstitutionName: null
                    payerAccountNumber: "000000"
                    serviceFeeCharged: 1
                    withdrawPixKey: teste@teste.com
                    withdrawPixType: email
                    receiverName: null
                    receiverDocument: null
                    receiverInstitutionIspb: null
                    receiverInstitutionName: null
                    receiverAccountNumber: null
                    endToEndId: null
                    createdAt: 2026-08-11T21:51:29.748Z
                    updatedAt: 2026-08-11T21:51:29.748Z
                    paidAt: null
                    clientReference: withdraw_98765
                    refundEndToEndId: null
                    refundAmount: null
                    refundStatus: null
                    refundReason: null
                    refundDescription: null
                    refundedAt: null
                    cancellationReason: null
                completed:
                  summary: Completed
                  value:
                    id: PAYZU20260817B3PL8SG5WQ000000
                    status: COMPLETED
                    amount: 2
                    type: WITHDRAW
                    qrCodeText: null
                    qrCodeBase64: null
                    qrCodeUrl: null
                    generatedName: null
                    generatedDocument: null
                    generatedEmail: null
                    serviceFeeCharged: 1
                    payerName: PayZu Pagamentos Ltda
                    payerDocument: 12.345.678/0001-00
                    payerInstitutionIspb: "23066240"
                    payerInstitutionName: PAYZU IP LTDA.
                    payerAccountNumber: "000000"
                    withdrawPixKey: teste@teste.com
                    withdrawPixType: email
                    receiverName: Maria Santos
                    receiverDocument: "12345678901"
                    receiverInstitutionIspb: "87654321"
                    receiverInstitutionName: Banco Y
                    receiverAccountNumber: null
                    endToEndId: E2306624020251217134500X98765432
                    createdAt: 2026-08-11T21:51:29.748Z
                    updatedAt: 2026-08-11T21:52:15.123Z
                    paidAt: 2026-08-11T21:52:15.123Z
                    clientReference: withdraw_98765
                    refundEndToEndId: null
                    refundAmount: null
                    refundStatus: null
                    refundReason: null
                    refundDescription: null
                    refundedAt: null
                    cancellationReason: null
              schema:
                $ref: "#/components/schemas/Transaction"
          description: Withdrawal created
        "400":
          content:
            application/json:
              examples:
                PZV001:
                  summary: Invalid data. Check the fields provided.
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZV001
                    message: Invalid data. Check the fields provided.
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                    details:
                    - field: pixKey
                      message: "Invalid input: expected string, received undefined"
                PZS600:
                  summary: The minimum withdrawal amount is R$ 1.00.
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZS600
                    message: The minimum withdrawal amount is R$ 1.00.
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZS601:
                  summary: "The maximum withdrawal amount is R$ 50,000.00."
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZS601
                    message: "The maximum withdrawal amount is R$ 50,000.00."
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZS602:
                  summary: The withdrawal amount is outside the financial institution's
                    limits.
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZS602
                    message: The withdrawal amount is outside the financial institution's
                      limits.
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Bad Request, payload or query string failed validation"
        "401":
          content:
            application/json:
              examples:
                PZA100:
                  summary: Unauthorized
                  value:
                    status: ERROR
                    error: Unauthorized
                    errorCode: PZA100
                    message: Unauthorized
                    statusCode: 401
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Missing or invalid Bearer token
        "403":
          content:
            application/json:
              examples:
                PZA200:
                  summary: Forbidden
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZA200
                    message: Forbidden
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZA203:
                  summary: Access not allowed from this IP address.
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZA203
                    message: Access not allowed from this IP address.
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZA205:
                  summary: No IP address registered in the whitelist. Register the
                    source IP before oper...
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZA205
                    message: No IP address registered in the whitelist. Register the
                      source IP before operating.
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZA206:
                  summary: Account awaiting contract signature. Sign the contract
                    sent to the legal repre...
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZA206
                    message: Account awaiting contract signature. Sign the contract
                      sent to the legal representative to release operations.
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Operation not allowed, including a token without the required\
            \ permission (PZA200)"
        "422":
          content:
            application/json:
              examples:
                PZS200:
                  summary: Withdrawal not allowed for this account at the moment.
                  value:
                    status: ERROR
                    error: Unprocessable Entity
                    errorCode: PZS200
                    message: Withdrawal not allowed for this account at the moment.
                    statusCode: 422
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Operation refused
        "424":
          content:
            application/json:
              examples:
                PZS500:
                  summary: No financial institution available for the withdrawal at
                    the moment. Try agai...
                  value:
                    status: ERROR
                    error: Failed Dependency
                    errorCode: PZS500
                    message: No financial institution available for the withdrawal
                      at the moment. Try again shortly.
                    statusCode: 424
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                    retryAfterSeconds: 5
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Failure at the financial institution
      security:
      - BearerAuth: []
      summary: Create Withdrawal (Pix key)
      tags:
      - Withdrawals
      x-codeSamples:
      - id: curl
        lang: bash
        label: cURL
        source: |-
          curl --request POST \
            --url 'https://api.payzu.processamento.com/v1/withdraw' \
            --header 'Authorization: Bearer $PAYZU_TOKEN' \
            --header 'Content-Type: application/json' \
            --data '{
            "amount": 2,
            "pixKey": "teste@teste.com",
            "pixType": "email",
            "callbackUrl": "https://webhook.cool/",
            "clientReference": "withdraw_98765",
            "description": "Weekly payout",
            "virtualAccount": "loja-centro-01"
          }'
      - id: js
        lang: js
        label: Node.js
        source: |-
          const url = 'https://api.payzu.processamento.com/v1/withdraw';

          const response = await fetch(url, {
            method: 'POST',
            headers: {
              Authorization: `Bearer ${process.env.PAYZU_TOKEN}`,
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              amount: 2,
              pixKey: 'teste@teste.com',
              pixType: 'email',
              callbackUrl: 'https://webhook.cool/',
              clientReference: 'withdraw_98765',
              description: 'Weekly payout',
              virtualAccount: 'loja-centro-01'
            }),
          });

          const data = await response.json();
          console.log(data);
      - id: python
        lang: python
        label: Python
        source: |-
          import os
          import requests

          response = requests.post(
              'https://api.payzu.processamento.com/v1/withdraw',
              headers={
                  'Authorization': f'Bearer {os.environ["PAYZU_TOKEN"]}',
                  'Content-Type': 'application/json',
              },
              json={
                  'amount': 2,
                  'pixKey': 'teste@teste.com',
                  'pixType': 'email',
                  'callbackUrl': 'https://webhook.cool/',
                  'clientReference': 'withdraw_98765',
                  'description': 'Weekly payout',
                  'virtualAccount': 'loja-centro-01'
              },
          )

          print(response.json())
  /withdraw/qrcode:
    post:
      description: |-
        Cash out using a **Pix QR Code** (static/dynamic). If `amount` is not provided, the QR Code's embedded value will be used. PayZu processes both dynamic and static QR Codes.

        Token permission: `WITHDRAW`.
      externalDocs:
        description: Enviar Pix
        url: /docs/pix-processamento/tutoriais/send-pix
      operationId: post_withdraw_qrcode
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostWithdrawQrcodeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                with_amount:
                  summary: Created with custom amount
                  value:
                    id: PAYZU20261106M5KT9WB2LC000000
                    status: PENDING
                    amount: 20
                    type: WITHDRAW
                    qrCodeText: null
                    qrCodeBase64: null
                    qrCodeUrl: null
                    generatedName: null
                    generatedDocument: null
                    generatedEmail: null
                    serviceFeeCharged: 1
                    payerName: null
                    payerDocument: null
                    payerInstitutionIspb: null
                    payerInstitutionName: null
                    payerAccountNumber: "000000"
                    withdrawPixKey: "88888888888"
                    withdrawPixType: cpf
                    receiverName: null
                    receiverDocument: null
                    receiverInstitutionIspb: null
                    receiverInstitutionName: null
                    receiverAccountNumber: null
                    endToEndId: null
                    createdAt: 2025-11-06T19:08:55.848Z
                    updatedAt: 2025-11-06T19:08:55.848Z
                    paidAt: null
                    clientReference: order-123
                    refundEndToEndId: null
                    refundAmount: null
                    refundStatus: null
                    refundReason: null
                    refundDescription: null
                    refundedAt: null
                    cancellationReason: null
                without_amount:
                  summary: Created using QR Code value
                  value:
                    id: PAYZU20261106M5KT9WB2LD000000
                    status: PENDING
                    amount: 150
                    type: WITHDRAW
                    qrCodeText: null
                    qrCodeBase64: null
                    qrCodeUrl: null
                    generatedName: null
                    generatedDocument: null
                    generatedEmail: null
                    serviceFeeCharged: 1
                    payerName: null
                    payerDocument: null
                    payerInstitutionIspb: null
                    payerInstitutionName: null
                    payerAccountNumber: "000000"
                    withdrawPixKey: example@payzu.com.br
                    withdrawPixType: email
                    receiverName: null
                    receiverDocument: null
                    receiverInstitutionIspb: null
                    receiverInstitutionName: null
                    receiverAccountNumber: null
                    endToEndId: null
                    createdAt: 2025-11-06T19:10:00.000Z
                    updatedAt: 2025-11-06T19:10:00.000Z
                    paidAt: null
                    clientReference: order-12323456
                    refundEndToEndId: null
                    refundAmount: null
                    refundStatus: null
                    refundReason: null
                    refundDescription: null
                    refundedAt: null
                    cancellationReason: null
              schema:
                $ref: "#/components/schemas/Transaction"
          description: Withdrawal created from QR Code
        "400":
          content:
            application/json:
              examples:
                PZV001:
                  summary: Invalid or malformed QR Code
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZV001
                    message: Invalid or malformed QR Code
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZS603:
                  summary: The amount provided (R$ 100.00) does not match the QR Code
                    amount (R$ 150.00).
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZS603
                    message: The amount provided (R$ 100.00) does not match the QR
                      Code amount (R$ 150.00).
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZS604:
                  summary: Providing the amount is required.
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZS604
                    message: Providing the amount is required.
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZS600:
                  summary: The minimum withdrawal amount is R$ 1.00.
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZS600
                    message: The minimum withdrawal amount is R$ 1.00.
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZS601:
                  summary: "The maximum withdrawal amount is R$ 50,000.00."
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZS601
                    message: "The maximum withdrawal amount is R$ 50,000.00."
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZS602:
                  summary: The withdrawal amount is outside the financial institution's
                    limits.
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZS602
                    message: The withdrawal amount is outside the financial institution's
                      limits.
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZK601:
                  summary: Invalid or malformed QR Code.
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZK601
                    message: Invalid or malformed QR Code.
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid QR Code or missing amount for static QR Code without
            value
        "401":
          content:
            application/json:
              examples:
                PZA100:
                  summary: Unauthorized
                  value:
                    status: ERROR
                    error: Unauthorized
                    errorCode: PZA100
                    message: Unauthorized
                    statusCode: 401
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Authentication failure
        "403":
          content:
            application/json:
              examples:
                PZA200:
                  summary: Forbidden
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZA200
                    message: Forbidden
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZA203:
                  summary: Access not allowed from this IP address.
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZA203
                    message: Access not allowed from this IP address.
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZA205:
                  summary: No IP address registered in the whitelist. Register the
                    source IP before oper...
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZA205
                    message: No IP address registered in the whitelist. Register the
                      source IP before operating.
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZA206:
                  summary: Account awaiting contract signature. Sign the contract
                    sent to the legal repre...
                  value:
                    status: ERROR
                    error: Forbidden
                    errorCode: PZA206
                    message: Account awaiting contract signature. Sign the contract
                      sent to the legal representative to release operations.
                    statusCode: 403
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Operation not allowed
        "422":
          content:
            application/json:
              examples:
                PZS200:
                  summary: Withdrawal not allowed for this account at the moment.
                  value:
                    status: ERROR
                    error: Unprocessable Entity
                    errorCode: PZS200
                    message: Withdrawal not allowed for this account at the moment.
                    statusCode: 422
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Operation refused
        "424":
          content:
            application/json:
              examples:
                PZS500:
                  summary: No financial institution available for the withdrawal at
                    the moment. Try agai...
                  value:
                    status: ERROR
                    error: Failed Dependency
                    errorCode: PZS500
                    message: No financial institution available for the withdrawal
                      at the moment. Try again shortly.
                    statusCode: 424
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                    retryAfterSeconds: 5
                PZK101:
                  summary: Could not query the QR Code with the financial institution.
                  value:
                    status: ERROR
                    error: Failed Dependency
                    errorCode: PZK101
                    message: Could not query the QR Code with the financial institution.
                    statusCode: 424
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Failure at the financial institution
        "429":
          content:
            application/json:
              examples:
                PZG429:
                  summary: Query limit reached. Try again shortly. Try again in 30s.
                  value:
                    status: ERROR
                    error: Too Many Requests
                    errorCode: PZG429
                    message: Query limit reached. Try again shortly. Try again in
                      30s.
                    statusCode: 429
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                    retryAfterSeconds: 30
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Rate limit exceeded
      security:
      - BearerAuth: []
      summary: Create Withdrawal using QR Code
      tags:
      - Withdrawals
      x-codeSamples:
      - id: curl
        lang: bash
        label: cURL
        source: |-
          curl --request POST \
            --url 'https://api.payzu.processamento.com/v1/withdraw/qrcode' \
            --header 'Authorization: Bearer $PAYZU_TOKEN' \
            --header 'Content-Type: application/json' \
            --data '{
            "qrCode": "00020101021226770014br.gov.bcb.pix2555api.payzu/pix/qr/v2/013318d6-2d7d-479e-8bb3-b5c7b9da688c5204000053039865802BR5916PAYZU 6007SAOPAULO6217051320260118278956304EC55",
            "amount": 20,
            "callbackUrl": "https://webhook.cool/",
            "description": "Pagamento via QR Code",
            "clientReference": "order-123",
            "virtualAccount": "loja-centro-01"
          }'
      - id: js
        lang: js
        label: Node.js
        source: |-
          const url = 'https://api.payzu.processamento.com/v1/withdraw/qrcode';

          const response = await fetch(url, {
            method: 'POST',
            headers: {
              Authorization: `Bearer ${process.env.PAYZU_TOKEN}`,
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              qrCode: '00020101021226770014br.gov.bcb.pix2555api.payzu/pix/qr/v2/013318d6-2d7d-479e-8bb3-b5c7b9da688c5204000053039865802BR5916PAYZU 6007SAOPAULO6217051320260118278956304EC55',
              amount: 20,
              callbackUrl: 'https://webhook.cool/',
              description: 'Pagamento via QR Code',
              clientReference: 'order-123',
              virtualAccount: 'loja-centro-01'
            }),
          });

          const data = await response.json();
          console.log(data);
      - id: python
        lang: python
        label: Python
        source: |-
          import os
          import requests

          response = requests.post(
              'https://api.payzu.processamento.com/v1/withdraw/qrcode',
              headers={
                  'Authorization': f'Bearer {os.environ["PAYZU_TOKEN"]}',
                  'Content-Type': 'application/json',
              },
              json={
                  'qrCode': '00020101021226770014br.gov.bcb.pix2555api.payzu/pix/qr/v2/013318d6-2d7d-479e-8bb3-b5c7b9da688c5204000053039865802BR5916PAYZU 6007SAOPAULO6217051320260118278956304EC55',
                  'amount': 20,
                  'callbackUrl': 'https://webhook.cool/',
                  'description': 'Pagamento via QR Code',
                  'clientReference': 'order-123',
                  'virtualAccount': 'loja-centro-01'
              },
          )

          print(response.json())
  /withdraw/proof/{id}:
    get:
      description: "Returns the transaction receipt. By default (`type=pdf`) the response\
        \ is the PDF file; with `type=base64` it is JSON with the `base64` field,\
        \ the PDF as a data URI."
      externalDocs:
        description: Enviar Pix
        url: /docs/pix-processamento/tutoriais/send-pix
      operationId: get_withdraw_proof
      parameters:
      - description: Transaction ID.
        example: PAYZU20260817B3PL8SG5WQ000000
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Return format.
        example: pdf
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: pdf
          enum:
          - pdf
          - base64
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                base64:
                  summary: As Base64
                  value:
                    base64: "data:application/pdf;base64,JVBERi0xLjQKJ..."
              schema:
                $ref: "#/components/schemas/ProofResponse"
            application/pdf:
              schema:
                description: "Binary PDF (default format, when `type=pdf`)."
                format: binary
                type: string
          description: "Base64 if `type=base64`, otherwise binary PDF."
        "400":
          content:
            application/json:
              examples:
                PZV001:
                  summary: Invalid data. Check the fields provided.
                  value:
                    status: ERROR
                    error: Bad Request
                    errorCode: PZV001
                    message: Invalid data. Check the fields provided.
                    statusCode: 400
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                    details:
                    - field: type
                      message: "Invalid option: expected one of \"base64\"|\"pdf\""
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Bad Request, payload or query string failed validation"
        "401":
          content:
            application/json:
              examples:
                PZA100:
                  summary: Unauthorized
                  value:
                    status: ERROR
                    error: Unauthorized
                    errorCode: PZA100
                    message: Unauthorized
                    statusCode: 401
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Missing or invalid Bearer token
        "404":
          content:
            application/json:
              examples:
                PZG404:
                  summary: Transaction not found
                  value:
                    status: ERROR
                    error: Not Found
                    errorCode: PZG404
                    message: Transaction not found
                    statusCode: 404
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Resource not found
        "422":
          content:
            application/json:
              examples:
                PZC320:
                  summary: Transaction not yet processed.
                  value:
                    status: ERROR
                    error: Unprocessable Entity
                    errorCode: PZC320
                    message: Transaction not yet processed.
                    statusCode: 422
                    requestId: cmbz0f8qk0001js04hp3e2n0f
                PZC321:
                  summary: "Receipt unavailable: transaction canceled without a document."
                  value:
                    status: ERROR
                    error: Unprocessable Entity
                    errorCode: PZC321
                    message: "Receipt unavailable: transaction canceled without a\
                      \ document."
                    statusCode: 422
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Operation refused
        "500":
          content:
            application/json:
              examples:
                PZI103:
                  summary: Internal data missing to complete the operation.
                  value:
                    status: ERROR
                    error: Internal Server Error
                    errorCode: PZI103
                    message: Internal data missing to complete the operation.
                    statusCode: 500
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Internal error
      security:
      - BearerAuth: []
      summary: Get Withdrawal Receipt
      tags:
      - Withdrawals
      x-codeSamples:
      - id: curl
        lang: bash
        label: cURL
        source: |-
          curl --request GET \
            --url 'https://api.payzu.processamento.com/v1/withdraw/proof/PAYZU20260817B3PL8SG5WQ000000' \
            --header 'Authorization: Bearer $PAYZU_TOKEN'
      - id: js
        lang: js
        label: Node.js
        source: |-
          const url = 'https://api.payzu.processamento.com/v1/withdraw/proof/PAYZU20260817B3PL8SG5WQ000000';

          const response = await fetch(url, {
            method: 'GET',
            headers: {
              Authorization: `Bearer ${process.env.PAYZU_TOKEN}`,
            },
          });

          const data = await response.json();
          console.log(data);
      - id: python
        lang: python
        label: Python
        source: |-
          import os
          import requests

          response = requests.get(
              'https://api.payzu.processamento.com/v1/withdraw/proof/PAYZU20260817B3PL8SG5WQ000000',
              headers={
                  'Authorization': f'Bearer {os.environ["PAYZU_TOKEN"]}',
              },
          )

          print(response.json())
  /user:
    get:
      description: "Account profile, permissions, limits and fee rules."
      operationId: get_user
      responses:
        "200":
          content:
            application/json:
              examples:
                ok:
                  summary: Account information
                  value:
                    accountNumber: "000000"
                    branch: "0001"
                    name: PAYZU
                    role: USER
                    balanceAvailable: 231.46
                    balanceBlocked: 0
                    status: ACTIVE
                    allowWithdraw: true
                    allowDeposit: true
                    cashInTicketMin: 1
                    cashInTicketMax: 5000
                    cashOutTicketMin: 1
                    cashOutTicketMax: 5000
                    ServiceFee:
                      cashInMinimum: 0
                      cashInFixed: 0
                      cashInPercent: 0
                      cashOutMinimum: 0
                      cashOutFixed: 0
                      cashOutPercent: 0
                    DailyWithdrawLimit:
                      limit: 50000
                      used: 1200
                      updatedAt: 2025-10-21T21:16:47.759Z
                      lastReset: 2025-10-21T21:16:47.759Z
              schema:
                $ref: "#/components/schemas/get_user_200_response"
          description: Account data
        "401":
          content:
            application/json:
              examples:
                PZA100:
                  summary: Unauthorized
                  value:
                    status: ERROR
                    error: Unauthorized
                    errorCode: PZA100
                    message: Unauthorized
                    statusCode: 401
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Unauthorized, missing or invalid Bearer token, or token lacks\
            \ the required permission for this endpoint"
      security:
      - BearerAuth: []
      summary: Account Info
      tags:
      - Account
      x-codeSamples:
      - id: curl
        lang: bash
        label: cURL
        source: |-
          curl --request GET \
            --url 'https://api.payzu.processamento.com/v1/user' \
            --header 'Authorization: Bearer $PAYZU_TOKEN'
      - id: js
        lang: js
        label: Node.js
        source: |-
          const url = 'https://api.payzu.processamento.com/v1/user';

          const response = await fetch(url, {
            method: 'GET',
            headers: {
              Authorization: `Bearer ${process.env.PAYZU_TOKEN}`,
            },
          });

          const data = await response.json();
          console.log(data);
      - id: python
        lang: python
        label: Python
        source: |-
          import os
          import requests

          response = requests.get(
              'https://api.payzu.processamento.com/v1/user',
              headers={
                  'Authorization': f'Bearer {os.environ["PAYZU_TOKEN"]}',
              },
          )

          print(response.json())
  /user/balance:
    get:
      description: Available and blocked balances.
      operationId: get_user_balance
      responses:
        "200":
          content:
            application/json:
              examples:
                ok:
                  summary: Current balance
                  value:
                    balanceAvailable: 231.46
                    balanceBlocked: 0
              schema:
                $ref: "#/components/schemas/get_user_balance_200_response"
          description: Balances
        "401":
          content:
            application/json:
              examples:
                PZA100:
                  summary: Unauthorized
                  value:
                    status: ERROR
                    error: Unauthorized
                    errorCode: PZA100
                    message: Unauthorized
                    statusCode: 401
                    requestId: cmbz0f8qk0001js04hp3e2n0f
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Unauthorized, missing or invalid Bearer token, or token lacks\
            \ the required permission for this endpoint"
      security:
      - BearerAuth: []
      summary: Account Balance
      tags:
      - Account
      x-codeSamples:
      - id: curl
        lang: bash
        label: cURL
        source: |-
          curl --request GET \
            --url 'https://api.payzu.processamento.com/v1/user/balance' \
            --header 'Authorization: Bearer $PAYZU_TOKEN'
      - id: js
        lang: js
        label: Node.js
        source: |-
          const url = 'https://api.payzu.processamento.com/v1/user/balance';

          const response = await fetch(url, {
            method: 'GET',
            headers: {
              Authorization: `Bearer ${process.env.PAYZU_TOKEN}`,
            },
          });

          const data = await response.json();
          console.log(data);
      - id: python
        lang: python
        label: Python
        source: |-
          import os
          import requests

          response = requests.get(
              'https://api.payzu.processamento.com/v1/user/balance',
              headers={
                  'Authorization': f'Bearer {os.environ["PAYZU_TOKEN"]}',
              },
          )

          print(response.json())
  /user/transactions:
    get:
      description: Paginated list of account transactions with filters.
      externalDocs:
        description: Reconciliation
        url: /docs/pix-processamento/tutoriais/reconciliation
      operationId: get_user_transactions
      parameters:
      - description: Start date or date-time (ISO 8601).
        example: 2026-08-01
        explode: true
        in: query
        name: dateFrom
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End date or date-time (ISO 8601). A date without time means 00:00
          UTC of that day.
        example: 2026-08-31
        explode: true
        in: query
        name: dateTo
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Items per page (max 1000).
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: Page number (default 1).
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 100000
          minimum: 1
          type: integer
        style: form
      - description: Transaction ID.
        example: PAYZU20260814T6NX1CV9MK000000
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: "Transaction status. Accepts CSV: PENDING,COMPLETED,etc."
        example: COMPLETED
        explode: true
        in: query
        name: status
        required: false
        schema:
          example: "COMPLETED,PENDING"
          type: string
        style: form
      - description: "Transaction type. Accepts CSV: DEPOSIT,WITHDRAW,COMMISSION,LIQUIDATION,ADJUSTMENT."
        example: DEPOSIT
        explode: true
        in: query
        name: type
        required: false
        schema:
          example: "DEPOSIT,WITHDRAW"
          type: string
        style: form
      - description: "Transaction method/rail. Accepts CSV: PIX,INTERNAL_TRANSFER."
        example: PIX
        explode: true
        in: query
        name: method
        required: false
        schema:
          example: "PIX,INTERNAL_TRANSFER"
          type: string
        style: form
      - description: Amount filter. Minimum 0.01.
        example: 15000
        explode: true
        in: query
        name: amount
        required: false
        schema:
          minimum: 0.01
          type: number
        style: form
      - description: "CPF (11 digits) or CNPJ (14 digits), digits only, no punctuation."
        example: "12345678901"
        explode: true
        in: query
        name: document
        required: false
        schema:
          pattern: "^[0-9]{11,14}$"
          type: string
        style: form
      - description: Name filter.
        example: Alice
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Pix end-to-end ID.
        example: E00000000202508172159kZ8dQ2mNb1x
        explode: true
        in: query
        name: endToEndId
        required: false
        schema:
          type: string
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: createdAt
          enum:
          - createdAt
          - updatedAt
          type: string
        style: form
      - description: Sort direction
        explode: true
        in: query
        name: sortDirection
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Filter by external reference
        example: order_12345
        explode: true
        in: query
        name: clientReference
        required: false
        schema:
          maxLength: 64
          type: string
        style: form
      - description: Virtual sub-account (up to 50 characters) used at creation. Accepted
          as an alternative lookup key.
        example: loja-centro-01
        explode: true
        in: query
        name: virtualAccount
        required: false
        schema:
          maxLength: 50
          type: string
        style: form
      - description: Only transactions with (true) or without (false) QR Code.
        explode: true
        in: query
        name: hasQrCode
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                two:
                  summary: Two deposits
                  value:
[...]
